{% extends "heron/update_create_courant.html" %}

{% load filters_tags %}

{% block table %}

    <div class="sixteen wide column" style="padding: 0;margin: 10px;">
      <div class="ui segment" style="padding-bottom: 0;">
        <h4 class="ui floated header" style="margin-bottom: 5px;">Centre de coût</h4>
        <div class="ui clearing divider"></div>
        <div class="ui mini form" style="font-size: 12px;font-weight:bold;">

          <div class="fields">
              <div class="two wide field">
                <label for="id_cct" style="text-align: left;">CCT X3&nbsp;:</label>
                {% if create %}
                    {{form.cct}}
                {% else %}
                    <input type="text"
                           name="cct"
                           value="{{ form.cct.value }}"
                           required=""
                           id="id_cct"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
                {% endif %}
              </div>
              <div class="four wide field">
                <label for="id_intitule" style="text-align: left;">Intitulé&nbsp;:</label>
                {{ form.intitule }}
              </div>
              <div class="two wide field">
                <label for="id_intitule_court" style="text-align: left;">Intitulé court&nbsp;:</label>
                {{ form.intitule_court }}
              </div>

              <div class="six wide field">
                  {% with third=form.third_party_num.value|get_third_party %}
                    <div class="field remote search">
                        <div class="field remote search">
                        <label for="id_third_party_num">Tiers Client X3&nbsp;:</label>
                        <div class="ui search dropdown search-model selection">
                            <select name="third_party_num" data-models="societies" id="id_third_party_num">
                                <option value="{{ form.third_party_num.value }}" selected="">{{ third }}</option>
                                <option value="" class="addition"></option>
                            </select><i class="dropdown icon clear"></i>
                            <input class="search" autocomplete="off">
                            <div class="text">{{ third }}</div>
                            <div class="menu transition hidden" tabindex="-1">
                                <div class="item active selected" data-value="{{ form.third_party_num.value }}">{{ third }}</div>
                            </div>
                        </div>
                        </div>
                    </div>
                  {% endwith %}
              </div>
              </div>
          <div class="fields">
              <div class="two wide field">
                <label for="id_code_maison" style="text-align: left;">Code maison B.I&nbsp;:</label>
                <input type="text"
                       name="code_maison"
                       value="{{ form.code_maison.value|default_if_none:'' }}"
                       id="id_code_maison"
                       style="font-weight: bold;">
              </div>
              <div class="two wide field">
                <label for="id_code_bbgr" style="text-align: left;">Code BBGR B.I&nbsp;:</label>
                <input type="text"
                       name="code_bbgr"
                       value="{{ form.code_bbgr.value|default_if_none:'' }}"
                       id="id_code_bbgr"
                       style="font-weight: bold;">
              </div>
              <div class="two wide field">
                <label for="id_code_cosium" style="text-align: left;">Code cosium B.I&nbsp;:</label>
                <input type="text"
                       name="code_cosium"
                       value="{{ form.code_cosium.value|default_if_none:'' }}"
                       id="id_code_cosium"
                       style="font-weight: bold;">
              </div>
              <div class="two wide field">
                  <label for="id_reference_cosium" style="text-align: left;">Référence Cosium&nbsp;:</label>
                    <input type="text"
                           name="reference_cosium"
                           value="{{ form.reference_cosium.value|default_if_none:'' }}"
                           id="id_reference_cosium"
                           style="font-weight: bold;">
              </div>
{#              <div class="two wide field">#}
{#                <label for="id_integrable" style="text-align: center;">Achat à Intégrer</label>#}
{#                {{ form.integrable }}#}
{#              </div>#}
              <div class="two wide field">
                  <label for="id_type_x3" style="text-align: left;">Type Vente</label>
                    {{ form.type_x3 }}
              </div>
{#              <div class="two wide field">#}
{#                <label for="id_chargeable" style="text-align: center;">A Refacturer</label>#}
{#                {{ form.chargeable }}#}
{#              </div>#}
{#              <div class="two wide field">#}
{#                <label for="id_od_ana" style="text-align: center;">OD SUCC</label>#}
{#                {{ form.od_ana }}#}
{#              </div>#}
          </div>


        </div>

        <h4 class="ui floated header" style="margin-bottom: 5px;">Identifiants</h4>
        <div class="ui clearing divider"></div>
        <div class="ui mini form" style="font-size: 12px;font-weight:bold;">
          <div class="fields">
              <div class="three wide field">
                <label for="id_siren_number" style="text-align: left;">N° Siren&nbsp;:</label>
                {{ form.siren_number }}
              </div>
              <div class="three wide field">
                <label for="id_siret_number" style="text-align: left;">N° Siret&nbsp;:</label>
                {{ form.siret_number }}
              </div>
              <div class="three wide field">
                <label for="id_vat_cee_number" style="text-align: left;">N° TVA Intra.&nbsp;:</label>
                {{ form.vat_cee_number }}
              </div>

          </div>

        </div>
      </div>
    </div>

    <div class="sixteen wide column" style="padding: 0;margin: 10px;">
      <div class="ui segment" style="padding-bottom: 0;">
        <h4 class="ui floated header" style="margin-bottom: 5px;">Adresse</h4>
        <div class="ui clearing divider"></div>
        <div class="ui mini form" style="font-size: 12px;font-weight:bold;">

          <div class="fields">

              <div class="six wide field">
                <label for="id_immeuble" style="text-align: left;">Immeuble&nbsp;:</label>
                {{ form.immeuble }}
              </div>

              <div class="six wide field">
                <label for="id_adresse" style="text-align: left;">Adresse&nbsp;:</label>
                {{ form.adresse }}
              </div>

          </div>

          <div class="fields">

              <div class="one wide field">
                <label for="id_code_postal" style="text-align: left;">Code Postal&nbsp;:</label>
                {{ form.code_postal }}
              </div>
              <div class="five wide field">
                <label for="id_ville" style="text-align: left;">Ville&nbsp;:</label>
                {{ form.ville }}
              </div>
              <div class="two wide field">
                <label for="id_pays" style="text-align: left;">Pays&nbsp;:</label>
                {{ form.pays }}
              </div>
              <div class="two wide field">
                <label for="id_telephone" style="text-align: left;">Téléphone&nbsp;:</label>
                {{ form.telephone }}
              </div>
              <div class="two wide field">
                <label for="id_mobile" style="text-align: left;">Mobile&nbsp;:</label>
                {{ form.mobile }}
              </div>
          </div>
            {% if not create %}
                <div class="fields">
                    <div class="six wide field">
                    <label for="id_email_01" style="text-align: left;">Email 01 - Tiers Client X3&nbsp;:</label>
                        <input type="text"
                               name="email_01"
                               value="{{ adresse_principale_sage.email_01|default_if_none:''}}"
                               required=""
                               id="id_email_01"
                               readonly
                               style="background-color: #efefff;font-weight: bold;">
                    </div>
                    <div class="six wide field">
                    <label for="id_email_02" style="text-align: left;">Email 02 - Tiers Client X3&nbsp;:</label>
                        <input type="text"
                               name="email_02"
                               value="{{ adresse_principale_sage.email_02|default_if_none:''}}"
                               required=""
                               id="id_email_02"
                               readonly
                               style="background-color: #efefff;font-weight: bold;">
                    </div>
                    <div class="six wide field">
                    <label for="id_email_03" style="text-align: left;">Email 03 - Tiers Client X3&nbsp;:</label>
                        <input type="text"
                               name="email_03"
                               value="{{ adresse_principale_sage.email_03|default_if_none:''}}"
                               required=""
                               id="id_email_03"
                               readonly
                               style="background-color: #efefff;font-weight: bold;">
                    </div>
                    <div class="six wide field">
                    <label for="id_email_04" style="text-align: left;">Email 04 - Tiers Client X3&nbsp;:</label>
                        <input type="text"
                               name="email_04"
                               value="{{ adresse_principale_sage.email_04|default_if_none:''}}"
                               required=""
                               id="id_email_04"
                               readonly
                               style="background-color: #efefff;font-weight: bold;">
                    </div>
                    <div class="six wide field">
                        <label for="id_email_05" style="text-align: left;">Email 05 - Tiers Client X3&nbsp;:</label>
                        <input type="text"
                               name="email_05"
                               value="{{ adresse_principale_sage.email_05|default_if_none:''}}"
                               required=""
                               id="id_email_05"
                               readonly
                               style="background-color: #efefff;font-weight: bold;">
                    </div>
                  <div class="six wide field">
                    <label for="id_email" style="text-align: left;">Email - Client Heron&nbsp;:</label>
                    {{ form.email }}
                  </div>
                </div>
            {% endif %}
        </div>
      </div>
    </div>

    <div class="sixteen wide column" style="padding: 0;margin: 10px;">
      <div class="ui segment" style="padding-bottom: 0;">
        <h4 class="ui floated header" style="margin-bottom: 5px;">Centrale</h4>
        <div class="ui clearing divider"></div>
        <div class="ui mini form" style="font-size: 12px;font-weight:bold;">

          <div class="fields">

              <div class="two wide field">
                <label for="id_center_purchase" style="text-align: left;">Centrale Fille&nbsp;:</label>
                {{ form.center_purchase }}
              </div>
              <div class="two wide field">
                <label for="id_sign_board" style="text-align: left;">Enseigne&nbsp;:</label>
                {{ form.sign_board }}
              </div>
              <div class="two wide field">
                <label for="id_client_familly" style="text-align: left;">Catégorie Client&nbsp;:</label>
                {{ form.client_familly }}
              </div>
              <div class="two wide field">
                <label for="id_opening_date" style="text-align: left;">Date Ouverture&nbsp;:</label>
                    {{form.opening_date}}
              </div>
              <div class="two wide field">
                <label for="id_closing_date" style="text-align: left;">Date Fermeture&nbsp;:</label>
                {{ form.closing_date }}
              </div>
              <div class="two wide field">
                <label for="id_signature_franchise_date" style="text-align: left;">Date signature contrat&nbsp;:</label>
                {{ form.signature_franchise_date }}
              </div>
              <div class="two wide field">
                <label for="id_agreement_franchise_end_date" style="text-align: left;">Date signature fin de contrat&nbsp;:</label>
                {{ form.agreement_franchise_end_date }}
              </div>
              <div class="two wide field">
                <label for="id_agreement_renew_date" style="text-align: left;">Date renouvellement contrat&nbsp;:</label>
                {{ form.agreement_renew_date }}
              </div>

          </div>

          <div class="fields">

              <div class="two wide field">
                <label for="id_currency" style="text-align: left;">Devise&nbsp;:</label>
                {{ form.currency }}
              </div>
              <div class="two wide field">
                <label for="id_language" style="text-align: left;">Langue&nbsp;:</label>
                {{ form.language }}
              </div>
              <div class="two wide field">
                <label for="id_sage_vat_by_default" style="text-align: left;">TVA X3&nbsp;:</label>
                {{ form.sage_vat_by_default }}
              </div>
              <div class="two wide field">
                <label for="id_rfa_frequence" style="text-align: left;">Fréquence RFA&nbsp;:</label>
                {{ form.rfa_frequence }}
              </div>
              <div class="two wide field">
                <label for="id_rfa_remise" style="text-align: left;">Remise RFA&nbsp;:</label>
                {{ form.rfa_remise }}
              </div>
              <div class="two wide field">
                <label for="id_sage_plan_code" style="text-align: left;">Plan X3&nbsp;:</label>
                {{ form.sage_plan_code }}
              </div>
              <div class="four wide field">
                  <label for="id_axe_bu" style="text-align: left;">AXE BU&nbsp;:</label>
                  {{ form.axe_bu }}
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sixteen wide column" style="padding: 0;margin: 10px;">
      <div class="ui segment" style="padding-bottom: 0;">
        <h4 class="ui floated header" style="margin-bottom: 5px;">Refacturation</h4>
        <div class="ui clearing divider"></div>
        <div class="ui mini form" style="font-size: 12px;font-weight:bold;">

          <div class="fields">

              <div class="two wide field">
                <label for="id_entry_fee_amount" style="text-align: left;">Droit d'entrée&nbsp;:</label>
                {{ form.entry_fee_amount }}
              </div>
              <div class="two wide field">
                <label for="id_renew_fee_amoount" style="text-align: left;">Droit Renouvellement&nbsp;:</label>
                {{ form.renew_fee_amoount }}
              </div>
              <div class="two wide field">
                <label for="id_sale_price_category" style="text-align: left;">Catégorie de prix&nbsp;:</label>
                {{ form.sale_price_category }}
              </div>
              <div class="one wide field">
                <label for="id_generic_coefficient" style="text-align: left;">Coéf. vente&nbsp;:</label>
                {{ form.generic_coefficient }}
              </div>
              <div class="two wide field">
                <label for="id_credit_account" style="text-align: left;">Compte au Crédit&nbsp;:</label>
                {{ form.credit_account }}
              </div>
              <div class="two wide field">
                <label for="id_debit_account" style="text-align: left;">Compte au Débit&nbsp;:</label>
                {{ form.debit_account }}
              </div>
              <div class="two wide field">
                <label for="id_prov_account" style="text-align: left;">Compte sur Provision&nbsp;:</label>
                {{ form.prov_account }}
              </div>
              <div class="two wide field">
                <label for="id_extourne_account" style="text-align: left;">Compte sur Extourne&nbsp;:</label>
                {{ form.extourne_account }}
              </div>
              <div class="two wide field">
                <label for="id_budget_code" style="text-align: left;">Code budgetaire&nbsp;:</label>
                {{ form.budget_code }}
              </div>

          </div>
        </div>
      </div>
    </div>

{% endblock table %}
