{% extends "heron/table_courant.html" %}

{% block table %}

<div class="sixteen wide column">

    <table id="table_document"
       class="ui celled table"
       style="font-size: 12px !important;text-align: center;font-weight: 900;">
        <thead>
            <tr>
                <th class="no-sort" style="text-align: center;width: 3%">Edit</th>
                <th style="width: 6%">CCT</th>
                <th style="width: 6%">Tiers X3</th>
                <th style="width: 27%;text-align: left;">Intitulé</th>
                <th style="width: 6%">Centrale</th>
                <th style="width: 6%">Enseigne</th>
                <th style="width: 6%">Devise</th>
                <th style="width: 6%">Langue</th>
                <th style="width: 8%;text-align: center;">Pays</th>
                <th style="width: 8%;text-align: center;">Type Vente</th>
                <th style="width: 9%;text-align: center;">Compte Débit</th>
                <th style="width: 9%;text-align: center;">Compte Crédit</th>
            </tr>
        </thead>
        <tbody>
        {% for maison in maisons %}
            <tr id="id_{{ maison.pk }}" class="hide_plans">

                <td data-value="{{ maison.third_party_num }}"
                    style="text-align: center;">
                    <a href="{% url 'centers_clients:maisons_update' pk=maison.pk %}">
                        <i class="edit icon modification"></i>
                    </a>
                </td>
                <td style="text-align: center;">
                  {% if maison.cct %}
                    {{ maison.cct }}
                  {% endif %}
                </td>
                <td style="text-align: center;">
                  {% if maison.third_party_num %}
                    {{ maison.third_party_num }}
                  {% endif %}
                </td>
                <td style="text-align: left;">
                  {% if maison.intitule %}
                    {{ maison.intitule }}
                  {% endif %}
                </td>
                <td>
                  {% if maison.center_purchase %}
                    {{ maison.center_purchase }}
                  {% endif %}
                </td>
                <td style="text-align: center;">
                  {% if maison.sign_board %}
                    {{ maison.sign_board }}
                  {% endif %}
                </td>
                <td style="text-align: center;">
                  {% if maison.currency %}
                    {{ maison.currency }}
                  {% endif %}
                </td>
                <td style="text-align: center;">
                  {% if maison.language %}
                    {{ maison.language }}
                  {% endif %}
                </td>
                <td style="text-align: left;">
                  {% if maison.pays__country_name %}
                    {{ maison.pays__country_name }}
                  {% endif %}
                </td>
                <td style="text-align: center;">
                  {{ maison.type_x3__name }}
                </td>
                <td style="text-align: center;">
                  {% if maison.debit_account__account %}
                    {{ maison.debit_account__account }}
                  {% endif %}
                </td>
                <td style="text-align: center;">
                  {% if maison.credit_account__account %}
                    {{ maison.credit_account__account }}
                  {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

<div class="two wide column"></div>

{% endblock table %}