{% extends "heron/update_create_courant.html" %}

{% block table %}

    <div class="sixteen wide column" style="padding: 0;margin: 10px;">
      <div class="ui segment" style="padding-bottom: 0;">
        <h4 class="ui floated header" style="margin-bottom: 5px;">Centre de coût</h4>
        <div class="ui clearing divider"></div>
        <div class="ui mini form" style="font-size: 12px;font-weight:bold;">

          <div class="fields">
              <div class="one wide field">
                <label for="id_cct" style="text-align: left;">CCT X3&nbsp;:</label>
                {% if create %}
                    {{form.cct}}
                {% else %}
                    <input type="text"
                           name="cct"
                           value="{{ form.cct.value }}"
                           required=""
                           id="id_cct"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
                {% endif %}
              </div>
              <div class="three wide field">
                <label for="id_intitule" style="text-align: left;">Intitulé&nbsp;:</label>
                {{ form.intitule }}
              </div>
              <div class="two wide field">
                <label for="id_intitule_court" style="text-align: left;">Intitulé court&nbsp;:</label>
                {{ form.intitule_court }}
              </div>
              <div class="two wide field">
                <label for="id_code_maison" style="text-align: left;">Code maison B.I&nbsp;:</label>
                {% if create %}
                    {{form.code_maison}}
                {% else %}
                    <input type="text"
                           name="code_maison"
                           value="{{ form.code_maison.value }}"
                           required=""
                           id="id_code_maison"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
                {% endif %}
              </div>
              <div class="two wide field">
                <label for="id_code_cosium" style="text-align: left;">Code cosium B.I&nbsp;:</label>
                {% if create %}
                    {{form.code_cosium}}
                {% else %}
                    <input type="text"
                           name="code_cosium"
                           value="{{ form.code_cosium.value }}"
                           required=""
                           id="id_code_cosium"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
                {% endif %}
              </div>
              <div class="two wide field">
                <label for="id_code_bbgr" style="text-align: left;">Code BBGR B.I&nbsp;:</label>
                {% if create %}
                    {{form.code_bbgr}}
                {% else %}
                    <input type="text"
                           name="code_bbgr"
                           value="{{ form.code_bbgr.value }}"
                           required=""
                           id="id_code_bbgr"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
                {% endif %}
              </div>
              <div class="four wide field">
                <label for="id_tiers" style="text-align: left;">Tiers Client X3&nbsp;:</label>
                {{ form.third_party_num }}
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sixteen wide column" style="padding: 0;margin: 10px;">
      <div class="ui segment" style="padding-bottom: 0;">
        <h4 class="ui floated header" style="margin-bottom: 5px;">Adresse</h4>
        <div class="ui clearing divider"></div>
        <div class="ui mini form" style="font-size: 12px;font-weight:bold;">

          <div class="fields">

              <div class="six wide field">
                <label for="id_immeuble" style="text-align: left;">Immeuble&nbsp;:</label>
                {{ form.immeuble }}
              </div>

              <div class="six wide field">
                <label for="id_adresse" style="text-align: left;">Adresse&nbsp;:</label>
                {{ form.adresse }}
              </div>

          </div>

          <div class="fields">

              <div class="one wide field">
                <label for="id_code_postal" style="text-align: left;">Code Postal&nbsp;:</label>
                {{ form.code_postal }}
              </div>
              <div class="five wide field">
                <label for="id_ville" style="text-align: left;">Ville&nbsp;:</label>
                {{ form.ville }}
              </div>
              <div class="two wide field">
                <label for="id_pays" style="text-align: left;">Pays&nbsp;:</label>
                {{ form.pays }}
              </div>
              <div class="two wide field">
                <label for="id_telephone" style="text-align: left;">Téléphone&nbsp;:</label>
                {{ form.telephone }}
              </div>
              <div class="two wide field">
                <label for="id_mobile" style="text-align: left;">Mobile&nbsp;:</label>
                {{ form.mobile }}
              </div>
              <div class="four wide field">
                <label for="id_email" style="text-align: left;">e-mail&nbsp;:</label>
                {{ form.email }}
              </div>
          </div>
            {% if not create %}
                <div class="fields">
                <div class="four wide field">
                <label for="id_email_01" style="text-align: left;">Email 01 - Tiers Client X3&nbsp;:</label>
                    <input type="text"
                           name="email_01"
                           value="{{ adresse_principale_sage.email_01|default_if_none:''}}"
                           required=""
                           id="id_email_01"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
                </div>
                <div class="four wide field">
                <label for="id_email_02" style="text-align: left;">Email 02 - Tiers Client X3&nbsp;:</label>
                    <input type="text"
                           name="email_02"
                           value="{{ adresse_principale_sage.email_02|default_if_none:''}}"
                           required=""
                           id="id_email_02"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
                </div>
                <div class="four wide field">
                <label for="id_email_03" style="text-align: left;">Email 03 - Tiers Client X3&nbsp;:</label>
                    <input type="text"
                           name="email_03"
                           value="{{ adresse_principale_sage.email_03|default_if_none:''}}"
                           required=""
                           id="id_email_03"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
                </div>
                <div class="four wide field">
                <label for="id_email_04" style="text-align: left;">Email 04 - Tiers Client X3&nbsp;:</label>
                    <input type="text"
                           name="email_04"
                           value="{{ adresse_principale_sage.email_04|default_if_none:''}}"
                           required=""
                           id="id_email_04"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
                </div>
                <div class="four wide field">
                <label for="id_email_05" style="text-align: left;">Email 05 - Tiers Client X3&nbsp;:</label>
                    <input type="text"
                           name="email_05"
                           value="{{ adresse_principale_sage.email_05|default_if_none:''}}"
                           required=""
                           id="id_email_05"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
                </div>
                </div>
            {% endif %}
        </div>
      </div>
    </div>

    <div class="sixteen wide column" style="padding: 0;margin: 10px;">
      <div class="ui segment" style="padding-bottom: 0;">
        <h4 class="ui floated header" style="margin-bottom: 5px;">Centrale</h4>
        <div class="ui clearing divider"></div>
        <div class="ui mini form" style="font-size: 12px;font-weight:bold;">

          <div class="fields">

              <div class="two wide field">
                <label for="id_center_purchase" style="text-align: left;">Centrale Fille&nbsp;:</label>
                {{ form.center_purchase }}
              </div>
              <div class="two wide field">
                <label for="id_sign_board" style="text-align: left;">Enseigne&nbsp;:</label>
                {{ form.sign_board }}
              </div>
              <div class="two wide field">
                <label for="id_client_familly" style="text-align: left;">Catégorie Client&nbsp;:</label>
                {{ form.client_familly }}
              </div>
              <div class="two wide field">
                <label for="id_opening_date" style="text-align: left;">Date Ouverture&nbsp;:</label>
                    {{form.opening_date}}
              </div>
              <div class="two wide field">
                <label for="id_closing_date" style="text-align: left;">Date Fermeture&nbsp;:</label>
                {{ form.closing_date }}
              </div>
              <div class="two wide field">
                <label for="id_signature_franchise_date" style="text-align: left;">Date signature contrat&nbsp;:</label>
                {{ form.signature_franchise_date }}
              </div>
              <div class="two wide field">
                <label for="id_agreement_franchise_end_date" style="text-align: left;">Date signature fin de contrat&nbsp;:</label>
                {{ form.agreement_franchise_end_date }}
              </div>
              <div class="two wide field">
                <label for="id_agreement_renew_date" style="text-align: left;">Date renouvellement contrat&nbsp;:</label>
                {{ form.agreement_renew_date }}
              </div>

          </div>

          <div class="fields">

              <div class="two wide field">
                <label for="id_currency" style="text-align: left;">Devise&nbsp;:</label>
                {{ form.currency }}
              </div>
              <div class="two wide field">
                <label for="id_language" style="text-align: left;">Langue&nbsp;:</label>
                {{ form.language }}
              </div>
              <div class="two wide field">
                <label for="id_sage_vat_by_default" style="text-align: left;">TVA X3&nbsp;:</label>
                {{ form.sage_vat_by_default }}
              </div>
              <div class="two wide field">
                <label for="id_rfa_frequence" style="text-align: left;">Fréquence RFA&nbsp;:</label>
                {{ form.rfa_frequence }}
              </div>
              <div class="two wide field">
                <label for="id_rfa_remise" style="text-align: left;">Remise RFA&nbsp;:</label>
                {{ form.rfa_remise }}
              </div>
              <div class="one wide field">
                <label for="id_sage_plan_code" style="text-align: left;">Plan Compte X3&nbsp;:</label>
                {{ form.sage_plan_code }}
              </div>
{#              <div class="one wide field">#}
{#                <label for="id_integrable" style="text-align: left;">INTEGRABLE X3&nbsp;:</label>#}
{#                <input type="checkbox"#}
{#                       name="integrable"#}
{#                       id="id_integrable"#}
{#                       {% if form.integrable.value %}checked{% endif %}#}
{#                       style="font-weight: bold;width: 25px;height: 25px;margin-left: -15px;margin-top: 5px;">#}
{#              </div>#}
{#              <div class="one wide field">#}
{#                <label for="id_chargeable" style="text-align: left;">EXPORT X3&nbsp;:</label>#}
{#                <input type="checkbox"#}
{#                       name="chargeable"#}
{#                       id="id_chargeable"#}
{#                       {% if form.chargeable.value %}checked{% endif %}#}
{#                       style="font-weight: bold;width: 25px;height: 25px;margin-left: -15px;margin-top: 5px;">#}
{#              </div>#}
              <div class="one wide field">
                <label for="id_od_ana" style="text-align: center;padding-right: 17px;">ODANA</label>
                {{ form.od_ana }}
              </div>
              <div class="two wide field">
                  <label for="id_axe_bu" style="text-align: left;">AXE BU&nbsp;:</label>
                  {{ form.axe_bu }}
              </div>
              <div class="two wide field">
                  <label for="id_reference_cosium" style="text-align: left;">Référence Cosium&nbsp;:</label>
                  {{ form.reference_cosium }}
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sixteen wide column" style="padding: 0;margin: 10px;">
      <div class="ui segment" style="padding-bottom: 0;">
        <h4 class="ui floated header" style="margin-bottom: 5px;">Refacturation</h4>
        <div class="ui clearing divider"></div>
        <div class="ui mini form" style="font-size: 12px;font-weight:bold;">

          <div class="fields">

              <div class="two wide field">
                <label for="id_entry_fee_amount" style="text-align: left;">Droit d'entrée&nbsp;:</label>
                {{ form.entry_fee_amount }}
              </div>
              <div class="two wide field">
                <label for="id_renew_fee_amoount" style="text-align: left;">Droit Renouvellement&nbsp;:</label>
                {{ form.renew_fee_amoount }}
              </div>
              <div class="two wide field">
                <label for="id_sale_price_category" style="text-align: left;">Catégorie de prix&nbsp;:</label>
                {{ form.sale_price_category }}
              </div>
              <div class="one wide field">
                <label for="id_generic_coefficient" style="text-align: left;">Coéf. vente&nbsp;:</label>
                {{ form.generic_coefficient }}
              </div>
              <div class="two wide field">
                <label for="id_credit_account" style="text-align: left;">Compte au Crédit&nbsp;:</label>
                {{ form.credit_account }}
              </div>
              <div class="two wide field">
                <label for="id_debit_account" style="text-align: left;">Compte au Débit&nbsp;:</label>
                {{ form.debit_account }}
              </div>
              <div class="two wide field">
                <label for="id_prov_account" style="text-align: left;">Compte sur Provision&nbsp;:</label>
                {{ form.prov_account }}
              </div>
              <div class="two wide field">
                <label for="id_extourne_account" style="text-align: left;">Compte sur Extourne&nbsp;:</label>
                {{ form.extourne_account }}
              </div>
              <div class="two wide field">
                <label for="id_budget_code" style="text-align: left;">Code budgetaire&nbsp;:</label>
                {{ form.budget_code }}
              </div>

          </div>
        </div>
      </div>
    </div>

{% endblock table %}
