{% extends "heron/base_semantic.html" %}

{% load static %}

{% load filters_tags %}

{% block content %}

    {% if user.is_authenticated %}
        {% include "centers_clients/menu_clients.html" %}

        <div class="ui equal width grid center"></div>

    {% else %}

        <br>
        <br>
        <hr>
        <br>
        <br>
        <p style="text-align: center;">Vous devez être connecté, pour pouvoir utiliser ce
            site</p>

{% endif %}


{% endblock content %}

{% block script %}

    <script>

        $(document).ready(function () {

            // FRAMEWORK DATA-TABLE POUR AVOIR UN SCROLL VERTICAL
            $('#table_document').DataTable({
                "info": false,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                },
                "lengthMenu": [[20, 50, -1], [20, 50, "Tous"]]
            });

        });

    </script>

{% endblock script %}