{% extends "heron/update_create_courant.html" %}

{% block table %}

    <div class="sixteen wide column" style="padding: 0;margin: 10px;">
      <div class="ui segment" style="padding-bottom: 0;">
        <h3 class="ui floated header" style="margin-bottom: 5px;">Maison</h3>
        <div class="ui clearing divider"></div>
        <div class="ui mini form" style="font-size: 12px;font-weight:bold;margin-bottom: 20px;">

          <div class="fields">

              <div class="twelve wide field">

                    <label for="id_maison_bi"
                           style="text-align: left;"> Code Maison B.I</label>
                    <select id="id_maison_bi"
                            name="maison_bi"
                            class="ui fluid search dropdown" style="font-size: 10px;">
                        {% for value, label in form.MAISONS_CHOICES %}
                            <option value="{{ value }}">{{ label }}</option>
                        {% endfor %}
                    </select>

              </div>

              <div class="twelve wide field">

                    <label for="id_cct"
                           style="text-align: left;">CCT X3</label>
                    <select id="id_cct"
                            name="cct"
                            class="ui fluid search dropdown">
                        {% for value, label in form.cct_choices %}
                            <option value="{{ value }}">{{ label }}</option>
                        {% endfor %}
                    </select>

              </div>

              <div class="twelve wide field">

                    <label for="id_tiers"
                           style="text-align: left;">TIERS X3</label>
                    <select id="id_tiers"
                            name="tiers"
                            class="ui fluid search dropdown">
                        {% for value, label in form.TIERS_CHOICES %}
                            <option value="{{ value }}">{{ label }}</option>
                        {% endfor %}
                    </select>

              </div>

          </div>
        </div>
      </div>
    </div>

{% endblock table %}
