{% extends "heron/table_courant.html" %}
{% load filters_tags %}

{% block table %}

<div class="sixteen wide column">

    <table id="table_document"
       class="ui celled table"
       style="font-size: 12px !important;text-align: center;font-weight: 900;">
        <thead>
            <tr>
                <th class="no-sort" style="text-align: center;width: 5%">Edit</th>
                <th style="width: 24%">Client</th>
                <th style="width: 13%">Article</th>
                <th style="width: 5%">Qty</th>
                <th style="width: 5%">Unité</th>
                <th style="width: 7%">Prix Net</th>
                <th style="width: 18%">Fonction</th>
                <th style="width: 18%">Enseigne</th>
                <th style="width: 5%;">delete</th>
            </tr>
        </thead>
        <tbody>
        {% for subscription in subscriptions %}
            <tr id="id_{{ subscription.pk }}" class="hide_plans">

                <td data-value="{{ subscription.pk }}"
                    style="text-align: center;">
                    <a href="{% url 'centers_clients:subscription_update' pk=subscription.pk %}">
                        <i class="edit icon modification"></i>
                    </a>
                </td>
                <td style="text-align: left;">
                  {% if subscription.maison %}
                    {{ subscription.maison }} - {{ subscription.maison__intitule }}
                  {% endif %}
                </td>
                <td>
                  {% if subscription.article__reference %}
                    {{ subscription.article__reference }}
                  {% endif %}
                </td>
                <td style="text-align: right;">
                  {% if subscription.qty %}
                    {{ subscription.qty|numbers:0 }}
                  {% endif %}
                </td>
                <td>
                  {% if subscription.unity__unity %}
                    {{ subscription.unity__unity }}
                  {% endif %}
                </td>
                <td style="text-align: right;">
                  {% if subscription.net_unit_price %}
                    {{ subscription.net_unit_price|numbers_format:2 }}
                  {% endif %}
                </td>
                <td style="text-align: center;">
                  {% if subscription.function %}
                    {{ subscription.function }}
                  {% endif %}
                </td>
                <td style="text-align: center;">
                  {% if subscription.for_signboard %}
                    {{ subscription.for_signboard }}
                  {% endif %}
                </td>
                <td class="tdDelete" style="text-align: center;">
                    <div style="cursor: pointer;">
                      <i class="red trash icon" onclick="deletePk({{ forloop.counter }}, {{ subscription.pk }}, `{{ subscription.maison }} - {{ subscription.article__reference }}`, `{% url 'centers_clients:subscription_delete' %}`, `l'abonnement `)"></i>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock table %}