{% extends "heron/update_create_courant.html" %}

{% block table %}
    <div class="one wide column"></div>
    <div class="fourteen wide column" style="padding: 0;margin: 10px;">
      <div class="ui segment" style="padding-bottom: 0;">
        <div class="ui mini form" style="font-size: 12px;font-weight:bold;">

          <div class="fields">
              <div class="six wide computer wide field">
                <label for="id_function_name" style="text-align: left;">Nom&nbsp;:</label>
                <input type="text"
                       name="function_name"
                       value="{{ form.function_name.value|default_if_none:'' }}"
                       maxlength="255"
                       {% if not create %}
                            readonly
                            style="background-color: #efefff;font-weight: bold;"
                       {% endif %}
                       id="id_function_name">
              </div>
              <div class="ten wide field">
                <label for="id_function" style="text-align: left;">Fonction&nbsp;:</label>
                <input type="text" name="function" maxlength="1000" id="id_function" value="{{ form.function.value|default_if_none:'' }}">
              </div>
          </div>
          <div class="fields">
              <div class="eight wide field">
                <label for="id_absolute_path_windows" style="text-align: left;">Dir Windows&nbsp;:</label>
                <input type="text" name="absolute_path_windows" maxlength="1000" id="id_absolute_path_windows" value="{{ form.absolute_path_windows.value|default_if_none:'' }}">
              </div>
              <div class="eight wide field">
                <label for="id_absolute_path_linux" style="text-align: left;">Dir Linux&nbsp;:</label>
                <input type="text" name="absolute_path_linux" maxlength="1000" id="id_absolute_path_linux" value="{{ form.absolute_path_linux.value|default_if_none:'' }}">
              </div>
            </div>
            <div class="fields">
              <div class="sixteen wide field">
                <label for="id_description" style="text-align: left;">Description&nbsp;:</label>
                {{ form.description }}
              </div>
          </div>
        </div>
      </div>
    </div>

{% endblock table %}