{% extends "heron/update_create_courant.html" %}
{% load filters_tags %}

{% block table %}
    <div class="one wide column"></div>
    <div class="fourteen wide column" style="padding: 0;margin: 10px;">
      <div class="ui segment" style="padding-bottom: 0;">
        <div class="ui mini form" style="font-size: 12px;font-weight:bold;">

            <div class="fields">
              <div class="six wide computer wide field">
                <label for="id_maison" style="text-align: left;">Client&nbsp;:</label>
                {{ form.maison }}
              </div>
              <div class="six wide field">
                <label for="id_article" style="text-align: left;">Article&nbsp;:</label>
                {{ form.article }}
              </div>
            </div>
            <div class="fields">
              <div class="two wide field">
                <label for="id_qty" style="text-align: left;">Qty&nbsp;:</label>
                <input type="number"
                     name="qty"
                     value="{{ form.qty.value|numbers:0 }}"
                     step="1"
                     id="id_qty"
                     style="text-align: right;">
              </div>
              <div class="two wide field">
                <label for="id_unity" style="text-align: left;">Unité&nbsp;:</label>
                {{ form.unity }}
              </div>
              <div class="two wide field">
                <label for="id_net_unit_price" style="text-align: left;">Prix Net&nbsp;:</label>
                <input type="number"
                     name="net_unit_price"
                     value="{{ form.net_unit_price.value|numbers:2 }}"
                     step="1"
                     id="id_net_unit_price"
                     style="text-align: right;">
              </div>
              <div class="three wide field">
                <label for="id_function" style="text-align: left;">Fonction&nbsp;:</label>
                {{ form.function }}
              </div>
              <div class="three wide field">
                <label for="id_for_signboard" style="text-align: left;">Enseigne&nbsp;:</label>
                {{ form.for_signboard }}
              </div>
            </div>
        </div>
      </div>
    </div>

{% endblock table %}