{% extends "heron/list_table_courant.html" %}


{% block left_side %}
    {% if user.email == "paulo@alves.ovh" %}
        <a class="item" href="{% url 'centers_clients:insert_or_update_subscriptions' %}">
           <button class="ui orange basic button" name="insert_or_update_subscriptions" style="padding: 7px 10px;margin: 10px;font-size: 11px">
              IMPORT ou MAJ
           </button>
        </a>
    {% endif %}
{% endblock left_side %}

{% block right_side %}

    <a class="item" href="{% url 'centers_clients:subscription_create' %}">
        <button class="ui blue basic button" name="subscription_create" style="padding: 7px 10px;margin: 10px;font-size: 11px">
            CREATION
        </button>
    </a>

    <a class="item" href="{% url 'centers_clients:subscriptions_export_list' %}">
       <button class="ui green basic button" name="subscriptions_export_list" style="padding: 7px 10px;margin: 10px;font-size: 11px">
          LISTING ABONNEMENTS
       </button>
    </a>

{% endblock right_side %}