{% extends "heron/update_create_courant.html" %}

{% block table %}
    <div class="ui centered grid" style="margin: auto;padding: 20px;">
        <div class="row">
            {% include "heron/models_html/month_period.html" %}
        </div>
        <div class="row">
            {% if avertissement %}
                <div class="ui segment">
                    <h5 style="text-align: center;color: red;font-weight: bold;">{{ avertissement }}</h5>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock table %}
