{% extends "heron/list_table_courant.html" %}

{% block right_side %}
    {% if not not_finalize %}
        <a class="item" href="">
            <button class="ui teal basic button" id="id_royalties_launch" name="royalties_launch" type="submit" style="padding: 7px 10px;margin: 10px;font-size: 11px">
                VALIDER
            </button>
        </a>
    {% endif %}
    <a class="item" href="{% url 'validation_purchases:integration_purchases' %}" style="display: none;" id="integrations">
        <button class="ui teal basic button" name="create_centre_cout" type="button" style="padding: 7px 10px;margin: 10px;font-size: 11px">
            Intégrations
        </button>
    </a>
{% endblock right_side %}
