{% extends "heron/table_courant.html" %}

{% load filters_tags %}
{% block table %}

<div class="sixteen wide column">

    <table id="table_document"
       class="ui celled table"
       style="font-size: 12px !important;text-align: center;font-weight: 900;">
        <thead>

            <tr>
                <th class="no-sort" style="width: 1.7%">Edit</th>
                <th style="width: 4.35%">Tiers X3</th>
                <th style="width: 22.91%">Nom</th>
                <th style="width: 22.91%">Entête Facture</th>
                <th style="width: 4.78%">Fournisseur</th>
                <th style="width: 4.78%">Client</th>
                <th style="width: 29.57%">Identifiants Centrale</th>
                <th style="width: 8.96%">N° Siret</th>
            </tr>
        </thead>
        <tbody>
        {% for society in societies %}
            <tr id="id_{{ society.pk }}" class="hide_plans">

                <td data-value="{{ society.third_party_num }}"
                    style="text-align: center;">
                    <a href="{% url 'book:society_update' pk=society.pk in_use=in_use %}">
                        <i class="edit icon modification"></i>
                    </a>
                </td>
                <td>
                    {{ society.third_party_num|default_if_none:'' }}
                </td>
                <td style="text-align: left;">
                    {{ society.name|default_if_none:'' }}
                </td>
                <td style="text-align: left;">
                    {{ society.invoice_entete|default_if_none:'' }}
                </td>
                <td>
                  {% if society.is_supplier %}
                    X
                  {% endif %}
                </td>
                <td>
                  {% if society.is_client %}
                      X
                  {% endif %}
                </td>
                <td>
                      {{ society.centers_suppliers_indentifier|default_if_none:'' }}
                </td>
                <td>
                      {{ society.siret_number|default_if_none:''|siret_number }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock table %}