{% extends "heron/update_create_courant.html" %}

{% block table %}

    <div class="sixteen wide column" style="padding: 0;margin: 10px;">
      <div class="ui segment" style="padding-bottom: 0;">
        <h4 class="ui floated header" style="margin-bottom: 5px;">Tiers X3 <span style="font-size: 11px;">(Données issues de Sage)</span></h4>
        <div class="ui clearing divider" style="margin-bottom: 5px;"></div>
        <div class="ui mini form" style="font-size: 12px;font-weight:bold;">

          <div class="fields">
              <div class="two wide field">
                <label for="id_third_party_num" style="text-align: left;">N° de tiers x3&nbsp;:</label>
                    <input type="text"
                           name="third_party_num"
                           value="{{ form.third_party_num.value|default_if_none:'' }}"
                           id="id_third_party_num"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
              </div>
              <div class="four wide field">
                <label for="id_name" style="text-align: left;">Name&nbsp;:</label>
                    <input type="text"
                           name="name"
                           value="{{ form.name.value|default_if_none:'' }}"
                           id="id_name"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
              </div>
              <div class="two wide field">
                <label for="id_short_name" style="text-align: left;">Intitulé court&nbsp;:</label>
                    <input type="text"
                           name="short_name"
                           value="{{ form.short_name.value|default_if_none:'' }}"
                           id="id_short_name"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
              </div>
              <div class="four wide field">
                <label for="id_corporate_name" style="text-align: left;">Raison sociale&nbsp;:</label>
                    <input type="text"
                           name="corporate_name"
                           value="{{ form.corporate_name.value|default_if_none:'' }}"
                           id="id_corporate_name"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
              </div>
              <div class="one wide field">
                <label for="is_client">Client&nbsp;:</label>
                    <input type="checkbox"
                           name="is_client"
                           {% if form.is_client.value %}checked{% endif %}
                           id="is_client"
                           onclick="return false;"
                           style="font-weight: bold;width: 15px;height: 15px;">
              </div>
              <div class="one wide field">
                <label for="id_is_supplier">Fournisseur&nbsp;:</label>
                    <input type="checkbox"
                           name="is_supplier"
                           {% if form.is_supplier.value %}checked{% endif %}
                           id="id_is_supplier"
                           onclick="return false;"
                           style="font-weight: bold;width: 15px;height: 15px;">
              </div>
              <div class="one wide field">
                <label for="id_is_various">Tiers divers&nbsp;:</label>
                    <input type="checkbox"
                           name="is_various"
                           {% if form.is_various.value %}checked{% endif %}
                           id="id_is_various"
                           onclick="return false;"
                           style="font-weight: bold;width: 15px;height: 15px;">
              </div>
              <div class="one wide field">
                <label for="id_is_physical_person">Personne&nbsp;:</label>
                    <input type="checkbox"
                           name="is_physical_person"
                           {% if form.is_physical_person.value %}checked{% endif %}
                           id="id_is_physical_person"
                           onclick="return false;"
                           style="font-weight: bold;width: 15px;height: 15px;">
              </div>

          </div>

          <div class="fields">

              <div class="two wide field">
                <label for="id_siret_number" style="text-align: left;">N° siret&nbsp;:</label>
                    <input type="text"
                           name="siret_number"
                           value="{{ form.siret_number.value|default_if_none:'' }}"
                           id="id_siret_number"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
              </div>
              <div class="two wide field">
                <label for="id_vat_cee_number" style="text-align: left;">N° tva intracommunataire&nbsp;:</label>
                    <input type="text"
                           name="vat_cee_number"
                           value="{{ form.vat_cee_number.value|default_if_none:'' }}"
                           id="id_vat_cee_number"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
              </div>
              <div class="two wide field">
                <label for="id_vat_number" style="text-align: left;">Vat number&nbsp;:</label>
                    <input type="text"
                           name="vat_number"
                           value="{{ form.vat_number.value|default_if_none:'' }}"
                           id="id_vat_number"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
              </div>
              <div class="two wide field">
                <label for="id_client_category" style="text-align: left;">Catégorie client&nbsp;:</label>
                    <input type="text"
                           name="client_category"
                           value="{{ form.client_category.value|default_if_none:'' }}"
                           id="id_client_category"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
              </div>
              <div class="two wide field">
                <label for="id_supplier_category" style="text-align: left;">Catégorie fournisseur&nbsp;:</label>
                    <input type="text"
                           name="supplier_category"
                           value="{{ form.supplier_category.value|default_if_none:'' }}"
                           id="id_supplier_category"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
              </div>
              <div class="two wide field">
                <label for="id_naf_code" style="text-align: left;">Code naf&nbsp;:</label>
                    <input type="text"
                           name="naf_code"
                           value="{{ form.naf_code.value|default_if_none:'' }}"
                           id="id_naf_code"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
              </div>

              <div class="two wide field">
                <label for="id_phone_number_01" style="text-align: left;">Téléphone&nbsp;:</label>
                    <input type="text"
                           name="phone_number_01"
                           value="{{ adresse_principale_sage.phone_number_01|default_if_none:'' }}"
                           required=""
                           id="id_phone_number_01"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
              </div>
              <div class="two wide field">
                <label for="id_mobile_number" style="text-align: left;">Mobile&nbsp;:</label>
                    <input type="text"
                           name="mobile_number"
                           value="{{ adresse_principale_sage.mobile_number|default_if_none:'' }}"
                           required=""
                           id="id_mobile_number"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
              </div>

          </div>

          <div class="fields">

              <div class="one wide field">
                <label for="id_currency" style="text-align: left;">Monaie&nbsp;:</label>
                    <input type="text"
                           name="currency"
                           value="{{ form.currency.value|default_if_none:'' }}"
                           id="id_currency"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
              </div>
              <div class="one wide field">
                <label for="id_language" style="text-align: left;">Langue&nbsp;:</label>
                    <input type="text"
                           name="language"
                           value="{{ form.language.value|default_if_none:'' }}"
                           id="id_language"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
              </div>
              <div class="two wide field">
                <label for="id_country" style="text-align: left;">Pays&nbsp;:</label>
                    <input type="text"
                           name="country"
                           value="{{ form.country.value|default_if_none:'' }}"
                           id="id_country"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
              </div>
              <div class="one wide field">
                <label for="id_budget_code" style="text-align: left;">Code budget&nbsp;:</label>
                    <input type="text"
                           name="budget_code"
                           value="{{ form.budget_code.value|default_if_none:'' }}"
                           id="id_budget_code"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
              </div>
              <div class="one wide field">
                <label for="id_reviser" style="text-align: left;">Réviseur&nbsp;:</label>
                    <input type="text"
                           name="reviser"
                           value="{{ form.reviser.value|default_if_none:'' }}"
                           id="id_reviser"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
              </div>

              <div class="two wide field">
                <label for="id_payment_condition_supplier" style="text-align: left;">Conditions Fournisseur&nbsp;:</label>
                    <input type="text"
                           name="payment_condition_supplier"
                           value="{{ society.payment_condition_supplier.code|default_if_none:'' }} - {{ society.payment_condition_supplier.name|default_if_none:'' }}"
                           id="id_payment_condition_supplier"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
              </div>
              <div class="one wide field">
                <label for="id_vat_sheme_supplier" style="text-align: left;">Régime de taxe&nbsp;:</label>
                    <input type="text"
                           name="vat_sheme_supplier"
                           value="{{ form.vat_sheme_supplier.value|default_if_none:'' }}"
                           id="id_vat_sheme_supplier"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
              </div>
              <div class="two wide field">
                <label for="id_account_supplier_code" style="text-align: left;">Code comptable fournisseur&nbsp;:</label>
                    <input type="text"
                           name="account_supplier_code"
                           value="{{ form.account_supplier_code.value|default_if_none:'' }}"
                           id="id_account_supplier_code"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
              </div>
              <div class="two wide field">
                <label for="id_payment_condition_client" style="text-align: left;">Conditions CLient&nbsp;:</label>
                    <input type="text"
                           name="payment_condition_client"
                           value="{{ society.payment_condition_client.code|default_if_none:'' }} - {{ society.payment_condition_client.name|default_if_none:'' }}"
                           id="id_payment_condition_client"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
              </div>
              <div class="one wide field">
                <label for="id_vat_sheme_client" style="text-align: left;">Régime de taxe&nbsp;:</label>
                    <input type="text"
                           name="vat_sheme_client"
                           value="{{ form.vat_sheme_client.value|default_if_none:'' }}"
                           id="id_vat_sheme_client"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
              </div>
              <div class="two wide field">
                <label for="id_account_client_code" style="text-align: left;">Code comptable client&nbsp;:</label>
                    <input type="text"
                           name="account_client_code"
                           value="{{ form.account_client_code.value|default_if_none:'' }}"
                           id="id_account_client_code"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
              </div>

          </div>

        </div>

{#      <div class="ui clearing divider" style="margin-bottom: 5px;"></div>#}
{#      <h4 class="ui floated header" style="margin-bottom: 5px;">Compte Bancaire <span style="font-size: 11px;">(Données issues de Sage)</span></h4>#}
{#        <div class="ui clearing divider" style="margin-bottom: 5px;"></div>#}
{#        <div class="ui mini form" style="font-size: 12px;font-weight:bold;">#}
{##}
{#          <div class="fields">#}
{#              <div class="one wide field">#}
{#                <label for="id_currency" style="text-align: left;">Devise&nbsp;:</label>#}
{#                    <input type="text"#}
{#                           name="currency"#}
{#                           value="{{ compte_banque.currency }}"#}
{#                           required=""#}
{#                           id="id_currency"#}
{#                           readonly#}
{#                           style="background-color: #efefff;font-weight: bold;">#}
{#              </div>#}
{#              <div class="one wide field">#}
{#                <label for="id_iban_prefix" style="text-align: left;">Iban&nbsp;:</label>#}
{#                    <input type="text"#}
{#                           name="iban_prefix"#}
{#                           value="{{ compte_banque.iban_prefix }}"#}
{#                           required=""#}
{#                           id="id_iban_prefix"#}
{#                           readonly#}
{#                           style="background-color: #efefff;font-weight: bold;">#}
{#              </div>#}
{#              <div class="three wide field">#}
{#                <label for="id_account_number" style="text-align: left;">N° Compte&nbsp;:</label>#}
{#                    <input type="text"#}
{#                           name="account_number"#}
{#                           value="{{ compte_banque.account_number }}"#}
{#                           required=""#}
{#                           id="id_account_number"#}
{#                           readonly#}
{#                           style="background-color: #efefff;font-weight: bold;">#}
{#              </div>#}
{#              <div class="three wide field">#}
{#                <label for="id_domiciliation_01" style="text-align: left;">Domiciliation&nbsp;:</label>#}
{#                    <input type="text"#}
{#                           name="domiciliation_01"#}
{#                           value="{{ compte_banque.domiciliation_01 }}"#}
{#                           required=""#}
{#                           id="id_domiciliation_01"#}
{#                           readonly#}
{#                           style="background-color: #efefff;font-weight: bold;">#}
{#              </div>#}
{#              <div class="three wide field">#}
{#                <label for="id_payee" style="text-align: left;">Bénéficiaire&nbsp;:</label>#}
{#                    <input type="text"#}
{#                           name="payee"#}
{#                           value="{{ compte_banque.payee }}"#}
{#                           required=""#}
{#                           id="id_payee"#}
{#                           readonly#}
{#                           style="background-color: #efefff;font-weight: bold;">#}
{#              </div>#}
{#              <div class="two wide field">#}
{#                <label for="id_bic_code" style="text-align: left;">BIC/SWIFT&nbsp;:</label>#}
{#                    <input type="text"#}
{#                           name="bic_code"#}
{#                           value="{{ compte_banque.bic_code }}"#}
{#                           required=""#}
{#                           id="id_bic_code"#}
{#                           readonly#}
{#                           style="background-color: #efefff;font-weight: bold;">#}
{#              </div>#}
{##}
{#          </div>#}
{#        </div>#}


{#        <div class="ui clearing divider" style="margin-bottom: 5px;"></div>#}

        <h4 class="ui floated header" style="margin-bottom: 5px;">Adresse Sage X3 <span style="font-size: 11px;">(Adresse par défaut, dans Sage)</span></h4>
        <div class="ui clearing divider" style="margin-bottom: 5px;"></div>
        <div class="ui mini form" style="font-size: 12px;font-weight:bold;">

          <div class="fields">
              <div class="one wide field">
                <label for="id_address_code" style="text-align: left;">Code Adresse&nbsp;:</label>
                    <input type="text"
                           name="address_code"
                           value="{{ adresse_principale_sage.address_code|default_if_none:'' }}"
                           required=""
                           id="id_address_code"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
              </div>
              <div class="four wide field">
                <label for="id_line_01" style="text-align: left;">Immeuble&nbsp;:</label>
                    <input type="text"
                           name="line_01"
                           value="{{ adresse_principale_sage.line_01|default_if_none:'' }}"
                           required=""
                           id="id_line_01"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
              </div>
              <div class="four wide field">
                <label for="id_line_02" style="text-align: left;">Adresse&nbsp;:</label>
                    <input type="text"
                           name="line_02"
                           value="{{ adresse_principale_sage.line_02|default_if_none:'' }}"
                           required=""
                           id="id_line_02"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
              </div>

              <div class="one wide field">
                <label for="id_postal_code" style="text-align: left;">Code Postal&nbsp;:</label>
                    <input type="text"
                           name="postal_code"
                           value="{{ adresse_principale_sage.postal_code|default_if_none:'' }}"
                           required=""
                           id="id_postal_code"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
              </div>
              <div class="four wide field">
                <label for="id_city" style="text-align: left;">Ville&nbsp;:</label>
                    <input type="text"
                           name="city"
                           value="{{ adresse_principale_sage.city|default_if_none:'' }}"
                           required=""
                           id="id_city"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
              </div>
              <div class="two wide field">
                <label for="countryprincipale" style="text-align: left;">Pays&nbsp;:</label>
                    <input type="text"
                           name="countryprincipale"
                           value="{{ adresse_principale_sage.country.country_name|default_if_none:'' }}"
                           id="countryprincipale"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
              </div>
          </div>
            <div class="fields">
              <div class="four wide field">
                <label for="id_email_01" style="text-align: left;">EMAIL 01&nbsp;:</label>
                    <input type="text"
                           name="email_01"
                           value="{{ adresse_principale_sage.email_01|default_if_none:''}}"
                           required=""
                           id="id_email_01"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
              </div>
              <div class="four wide field">
                <label for="id_email_02" style="text-align: left;">EMAIL 02&nbsp;:</label>
                    <input type="text"
                           name="email_02"
                           value="{{ adresse_principale_sage.email_02|default_if_none:''}}"
                           required=""
                           id="id_email_02"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
              </div>
              <div class="four wide field">
                <label for="id_email_03" style="text-align: left;">EMAIL 03&nbsp;:</label>
                    <input type="text"
                           name="email_03"
                           value="{{ adresse_principale_sage.email_03|default_if_none:''}}"
                           required=""
                           id="id_email_03"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
              </div>
              <div class="four wide field">
                <label for="id_email_04" style="text-align: left;">EMAIL 04&nbsp;:</label>
                    <input type="text"
                           name="email_04"
                           value="{{ adresse_principale_sage.email_04|default_if_none:''}}"
                           required=""
                           id="id_email_04"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
              </div>
              <div class="four wide field">
                <label for="id_email_05" style="text-align: left;">EMAIL 05&nbsp;:</label>
                    <input type="text"
                           name="email_05"
                           value="{{ adresse_principale_sage.email_05|default_if_none:''}}"
                           required=""
                           id="id_email_05"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="sixteen wide column" style="padding: 0;margin: 10px;">
      <div class="ui segment" style="padding-bottom: 0;">
        <h4 class="ui floated header" style="margin-bottom: 5px;">Identifiants et RFA</h4>
        <div class="ui clearing divider" style="margin-bottom: 5px;"></div>
        <div class="ui mini form" style="font-size: 12px;font-weight:bold;">

          <div class="fields">

              <div class="six wide field">
                <label for="id_centers_suppliers_indentifier" style="text-align: left;">Identifiant Centrale&nbsp;:</label>
                {{ form.centers_suppliers_indentifier }}
              </div>
              <div class="two wide field">
                <label for="id_rfa_frequence" style="text-align: left;">Fréquence RFA&nbsp;:</label>
                {{ form.rfa_frequence }}
              </div>
              <div class="two wide field">
                <label for="id_rfa_remise" style="text-align: left;">Remise RFA&nbsp;:</label>
                {{ form.rfa_remise }}
              </div>
              <div class="one wide field">
                <label for="id_integrable" style="text-align: left;">Intégrable X3</label>
                <input type="checkbox"
                       name="integrable"
                       id="id_integrable"
                       {% if form.integrable.value %}checked{% endif %}
                       style="font-weight: bold;width: 25px;height: 25px;margin-left: -15px;margin-top: 5px;">
              </div>
              <div class="one wide field">
                <label for="id_chargeable" style="text-align: left;">Refacturable</label>
                <input type="checkbox"
                       name="chargeable"
                       id="id_chargeable"
                       {% if form.chargeable.value %}checked{% endif %}
                       style="font-weight: bold;width: 25px;height: 25px;margin-left: -15px;margin-top: 5px;">
              </div>
              <div class="one wide field">
                <label for="id_od_ana" style="text-align: left;">Analytique</label>
                <input type="checkbox"
                       name="od_ana"
                       id="id_od_ana"
                       {% if form.od_ana.value %}checked{% endif %}
                       style="font-weight: bold;width: 25px;height: 25px;margin-left: -15px;margin-top: 5px;">
              </div>
              <div class="one wide field">
                <label for="id_in_use" style="text-align: left;">Courant</label>
                <input type="checkbox"
                       name="in_use"
                       id="id_in_use"
                       style="font-weight: bold;width: 25px;height: 25px;margin-left: -15px;margin-top: 5px;"
                       {% if form.in_use.value %}checked{% endif %}>
              </div>
              <div class="one wide field">
                <label for="id_is_multi_billing" style="text-align: left;">Multi Articles</label>
                <input type="checkbox"
                       name="is_multi_billing"
                       id="id_is_multi_billing"
                       style="font-weight: bold;width: 25px;height: 25px;margin-left: -15px;margin-top: 5px;"
                       {% if form.is_multi_billing.value %}checked{% endif %}>
              </div>

          </div>
            <div class="fields">
                <div class="three wide field">
                    <label for="id_default_axe_pro" style="text-align: left;">Axe PRO par défaut&nbsp;:</label>
                    {{ form.default_axe_pro }}
                </div>
                <div class="three wide field">
                    <label for="id_big_category_default" style="text-align: left;">Grande Catégorie par défaut&nbsp;:</label>
                    {{ form.big_category_default }}
                </div>
                <div class="three wide field">
                    <label for="id_stat_name" style="text-align: left;">Dictionnaire des Axes EDI&nbsp;:</label>
                    {{ form.stat_name }}
                </div>
            </div>
        </div>
{#          <div class="ui clearing divider" style="margin-bottom: 5px;"></div>#}

        <h4 class="ui floated header" style="margin-bottom: 5px;">Adresse pour la Centrale d'achat</h4>
        <div class="ui clearing divider" style="margin-bottom: 5px;"></div>
        <div class="ui mini form" style="font-size: 12px;font-weight:bold;">

          <div class="fields">

              <div class="one wide field">
                <label for="id_copy_default_address" style="text-align: left;">Copier adresse&nbsp;:</label>
                    <input type="checkbox"
                           name="copy_default_address"
                           id="id_copy_default_address"
                           style="font-weight: bold;width: 25px;height: 25px;margin-left: -15px;margin-top: 5px;">
              </div>

              <div class="six wide field">
                <label for="id_immeuble" style="text-align: left;">Immeuble&nbsp;:</label>
                {{ form.immeuble }}
              </div>
              <div class="six wide field">
                <label for="id_adresse" style="text-align: left;">Adresse&nbsp;:</label>
                {{ form.adresse }}
              </div>

          </div>

          <div class="fields">

              <div class="one wide field">
                <label for="id_code_postal" style="text-align: left;">Code Postal&nbsp;:</label>
                {{ form.code_postal }}
              </div>
              <div class="five wide field">
                <label for="id_ville" style="text-align: left;">Ville&nbsp;:</label>
                {{ form.ville }}
              </div>
              <div class="two wide field">
                <label for="id_pays" style="text-align: left;">Pays&nbsp;:</label>
                {{ form.pays }}
              </div>
              <div class="two wide field">
                <label for="id_telephone" style="text-align: left;">Téléphone&nbsp;:</label>
                {{ form.telephone }}
              </div>
              <div class="two wide field">
                <label for="id_mobile" style="text-align: left;">Mobile&nbsp;:</label>
                {{ form.mobile }}
              </div>
              <div class="four wide field">
                <label for="id_email" style="text-align: left;">e-mail&nbsp;:</label>
                {{ form.email }}
              </div>

          </div>
        </div>
      </div>
    </div>

{% endblock table %}