{% extends "heron/menu_courant.html" %}

{% block right_menu %}
      <a href="{% url 'book:excel_outputs' file_name='export_list_societies' %}"
         class="item"
         style="margin-right: 0;">
          <button class="ui green button" style="font-size: 11px">LISTING TIERS</button>
      </a>

      <a href="{% url 'book:excel_outputs' file_name='export_list_clients' %}"
         class="item"
         style="margin-right: 0;">
          <button class="ui green button" style="font-size: 11px">LISTING CLIENTS</button>
      </a>

      <a href="{% url 'book:excel_outputs' file_name='export_list_suppliers' %}"
         class="item"
         style="margin-right: 0;">
          <button class="ui green button" style="font-size: 11px">LISTING FOURNISSEURS</button>
      </a>
{% endblock right_menu %}
