{% extends "heron/table_courant.html" %}

{% block table %}

    <div class="sixteen wide column" style="padding: 0;margin: 10px;">
      <div class="ui segment" style="padding-bottom: 0;">
        <h3 class="ui floated header" style="margin-bottom: 5px;">Tiers</h3>
        <div class="ui clearing divider"></div>
        <div class="ui mini form" style="font-size: 12px;font-weight:bold;">

          <div class="fields">
              <div class="two wide field">
                <label for="id_third_party_num" style="text-align: left;">N° de tiers x3&nbsp;:</label>
                    <input type="text"
                           name="third_party_num"
                           value="{{ society.third_party_num }}"
                           required=""
                           id="id_third_party_num"
                           style="background-color: lavender;font-weight: bold;">
              </div>
              <div class="four wide field">
                <label for="id_name" style="text-align: left;">Name&nbsp;:</label>
                    <input type="text"
                           name="name"
                           value="{{ society.name }}"
                           required=""
                           id="id_name"
                           readonly
                           style="background-color: lavender;font-weight: bold;">
              </div>
              <div class="two wide field">
                <label for="id_short_name" style="text-align: left;">Intitulé court&nbsp;:</label>
                    <input type="text"
                           name="short_name"
                           value="{{ society.short_name }}"
                           required=""
                           id="id_short_name"
                           readonly
                           style="background-color: lavender;font-weight: bold;">
              </div>
              <div class="four wide field">
                <label for="id_corporate_name" style="text-align: left;">Raison sociale&nbsp;:</label>
                    <input type="text"
                           name="corporate_name"
                           value="{{ society.corporate_name }}"
                           required=""
                           id="id_corporate_name"
                           readonly
                           style="background-color: lavender;font-weight: bold;">
              </div>

          </div>

          <div class="fields">

              <div class="three wide field">
                <label for="id_siret_number" style="text-align: left;">N° siret&nbsp;:</label>
                    <input type="text"
                           name="siret_number"
                           value="{{ society.siret_number }}"
                           required=""
                           id="id_siret_number"
                           readonly
                           style="background-color: lavender;font-weight: bold;">
              </div>
              <div class="three wide field">
                <label for="id_vat_cee_number" style="text-align: left;">N° tva intracommunataire&nbsp;:</label>
                    <input type="text"
                           name="vat_cee_number"
                           value="{{ society.vat_cee_number }}"
                           required=""
                           id="id_vat_cee_number"
                           readonly
                           style="background-color: lavender;font-weight: bold;">
              </div>
              <div class="three wide field">
                <label for="id_vat_number" style="text-align: left;">Vat number&nbsp;:</label>
                    <input type="text"
                           name="vat_number"
                           value="{{ society.vat_number }}"
                           required=""
                           id="id_vat_number"
                           readonly
                           style="background-color: lavender;font-weight: bold;">
              </div>
              <div class="two wide field">
                <label for="id_client_category" style="text-align: left;">Catégorie client&nbsp;:</label>
                    <input type="text"
                           name="client_category"
                           value="{{ society.client_category }}"
                           required=""
                           id="id_client_category"
                           readonly
                           style="background-color: lavender;font-weight: bold;">
              </div>
              <div class="two wide field">
                <label for="id_supplier_category" style="text-align: left;">Catégorie fournisseur&nbsp;:</label>
                    <input type="text"
                           name="supplier_category"
                           value="{{ society.supplier_category }}"
                           required=""
                           id="id_supplier_category"
                           readonly
                           style="background-color: lavender;font-weight: bold;">
              </div>
              <div class="two wide field">
                <label for="id_naf_code" style="text-align: left;">Code naf&nbsp;:</label>
                    <input type="text"
                           name="naf_code"
                           value="{{ society.naf_code }}"
                           required=""
                           id="id_naf_code"
                           readonly
                           style="background-color: lavender;font-weight: bold;">
              </div>

          </div>

          <div class="fields">

              <div class="two wide field">
                <label for="id_currency" style="text-align: left;">Monaie&nbsp;:</label>
                    <input type="text"
                           name="currency"
                           value="{{ society.currency }}"
                           required=""
                           id="id_currency"
                           readonly
                           style="background-color: lavender;font-weight: bold;">
              </div>
              <div class="two wide field">
                <label for="id_country" style="text-align: left;">Pays&nbsp;:</label>
                    <input type="text"
                           name="country"
                           value="{{ society.country }}"
                           required=""
                           id="id_country"
                           readonly
                           style="background-color: lavender;font-weight: bold;">
              </div>
              <div class="two wide field">
                <label for="id_language" style="text-align: left;">Langue&nbsp;:</label>
                    <input type="text"
                           name="language"
                           value="{{ society.language }}"
                           required=""
                           id="id_language"
                           readonly
                           style="background-color: lavender;font-weight: bold;">
              </div>
              <div class="two wide field">
                <label for="id_budget_code" style="text-align: left;">Code budget&nbsp;:</label>
                    <input type="text"
                           name="budget_code"
                           value="{{ society.budget_code }}"
                           required=""
                           id="id_budget_code"
                           readonly
                           style="background-color: lavender;font-weight: bold;">
              </div>
              <div class="two wide field">
                <label for="id_reviser" style="text-align: left;">Réviseur&nbsp;:</label>
                    <input type="text"
                           name="reviser"
                           value="{{ society.reviser }}"
                           required=""
                           id="id_reviser"
                           readonly
                           style="background-color: lavender;font-weight: bold;">
              </div>

          </div>

          <div class="fields">

              <div class="two wide field">
                <label for="id_payment_condition_supplier" style="text-align: left;">Conditions de paiement&nbsp;:</label>
                    <input type="text"
                           name="payment_condition_supplier"
                           value="{{ society.payment_condition_supplier }}"
                           required=""
                           id="id_payment_condition_supplier"
                           readonly
                           style="background-color: lavender;font-weight: bold;">
              </div>
              <div class="two wide field">
                <label for="id_vat_sheme_supplier" style="text-align: left;">Régime de taxe&nbsp;:</label>
                    <input type="text"
                           name="vat_sheme_supplier"
                           value="{{ society.vat_sheme_supplier }}"
                           required=""
                           id="id_vat_sheme_supplier"
                           readonly
                           style="background-color: lavender;font-weight: bold;">
              </div>
              <div class="two wide field">
                <label for="id_account_supplier_code" style="text-align: left;">Code comptable fournisseur&nbsp;:</label>
                    <input type="text"
                           name="account_supplier_code"
                           value="{{ society.account_supplier_code }}"
                           required=""
                           id="id_account_supplier_code"
                           readonly
                           style="background-color: lavender;font-weight: bold;">
              </div>
              <div class="two wide field">
                <label for="id_payment_condition_client" style="text-align: left;">Condition de paiement&nbsp;:</label>
                    <input type="text"
                           name="payment_condition_client"
                           value="{{ society.payment_condition_client }}"
                           required=""
                           id="id_payment_condition_client"
                           readonly
                           style="background-color: lavender;font-weight: bold;">
              </div>
              <div class="two wide field">
                <label for="id_vat_sheme_client" style="text-align: left;">Régime de taxe&nbsp;:</label>
                    <input type="text"
                           name="vat_sheme_client"
                           value="{{ society.vat_sheme_client }}"
                           required=""
                           id="id_vat_sheme_client"
                           readonly
                           style="background-color: lavender;font-weight: bold;">
              </div>
              <div class="four wide field">
                <label for="id_account_client_code" style="text-align: left;">Code comptable client&nbsp;:</label>
                    <input type="text"
                           name="account_client_code"
                           value="{{ society.account_client_code }}"
                           required=""
                           id="id_account_client_code"
                           readonly
                           style="background-color: lavender;font-weight: bold;">
              </div>

          </div>

          <div class="fields">

              <div class="two wide field">
                <label for="id_is_client" style="text-align: left;">Client&nbsp;:</label>
                    <input type="text"
                           name="is_client"
                           value="{{ society.is_client }}"
                           required=""
                           id="id_is_client"
                           readonly
                           style="background-color: lavender;font-weight: bold;">
              </div>
              <div class="two wide field">
                <label for="id_is_agent" style="text-align: left;">Représentant&nbsp;:</label>
                    <input type="text"
                           name="is_agent"
                           value="{{ society.is_agent }}"
                           required=""
                           id="id_is_agent"
                           readonly
                           style="background-color: lavender;font-weight: bold;">
              </div>
              <div class="two wide field">
                <label for="id_is_prospect" style="text-align: left;">Prospect&nbsp;:</label>
                    <input type="text"
                           name="is_prospect"
                           value="{{ society.is_prospect }}"
                           required=""
                           id="id_is_prospect"
                           readonly
                           style="background-color: lavender;font-weight: bold;">
              </div>
              <div class="two wide field">
                <label for="id_is_supplier" style="text-align: left;">Fournisseur&nbsp;:</label>
                    <input type="text"
                           name="is_supplier"
                           value="{{ society.is_supplier }}"
                           required=""
                           id="id_is_supplier"
                           readonly
                           style="background-color: lavender;font-weight: bold;">
              </div>
              <div class="two wide field">
                <label for="id_is_various" style="text-align: left;">Tiers divers&nbsp;:</label>
                    <input type="text"
                           name="is_various"
                           value="{{ society.is_various }}"
                           required=""
                           id="id_is_various"
                           readonly
                           style="background-color: lavender;font-weight: bold;">
              </div>
              <div class="two wide field">
                <label for="id_is_service_provider" style="text-align: left;">Prestataire&nbsp;:</label>
                    <input type="text"
                           name="is_service_provider"
                           value="{{ society.is_service_provider }}"
                           required=""
                           id="id_is_service_provider"
                           readonly
                           style="background-color: lavender;font-weight: bold;">
              </div>
              <div class="two wide field">
                <label for="id_is_transporter" style="text-align: left;">Transporteur&nbsp;:</label>
                    <input type="text"
                           name="is_transporter"
                           value="{{ society.is_transporter }}"
                           required=""
                           id="id_is_transporter"
                           readonly
                           style="background-color: lavender;font-weight: bold;">
              </div>
              <div class="two wide field">
                <label for="id_is_contractor" style="text-align: left;">Donneur d'ordre&nbsp;:</label>
                    <input type="text"
                           name="is_contractor"
                           value="{{ society.is_contractor }}"
                           required=""
                           id="id_is_contractor"
                           readonly
                           style="background-color: lavender;font-weight: bold;">
              </div>
              <div class="two wide field">
                <label for="id_is_physical_person" style="text-align: left;">Personne physique&nbsp;:</label>
                    <input type="text"
                           name="is_physical_person"
                           value="{{ society.is_physical_person }}"
                           required=""
                           id="id_is_physical_person"
                           readonly
                           style="background-color: lavender;font-weight: bold;">
              </div>

          </div>
        </div>
      </div>
    </div>

{% endblock table %}