{% extends "heron/base_semantic.html" %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}

        <form action="" method="post">
            {% csrf_token %}

            {% include "book/society_view_menu.html" %}

            {% include "heron/list_table_courant.html" %}

            {% include "book/society_view_table.html" %}

        </form>

    {% else %}

        <br>
        <br>
        <hr>
        <br>
        <br>
        <p style="text-align: center;">Vous devez être connecté, pour pouvoir utiliser ce
            site</p>

{% endif %}


{% endblock content %}

{% block script %}

    <script type="text/javascript">

        $(document).ready(function () {

            $('table').tablesort();

            $('.tabular.menu .item').tab();

        });
    </script>

{% endblock script %}