{% extends "heron/list_table_courant.html" %}

{% block right_side %}

    <a class="item" href="{% url 'book:excel_outputs' file_name='export_list_societies' %}">
      <button class="ui green button" style="padding: 7px 10px;margin: 10px;font-size: 11px">LISTING TIERS</button>
    </a>

    <a class="item" href="{% url 'book:excel_outputs' file_name='export_list_clients' %}">
      <button class="ui green button" style="padding: 7px 10px;font-size: 11px">LISTING CLIENTS</button>
    </a>

    <a class="item" href="{% url 'book:excel_outputs' file_name='export_list_suppliers' %}">
      <button class="ui green button" style="padding: 7px 10px;margin: 10px;font-size: 11px">LISTING FOURNISSEURS</button>
    </a>

{% endblock right_side %}
