{% extends "heron/base_semantic.html" %}

{% load static %}

{% block menu_principal %}
        {% include "heron/menu_principal.html" %}
{% endblock menu_principal %}

{% block content %}

{% if user.is_authenticated %}

        <form id="formForm" action="" method="post">
            {% csrf_token %}

            {% include "book/supplier_cct_entete.html" %}
            {% include "book/supplier_cct_table.html" %}

        </form>

    {% else %}

        <br>
        <br>
        <hr>
        <br>
        <br>
        <p style="text-align: center;">Vous devez être connecté, pour pouvoir utiliser ce
            site</p>

{% endif %}


{% endblock content %}

{% block script %}

    <script>

        $(document).ready(function () {

            {% include "heron/base_data_table.html" %}
            $(`.inputCctIdentifier`).change(function () {
               $(`#forceMaj`).hide()
            });

        });

    </script>

{% endblock script %}