{% extends "heron/list_courant.html" %}

{#{% block left_side %}#}
{##}
{#    <a class="item" href="">#}
{#        <button id="submitBtn" class="ui teal button" name="update_suuplier_cct" type="submit" style="padding: 7px 10px;margin: 10px;font-size: 11px">#}
{#            VALIDEZ#}
{#        </button>#}
{#    </a>#}
{##}
{#{% endblock left_side %}#}

{% block right_side %}

    <a class="item" href="{% url 'book:export_list_supplier_cct' third_party_num=third_party_num %}">
      <button class="ui green button" type="button" style="padding: 7px 10px;margin: 10px;font-size: 11px">LISTING IDENTIFIANTS</button>
    </a>

{% endblock right_side %}