<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST FORMSET</title>
</head>
<body>
    <h1>TEST ModelsFormSet</h1>
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="valider">

{#        {{ formset }}#}
        <label for="id_form-0-third_party_num">Tiers&nbsp;:</label>
        <select name="form-0-third_party_num" id="id_form-0-third_party_num" hidden="">
            <option value="BAUS001" selected="">BAUS001 - BAUSCH + LOMB SAS</option>
        </select>
        <input type="text" value="BAUS001" readonly>

        <label for="id_form-0-cct">CCT x3&nbsp;:</label>
        <select name="form-0-cct" id="id_form-0-cct" size="0">
            <option value="1750f72c-e7f2-407c-9e5c-2e21eb27f063">SOLDEUR</option>
        </select>
    </form>
</body>
</html>