{% extends "heron/table_courant.html" %}

{% block table %}
    {% include "heron/scroll_to_top.html" %}

    <div class="sixteen wide column">
        {% if articles.has_other_pages %}
        <div class="ui segment">
            <div class="ui grid">
                <div class="four wide column" style="text-align: left;">
                </div>
                <div class="twelve wide column" style="text-align: right;">
                          <div id="pagination" class="ui small #efefff buttons">
                            {{ pagination|safe }}
                          </div>
                </div>
            </div>
        </div>
        {% endif %}

        <table id="table_document"
           class="ui celled table"
           style="font-size: 12px !important;text-align: center;font-weight: 900;">
            <thead>
                <tr>
                    <th class="no-sort" style="width: 2%">Edit</th>
                    <th style="width: 5%">Centrale Fille</th>
                    <th style="width: 15%">Tiers</th>
                    <th style="width: 44%">Article</th>
                    <th style="width: 7%">Axe PRO</th>
                    <th style="width: 10%">Grande Cétégorie</th>
                    <th style="width: 10%">Rubrique Presta</th>
                    <th style="width: 6%">TVA</th>
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>

                    <td data-value="{{ third_party_num }}"
                        style="text-align: center;">
{#                        <a href="{% url 'articles:article_update' third_party_num=article.third_party_num pk=article.article %}">#}
{#                            <i class="edit icon modification"></i>#}
{#                        </a>#}
                    </td>
                    <td style="text-align: center;">
                        {{ article.code_center|default_if_none:'' }}
                    </td>
                    <td style="text-align: left;">
                        {{ article.third_party_num|default_if_none:'' }} - {{ article.tiers|default_if_none:'' }}
                    </td>
                    <td style="text-align: left;">
                        {{ article.reference|default_if_none:'' }} - {{ article.libelle|default_if_none:'' }}
                    </td>
                    <td style="{% if not article.axe_pro %}background-color: #ffdae0;{% endif %}">
                        {{ article.pro|default_if_none:'' }}
                    </td>
                    <td style="">
                          {{ article.category|default_if_none:'' }}
                    </td>
                    <td style="">
                          {{ article.rubrique|default_if_none:'' }}
                    </td>
                    <td style="">
                          {{ article.vat_vat|default_if_none:'' }} - {{ article.vat_reg|default_if_none:'' }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock table %} %}