

<div class="ui segment" style="padding: padding: 10px 10px 0;margin: 20px {% if margin_table %}{{ margin_table }}{% else %}50{% endif %}px 10px;">
    <div class="ui mini form" style="font-size: 12px;font-weight:bold;">
        <div class="fields" style="">
            <div class="four wide field">
                <label for="id_third_party_num" style="text-align: left;">Tiers X3&nbsp;:</label>
                {{ form.third_party_num }}
            </div>
            <div class="four wide field">
                <label for="id_reference__icontains" style="text-align: left;">Référence&nbsp;:</label>
                  {{ form.reference__icontains }}
            </div>
            <div class="four wide field">
                <label for="id_libelle__icontains" style="text-align: left;">Libellé&nbsp;:</label>
                  {{ form.libelle__icontains }}
            </div>
            <div class="four wide field">
                <label for="id_libelle_heron__icontains" style="text-align: left;">Libellé Héron&nbsp;:</label>
                  {{ form.libelle_heron__icontains }}
            </div>
        </div>

        <div class="fields" style="">
            <div class="four wide field">
                <label for="id_big_category" style="text-align: left;">Catégorie&nbsp;:</label>
                  {{ form.big_category }}
            </div>
            <div class="four wide field">
                <label for="id_sub_category" style="text-align: left;">Ribrique Presta&nbsp;:</label>
                  {{ form.sub_category }}
            </div>
        </div>

    </div>
  </div>
