{% extends "heron/base_semantic.html" %}

{% load static %}
{% load filters_tags %}

{% block menu_principal %}
        {% include "heron/menu_principal.html" %}
{% endblock menu_principal %}


{% block head_js %}
    <script type="text/javascript">
        let url = `{% url 'articles:new_articles_list' %}`;
    </script>
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}

        {% include "articles/articles_news_entete.html" %}
        {% include "articles/articles_news_table.html" %}

    {% else %}

        <br>
        <br>
        <hr>
        <br>
        <br>
        <p style="text-align: center;">Vous devez être connecté, pour pouvoir utiliser ce
            site</p>

{% endif %}


{% endblock content %}

{% block script %}

    <script>

        $(document).ready(function () {

            $('.ui.error.checkbox')
              .checkbox()
              .first().checkbox({
                onChecked: function() {
                  $('.ui.segment.success').hide();
                },
                onUnchecked: function() {
                  $('.ui.segment.success').show();
                },
            });
            $(`.datatable-chargement`).hide();

        });

    </script>

{% endblock script %}
