{% extends "heron/table_courant.html" %}

{% block table %}

    <div class="sixteen wide column">
        {% if articles.has_other_pages %}
            <div class="ui segment">
                <div class="ui grid">
                    <div class="four wide column" style="text-align: left;">
                    </div>
                    <div class="twelve wide column" style="text-align: right;">
                              <div id="pagination" class="ui small #efefff buttons">
                                {{ pagination|safe }}
                              </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <table id="table_document"
           class="ui celled table"
           style="font-size: 12px !important;text-align: center;font-weight: 900;">
            <thead>
                <tr>
                    <th class="no-sort" style="width: 2%">Edit</th>
                    <th style="width: 15%">Tiers X3</th>
                    <th style="width: 12%">Référence</th>
                    <th style="width: 35%">Libelle</th>
                    <th style="width: 12%">Axe PRO</th>
                    <th style="width: 12%">Grande Cétégorie</th>
                    <th style="width: 12%">Rubrique Presta</th>
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>

                    <td data-value="{{ pk }}"
                        style="text-align: center;">
                        <a href="/">
                            <i class="edit icon modification"></i>
                        </a>
                    </td>
                    <td style="text-align: left;">
                        {{ article.third_party_num|default_if_none:'' }}{% if article.third_party_num and article.third_party_num__name %} - {% endif %}{{ article.third_party_num__name|default_if_none:'' }}
                    </td>
                    <td style="text-align: left;">
                        {{ article.reference|default_if_none:'' }}
                    </td>
                    <td style="text-align: left;">
                        {% if article.libelle_heron %}{{ article.libelle_heron|default_if_none:'' }}{% else %}{{ article.libelle|default_if_none:'' }}{% endif %}
                    </td>
                    <td style="{% if not article.axe_pro__section %}background-color: #ffdae0;{% endif %}">
                        {{ article.axe_pro__section|default_if_none:'' }}
                    </td>
                    <td style="">
                          {{ article.big_category_n|default_if_none:'' }}
                    </td>
                    <td style="">
                          {{ article.sub_category_n|default_if_none:'' }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock table %} %}