{% extends "heron/table_courant.html" %}

{% block table %}

    <div class="sixteen wide column">

        <table id="table_document"
           class="ui celled table"
           style="font-size: 12px !important;text-align: center;font-weight: 900;">
            <thead>

                <tr>
                    <th class="no-sort" style="width: 2.6%">Edit</th>
                    <th style="width: 11%">Référence</th>
                    <th style="width: 31.22%">Libelle Héron</th>
                    <th style="width: 7.14%">Axe PRO</th>
                    <th style="width: 7.14%">Axe BU</th>
                    <th style="width: 7.14%">Axe PRJ</th>
                    <th style="width: 7.14%">Axe PYS</th>
                    <th style="width: 7.14%">Axe RFA</th>
                    <th style="width: 19.48%">Commentaire</th>
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr id="id_{{ third_party_num }}" class="hide_plans">

                    <td data-value="{{ third_party_num }}"
                        style="text-align: center;">
                        <a href="{% url 'articles:article_update' third_party_num=third_party_num pk=article.pk %}">
                            <i class="edit icon modification"></i>
                        </a>
                    </td>
                    <td>
                        {{ article.reference|default_if_none:'' }}
                    </td>
                    <td style="text-align: left;">
                        {{ article.libelle_heron|default_if_none:'' }}
                    </td>
                    <td>
                        {{ article.axe_pro__section|default_if_none:'' }}
                    </td>
                    <td>
                        {{ article.axe_bu__section|default_if_none:'' }}
                    </td>
                    <td>
                        {{ article.axe_prj__section|default_if_none:'' }}
                    </td>
                    <td>
                        {{ article.axe_pys__section|default_if_none:'' }}
                    </td>
                    <td>
                        {{ article.axe_rfa__section|default_if_none:'' }}
                    </td>
                    <td>
                          {{ article.comment|default_if_none:'' }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock table %}