{% extends "heron/table_courant.html" %}

{% block table %}

    <div class="sixteen wide column">
        {% if articles.has_other_pages %}
        <div class="ui segment">
            <div class="ui grid">
                <div class="four wide column" style="text-align: left;">
                </div>
                <div class="twelve wide column" style="text-align: right;">
                          <div id="pagination" class="ui small #efefff buttons">
                            {{ pagination|safe }}
                          </div>
                </div>
            </div>
        </div>
        {% endif %}

        <table id="table_document"
           class="ui celled table"
           style="font-size: 12px !important;text-align: center;font-weight: 900;">
            <thead>
                <tr>
                    <th class="no-sort" style="width: 2%">Edit</th>
                    <th style="width: 5%">Centrale Fille</th>
                    <th style="width: 12%">Tiers</th>
                    <th style="width: 60%">Article</th>
                    <th style="width: 5%">Axe PRO</th>
                    <th style="width: 7%">Grande Cétégorie</th>
                    <th style="width: 7%">Rubrique Presta</th>
                    <th style="width: 2%">TVA</th>
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>

                    <td data-value="{{ third_party_num }}"
                        style="text-align: center;">
                        <a href="{% url 'articles:article_update' third_party_num=article.third_party_num pk=article.article %}">
                            <i class="edit icon modification"></i>
                        </a>
                    </td>
                    <td style="text-align: center;">
                        {{ article.code_center|default_if_none:'' }}
                    </td>
                    <td style="text-align: left;">
                        {{ article.third_party_num|default_if_none:'' }} - {{ article.supplierm|default_if_none:'' }}
                    </td>
                    <td style="text-align: left;">
                        {{ article.reference_article|default_if_none:'' }} - {{ article.libellem|default_if_none:'' }}
                    </td>
                    <td style="{% if not article.axe_pro__section %}background-color: #ffdae0;{% endif %}">
                        {{ article.axe_pro__section|default_if_none:'' }}
                    </td>
                    <td style="">
                          {{ article.big_category__name|default_if_none:'' }}
                    </td>
                    <td style="">
                          {{ article.sub_category__name|default_if_none:'' }}
                    </td>
                    <td style="">
                          {{ article.vat|default_if_none:'' }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock table %} %}