{% extends "heron/base_semantic.html" %}

{% load static %}
{% load filters_tags %}

{% block menu_principal %}
        {% include "heron/menu_principal.html" %}
{% endblock menu_principal %}


{% block head_js %}
    <script type="text/javascript">
        let url = `{% url 'articles:articles_without_account_list' %}`;
    </script>
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}

        {% include "articles/articles_without_account_entete.html" %}
        {% include "articles/articles_without_account_table.html" %}

    {% else %}

        <br>
        <br>
        <hr>
        <br>
        <br>
        <p style="text-align: center;">Vous devez être connecté, pour pouvoir utiliser ce
            site</p>

{% endif %}


{% endblock content %}

{% block script %}

    <script>

        $(document).ready(function () {
            $(`.datatable-chargement`).hide();
        });

    </script>

{% endblock script %}
