{% extends "heron/table_courant.html" %}

{% block table %}

<div class="four wide column"></div>

<div class="eight wide column">

    <table id="table_document"
       class="ui celled table"
       style="font-size: 12px !important;text-align: center;font-weight: 900;">
        <thead>
            <tr>
                <th class="no-sort" style="text-align: center;width: 10%">Visualiser</th>
                <th style="width: 70%">Fournisseur</th>
                <th style="width: 20%">Nombre d'articles</th>
            </tr>
        </thead>
        <tbody>
        {% for supplier in suppliers %}
            <tr id="id_{{ supplier.third_party_num }}" class="hide_plans">

                <td data-value="{{ supplier.third_party_num }}"
                    style="text-align: center;">
                    <a href="#" onclick="gotToUrl(`{% if environnement_debug %}{{ domain_debug }}{% else %}{{ domain_site }}{% endif %}{% url 'articles:articles_list' third_party_num=supplier.third_party_num category=category %}`)">
                        <i class="eye icon modification"></i>
                    </a>
                </td>
                <td style="text-align: left;">
                  {% if supplier.third_party_num %}
                    {{ supplier.third_party_num }} - {{ supplier.name }}
                  {% endif %}
                </td>
                <td style="text-align: center;">
                  {% if supplier.third_party_num %}
                    {{ supplier.supplier_society.count }}
                  {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

<div class="four wide column"></div>

{% endblock table %}