{% extends "heron/table_courant.html" %}

{% block table %}

<div class="three wide column"></div>

<div class="ten wide column">

{% if not en_cours %}

        <form id="import_edi_invoices_form" action="" method="post">
            {% csrf_token %}
            <div id="import_launch">
              <div class="ui segment" style="padding-bottom: 10px;text-align: center;">
                <h4 class="ui centered header" style="margin-bottom: 10px;text-align: center;color: darkblue;">FICHIERS EDI</h4>

                <div class="ui clearing divider" style="margin-bottom: 10px;"></div>
                    {% if files_celery %}
                        <button class="ui teal basic button"
                                style="width: 230px;"
                                type="submit"
                                name="import_edi_invoices_button"
                                id="import_edi_invoices_button">
                            IMPORT FICHIERS EDI
                        </button>
                    {% else %}
                        <h5 style="color: cornflowerblue;">Il n'y a pas de fichiers EDI, à traiter</h5>
                    {% endif %}
              </div>
              <div class="ui segment" style="padding-bottom: 10px;">
                <h4 class="ui centered header" style="margin-bottom: 10px;text-align: center;color: darkblue;">BBGR STATMENT</h4>

                <div class="ui clearing divider" style="margin-bottom: 10px;"></div>
                    {% if have_statment %}
                        <button class="ui teal basic button"
                                style="width: 230px;"
                                type="submit"
                                name="bbgr_statment"
                                id="bbgr_statment">
                            IMPORT BBGR STATMENT
                        </button>
                    {% else %}
                        <h5 style="color: cornflowerblue;">Il n'y a pas de données BBGR Statment, à traiter</h5>
                    {% endif %}
              </div>
              <div class="ui segment" style="padding-bottom: 10px;">
                <h4 class="ui centered header" style="margin-bottom: 10px;text-align: center;color: darkblue;">BBGR MONTHLY</h4>

                <div class="ui clearing divider" style="margin-bottom: 10px;"></div>
                    {% if not retours_valid %}
                        <h5 style="color: red;">Tous les retours n'ont pas été validés. Veuillez-vous rapprocher du service achat.</h5>
                    {% elif have_monthly %}
                        <button class="ui teal basic button"
                                style="width: 230px;"
                                type="submit"
                                name="bbgr_monthly"
                                id="bbgr_monthly">
                            IMPORT BBGR MONTHLY
                        </button>
                    {% else %}
                        <h5 style="color: cornflowerblue;">Il n'y a pas de données BBGR Monthly, à traiter</h5>
                    {% endif %}
              </div>
              <div class="ui segment" style="padding-bottom: 10px;">
                <h4 class="ui centered header" style="margin-bottom: 10px;text-align: center;color: darkblue;">BBGR RETOURS</h4>

                <div class="ui clearing divider" style="margin-bottom: 10px;"></div>
                    {% if not retours_valid %}
                        <h5 style="color: red;">Tous les retours n'ont pas été validés. Veuillez-vous rapprocher du service achat.</h5>
                    {% elif have_retours %}
                        <button class="ui teal basic button"
                                style="width: 230px;"
                                type="submit"
                                name="bbgr_retours"
                                id="bbgr_retours">
                            IMPORT BBGR RETOURS
                        </button>
                    {% else %}
                        <h5 style="color: cornflowerblue;">Il n'y a pas de données BBGR Retours, à traiter</h5>
                    {% endif %}
              </div>
              <div class="ui segment" style="padding-bottom: 10px;">
                <h4 class="ui centered header" style="color: darkblue;margin-bottom: 10px;text-align: center;color: darkblue;">BBGR RECEPTIONS</h4>

                <div class="ui clearing divider" style="margin-bottom: 10px;"></div>
                    {% if have_receptions %}
                        <button class="ui teal basic button"
                                style="width: 230px;"
                                type="submit"
                                name="bbgr_receptions"
                                id="bbgr_receptions">
                            IMPORT BBGR RECEPTIONS
                        </button>
                    {% else %}
                        <h5 style="color: cornflowerblue;">Il n'y a pas de données BBGR Receptions, à traiter</h5>
                    {% endif %}
              </div>
            </div>
        </form>

        <!-- Conteneur pour la jauge de progression -->
        <div id="progress-container" style="display: none; margin-top: 20px;"></div>

{% endif %}

</div>


{% endblock table %}







