{% extends "heron/list_courant.html" %}

{% block right_side %}

    <a class="item" href="">
        <button class="ui teal button submit" name="update_tiers" type="button" style="padding: 7px 10px;margin: 10px;font-size: 11px">
            VALIDEZ
        </button>
    </a>
{#    <a class="item" href="">#}
{#        <button class="ui teal button " name="update_tiers" type="submit" style="padding: 7px 10px;margin: 10px;font-size: 11px">#}
{#            VALIDEZ#}
{#        </button>#}
{#    </a>#}

{% endblock right_side %}