{% load filters_tags %}


<div class="ui grid" style="padding: 10px 0;margin-top: 10px;margin-left: {% if margin_table %}{{ margin_table }}px{% else %}50px{% endif %};margin-right: {% if margin_table %}{{ margin_table }}px{% else %}50px{% endif %};">
    <div class="ui datatable-chargement active inverted dimmer">
        <div class="ui medium text loader">Chargement</div>
    </div>
    <div class="sixteen wide column" style="padding: 0;">

        <div class="ui segment" style="padding: 5px 14px 5px 5px;background-color: lavender;margin-bottom: 5px;">
            <h4 id="headerTiers" style="font-weight: bold;">Invoice</h4>
        </div>

        <div class="ui segment" style="padding: 5px 10px 0;margin: 0 0 10px;">
            <div class="ui mini form entete" style="font-size: 12px;font-weight:bold;">
                <div class="fields" style="">
                    <div class="five wide field">
                        <label for="id_third_party_num" style="text-align: left;">Fournisseur</label>
                        {{ form_base.third_party_num }}
                    </div>
                    <div class="three wide field">
                        <label for="id_invoice_number" style="text-align: left;">N° Facture</label>
                        <input type="text" name="invoice_number" maxlength="35" required="" id="id_invoice_number">
                    </div>
                    <div class="two wide field">
                        <label for="id_invoice_date"
                               style="text-align: left;">Date Facture</label>
                        {{ form_base.invoice_date }}
                    </div>
                    <div class="one wide field">
                        <label for="id_invoice_type" style="text-align: left;">Type</label>
                        {{ form_base.invoice_type }}
                    </div>
                    <div class="one wide field">
                        <label for="id_devise" style="text-align: left;">Devise</label>
                        {{ form_base.devise }}
                    </div>
                    <div class="one wide field">
                        <label for="id_sens" style="text-align: left;">Sens</label>
                        {{ form_base.sens }}
                    </div>
                    <div class="two wide field" style="text-align: right;">
{#                        <button class="ui basic teal button" name="ajoutLigne" id="idAjoutLigne" type="button" style="padding: 7px 10px;margin: 28px 0 0;font-size: 11px">AJOUTER DES LIGNES</button>#}
                    </div>
                </div>

                <div class="fields" style="">
                    <div class="ten wide field">
                    </div>
                    <div class="two wide field">
                        <label for="id_net_amount" style="display: none;text-align: right;margin-right: 14px">TOTAL HT</label>
                        <input type="number"
                               class="amount"
                               name="tot_net_amount"
                               id="id_tot_net_amount"
                               readonly  tabindex="-1"
                               step="0.01"
                               style="background-color: #efefff;text-align: right;"
                               value="0">
                    </div>
                    <div class="two wide field">
                        <label for="id_vat_amount" style="display: none;text-align: right;margin-right: 14px">TOTAL TVA</label>
                        <input type="number"
                               class="amount"
                               name="tot_vat_amount"
                               id="id_tot_vat_amount"
                               readonly  tabindex="-1"
                               step="0.01"
                               style="background-color: #efefff;text-align: right;"
                               value="0">
                    </div>
                    <div class="two wide field">
                        <label for="id_amount_with_vat" style="display: none;text-align: right;margin-right: 14px">TOTAL TTC</label>
                        <input type="number"
                               class="amount"
                               name="tot_amount_with_vat"
                               id="id_tot_amount_with_vat"
                               readonly  tabindex="-1"
                               step="0.01"
                               style="background-color: #efefff;text-align: right;"
                               value="0">
                    </div>
                </div>
            </div>
        </div>

{#      ENTETE DETAILS ===========================================================================#}
        <div class="ui segment" style="padding: 5px 14px 5px 5px;background-color: lavender;margin-bottom: 5px;">
            <h4 id="headerTiers" style="font-weight: bold;">Détails</h4>
        </div>
{#      DEBUT FORM_DETAILS =======================================================================#}
        <div id="" style="margin: 0;padding: 0">
            {% for i in range_display %}
                {% with i|stringformat:"03d" as num %}
                <div id="id_segment_details_{{ num }}" class="ui segment" style="{% cycle '' 'background-color: lavender;' %};margin: 0;padding: 5px 10px 10px;">
                    <div class="ui mini form lignes" style="font-size: 12px;font-weight:bold;">
                        <div class="fields formset" style="margin-bottom: 5px;">
                            <div class="eight wide field">
                                <div class="field remote search">
                                    <label for="id_cct_uuid_identification_{{ num }}">Ligne {{ forloop.counter }} - CCT X3</label>
                                    <select name="cct_uuid_identification"
                                            class="ui search dropdown search-model"
                                            data-models="maisons_in_use"
                                            id="id_cct_uuid_identification_{{ num }}">
                                    </select>
                                </div>
                            </div>
                            <div class="eight wide field">
                                <div class="field remote">
                                    <label for="id_reference_article_{{ num }}">Article</label>
                                    <select name="reference_article_{{ num }}"
                                            class="ui search dropdown search-model"
                                            data-models="articles"
                                            id="id_reference_article_{{ num }}">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="fields formset" style="margin-bottom: 5px;">
                            <div class="two wide field">
                                <label for="id_delivery_number_{{ num }}">Bon de livraison</label>
                                <input type="text"
                                       name="delivery_number"
                                       maxlength="80"
                                       id="id_delivery_number_{{ num }}">
                            </div>
                            <div class="two wide field">
                                <label for="id_delivery_date_{{ num }}"
                                       style="text-align: left;">Date Livraison</label>
                                <input type="date"
                                     name="delivery_date"
                                     id="id_delivery_date"
                                     value="">
                            </div>
                            <div class="four wide field">
                                <label for="id_client_name_{{ num }}">Client</label>
                                <input type="text"
                                       name="client_name"
                                       maxlength="80"
                                       id="id_client_name_{{ num }}">
                            </div>
                            <div class="eight wide field">
                                <label for="id_serial_number_{{ num }}">N° Série / Infos complémentaires</label>
                                <input type="text"
                                     name="serial_number"
                                     id="id_serial_number_{{ num }}">
                            </div>
                        </div>
                        <div class="fields formset" style="margin-bottom: 5px;">
                            <div class="two wide field">
                            </div>
                            <div class="two wide field">
                                <label for="id_qty_{{ num }}" style="text-align: right;margin-right: 14px">Qté</label>
                                <input type="number"
                                       class="amount"
                                       name="qty"
                                       value="1"
                                       step="1"
                                       style="text-align: right;"
                                       required=""
                                       id="id_qty_{{ num }}">
                            </div>
                            <div class="two wide field">
                                <label for="id_unit_weight_{{ num }}">Unité</label>
                                <div class="ui fluid search dropdown selection">
                                    <select name="unit_weight" required="" id="id_unit_weight_{{ num }}">
                                      <option value="">---------</option>
                                      <option value="1" selected="">U</option>
                                      <option value="2">Grammes</option>
                                      <option value="3">Kg</option>
                                      <option value="4">Pièce</option>
                                      <option value="5">Boite</option>
                                      <option value="6">Carton</option>
                                      <option value="7">Jrs</option>
                                      <option value="8">Mois</option>
                                      <option value="9">Forfait</option>
                                      <option value="10">Heures</option>
                                      <option value="11">Ens</option>
                                      <option value="12">%</option>
                                    </select>
                                    <i class="dropdown icon"></i>
                                    <input class="search" autocomplete="off" tabindex="0" >
                                        <div class="text">U</div>
                                        <div class="menu transition hidden" tabindex="-1">
                                            <div class="item active selected" data-value="1">U</div>
                                            <div class="item" data-value="2">Grammes</div>
                                            <div class="item" data-value="3">Kg</div>
                                            <div class="item" data-value="4">Pièce</div>
                                            <div class="item" data-value="5">Boite</div>
                                            <div class="item" data-value="6">Carton</div>
                                            <div class="item" data-value="7">Jrs</div>
                                            <div class="item" data-value="8">Mois</div>
                                            <div class="item" data-value="9">Forfait</div>
                                            <div class="item" data-value="10">Heures</div>
                                            <div class="item" data-value="11">Ens</div>
                                            <div class="item" data-value="12">%</div>
                                        </div>
                                </div>
                            </div>
                            <div class="two wide field">
                                <label for="id_net_unit_price_{{ num }}" style="text-align: right;margin-right: 14px">PU Net</label>
                                <input type="number"
                                       class="amount"
                                       name="net_unit_price"
                                       value="0"
                                       step="0.01"
                                       min="0"
                                       style="text-align: right;"
                                       required=""
                                       id="id_net_unit_price_{{ num }}">
                            </div>
                            <div class="two wide field">
                                <label for="id_vat_{{ num }}">TVA X3</label>
                                <div class="ui fluid search dropdown selection">
                                    <select name="vat" class="amount" required="" id="id_vat_{{ num }}">
                                  <option value="">---------</option>
                                  <option value="001" selected="">001 - FRA</option>
                                  <option value="002">002 - FRA</option>
                                  <option value="003">003 - FRA</option>
                                  <option value="004">004 - FRA</option>
                                  <option value="005">005 - FRA</option>
                                  <option value="006">006 - FRA</option>
                                  <option value="007">007 - FRA</option>
                                  <option value="008">008 - FRA</option>
                                  <option value="009">009 - FRA</option>
                                  <option value="010">010 - CEE</option>
                                  <option value="011">011 - CEE</option>
                                  <option value="012">012 - CEE</option>
                                  <option value="013">013 - CEE</option>
                                  <option value="014">014 - CEE</option>
                                  <option value="015">015 - CEE</option>
                                  <option value="016">016 - CEE</option>
                                  <option value="017">017 - CEE</option>
                                  <option value="018">018 - CEE</option>
                                  <option value="021">021 - CPI</option>
                                  <option value="031">031 - EXP</option>
                                  <option value="032">032 - SPT</option>
                                  <option value="033">033 - None</option>
                                  <option value="041">041 - DOM</option>
                                  <option value="042">042 - DOM</option>
                                  <option value="050">050 - CEE</option>
                                  <option value="051">051 - CEE</option>
                                  <option value="052">052 - None</option>
                                  <option value="053">053 - CEE</option>
                                  <option value="054">054 - CEE</option>
                                  <option value="055">055 - CEE</option>
                                  <option value="056">056 - CEE</option>
                                  <option value="057">057 - CEE</option>
                                  <option value="058">058 - CEE</option>
                                  <option value="059">059 - CEE</option>
                                  <option value="060">060 - CEE</option>
                                  <option value="061">061 - CEE</option>
                                  <option value="062">062 - CEE</option>
                                  <option value="063">063 - CEE</option>
                                  <option value="064">064 - CEE</option>
                                  <option value="065">065 - CEE</option>
                                  <option value="066">066 - CEE</option>
                                  <option value="067">067 - CEE</option>
                                  <option value="068">068 - CEE</option>
                                  <option value="069">069 - CEE</option>
                                  <option value="070">070 - CEE</option>
                                  <option value="071">071 - CEE</option>
                                  <option value="072">072 - CEE</option>
                                  <option value="GST51">GST51 - GST</option>
                                </select>
                                    <i class="dropdown icon"></i>
                                    <input class="search" autocomplete="off" tabindex="0">
                                    <div class="text">001 - FRA</div>
                                    <div class="menu" tabindex="-1">
                                        <div class="item active selected" data-value="001">001 - FRA</div>
                                        <div class="item" data-value="002">002 - FRA</div>
                                        <div class="item" data-value="003">003 - FRA</div>
                                        <div class="item" data-value="004">004 - FRA</div>
                                        <div class="item" data-value="005">005 - FRA</div>
                                        <div class="item" data-value="006">006 - FRA</div>
                                        <div class="item" data-value="007">007 - FRA</div>
                                        <div class="item" data-value="008">008 - FRA</div>
                                        <div class="item" data-value="009">009 - FRA</div>
                                        <div class="item" data-value="010">010 - CEE</div>
                                        <div class="item" data-value="011">011 - CEE</div>
                                        <div class="item" data-value="012">012 - CEE</div>
                                        <div class="item" data-value="013">013 - CEE</div>
                                        <div class="item" data-value="014">014 - CEE</div>
                                        <div class="item" data-value="015">015 - CEE</div>
                                        <div class="item" data-value="016">016 - CEE</div>
                                        <div class="item" data-value="017">017 - CEE</div>
                                        <div class="item" data-value="018">018 - CEE</div>
                                        <div class="item" data-value="021">021 - CPI</div>
                                        <div class="item" data-value="031">031 - EXP</div>
                                        <div class="item" data-value="032">032 - SPT</div>
                                        <div class="item" data-value="033">033 - None</div>
                                        <div class="item" data-value="041">041 - DOM</div>
                                        <div class="item" data-value="042">042 - DOM</div>
                                        <div class="item" data-value="050">050 - CEE</div>
                                        <div class="item" data-value="051">051 - CEE</div>
                                        <div class="item" data-value="052">052 - None</div>
                                        <div class="item" data-value="053">053 - CEE</div>
                                        <div class="item" data-value="054">054 - CEE</div>
                                        <div class="item" data-value="055">055 - CEE</div>
                                        <div class="item" data-value="056">056 - CEE</div>
                                        <div class="item" data-value="057">057 - CEE</div>
                                        <div class="item" data-value="058">058 - CEE</div>
                                        <div class="item" data-value="059">059 - CEE</div>
                                        <div class="item" data-value="060">060 - CEE</div>
                                        <div class="item" data-value="061">061 - CEE</div>
                                        <div class="item" data-value="062">062 - CEE</div>
                                        <div class="item" data-value="063">063 - CEE</div>
                                        <div class="item" data-value="064">064 - CEE</div>
                                        <div class="item" data-value="065">065 - CEE</div>
                                        <div class="item" data-value="066">066 - CEE</div>
                                        <div class="item" data-value="067">067 - CEE</div>
                                        <div class="item" data-value="068">068 - CEE</div>
                                        <div class="item" data-value="069">069 - CEE</div>
                                        <div class="item" data-value="070">070 - CEE</div>
                                        <div class="item" data-value="071">071 - CEE</div>
                                        <div class="item" data-value="072">072 - CEE</div>
                                        <div class="item" data-value="GST51">GST51 - GST</div>
                                    </div>
                                </div>
                            </div>
                            <div class="two wide field">
                                <label for="id_net_amount_{{ num }}" style="text-align: right;margin-right: 14px">Montant HT</label>
                                <input type="number"
                                       name="net_amount"
                                       id="id_net_amount_{{ num }}"
                                       readonly  tabindex="-1"
                                       step="0.01"
                                       style="background-color: #efefff;text-align: right;"
                                       value="0">
                            </div>
                            <div class="two wide field">
                                <label for="id_vat_amount_{{ num }}" style="text-align: right;margin-right: 14px">Montant TVA</label>
                                <input type="number"
                                       class="amount"
                                       name="vat_amount"
                                       id="id_vat_amount_{{ num }}"
                                       step="0.01"
                                       style="text-align: right;"
                                       value="0">
                            </div>
                            <div class="two wide field">
                                <label for="id_amount_with_vat_{{ num }}" style="text-align: right;margin-right: 14px">Montant TTC</label>
                                <input type="number"
                                       class="amount"
                                       name="amount_with_vat"
                                       id="id_amount_with_vat_{{ num }}"
                                       step="0.01"
                                       style="text-align: right;"
                                       value="0">
                            </div>
                        </div>
                    </div>
                </div>
                {% endwith %}
            {% endfor %}
        </div>
    </div>
</div>
