{% load filters_tags %}



<div class="ui grid" style="padding: 10px 0;margin-top: 10px;margin-left: {% if margin_table %}{{ margin_table }}px{% else %}50px{% endif %};margin-right: {% if margin_table %}{{ margin_table }}px{% else %}50px{% endif %};">
    <div class="ui datatable-chargement active inverted dimmer">
        <div class="ui medium text loader">Chargement</div>
    </div>
    <div class="sixteen wide column" style="padding: 0;">
{#      ENTETES DU FORMSET ====================================================================== #}
        <input type="hidden" name="form-TOTAL_FORMS" value="{{ nb_display }}" id="id_form-TOTAL_FORMS">
        <input type="hidden" name="form-INITIAL_FORMS" value="0" id="id_form-INITIAL_FORMS">
        <input type="hidden" name="form-MIN_NUM_FORMS" value="1" id="id_form-MIN_NUM_FORMS">
        <input type="hidden" name="form-MAX_NUM_FORMS" value="{{ count_elements }}" id="id_form-MAX_NUM_FORMS">

        <div class="ui segments">

{#        CHAMPS CACHES POUR VALEURS PAR DEFAUT ================================================= #}

{#        ENETETE DETAILS ======================================================================= #}
          <div class="ui segment">
            <div class="ui mini form" style="font-size: 12px;font-weight:bold;">
                <h4 id="headerTiers" class="ui dividing header">Invoice</h4>
                <div class="fields" style="">
                    <div class="five wide field">
                      <label for="id_form-__prefix__-third_party_num" style="text-align: left;">Fournisseur</label>
                        {{ formset.empty_form.third_party_num }}
                    </div>
                    <div class="four wide field">
                        <label for="id_invoice_number" style="text-align: left;">N° Facture</label>
                        <input type="text" name="invoice_number" maxlength="35" required="" id="id_invoice_number">
                    </div>
                    <div class="one wide field">
                      <label for="id_form-__prefix__-invoice_type" style="text-align: left;">Type</label>
                        {{ formset.empty_form.invoice_type }}
                    </div>
                    <div class="two wide field">
                      <label for="id_form-__prefix__-invoice_date"
                               style="text-align: left;">Date Facture</label>
                      <input type="date"
                             name="form-__prefix__-invoice_date"
                             id="id_form-__prefix__-invoice_date"
                             required=""
                             value="{{ date_du_jour.isoformat }}">
                    </div>
                    <div class="one wide field">
                        <label for="id_form-__prefix__-devise" style="text-align: left;">{{ formset.empty_form.devise.label }}</label>
                        {{ formset.empty_form.devise }}
                    </div>
                    <div class="one wide field">
                        <label for="id_form-__prefix__-sens" style="text-align: left;">{{ formset.empty_form.sens.label }}</label>
                        {{ formset.empty_form.sens }}
                    </div>
                    <div class="two wide field" style="text-align: left;">
                        <button class="ui basic teal button" name="ajoutLigne" id="idAjoutLigne" type="button" style="padding: 7px 10px;margin: 28px 0 0;font-size: 11px">AJOUTER LIGNE</button>
                    </div>
                </div>
              </div>
          </div>

{#        ENETETE LIGNES ======================================================================== #}
          <div class="ui segment">
            <div class="ui mini form" style="font-size: 12px;font-weight:bold;">
                <h4 id="headerTiers" class="ui dividing header">Détails</h4>
            </div>
          </div>
        <div class="empty-form" style="display: none;">
            {{ formset.empty_form }}
        </div>
{#        DEBUT FORMSET ========================================================================= #}
            <div class="ui segment">
              <div class="ui mini form" style="font-size: 12px;font-weight:bold;">
                {% for formlines in formset %}
                    <div class="fields formset" style="">
                        <div class="three wide field">
                            <label for="id_form-{{ forloop.counter0 }}-cct_uuid_identification">Catégorie</label>
                            {{ formlines.big_category }}
                        </div>
                        <div class="two wide field">
                            <label for="id_form-{{ forloop.counter0 }}-sub_category">Rubriques Presta</label>
                            <input type="text"
                                   id="id_form-{{ forloop.counter0 }}-sub_category"
                                   name="form-{{ forloop.counter0 }}-sub_category" value="">
                        </div>
                        <div class="five wide field">
                            <label for="id_form-{{ forloop.counter0 }}-cct_uuid_identification">CCT X3</label>
                            {{ formlines.cct_uuid_identification }}
                        </div>
                    </div>
                    <div class="fields formset" data-max="{{ nb_display }}" id="formset{{ forloop.counter }}" style="margin-bottom: 5px;{% if forloop.counter > nb_display %}display: none;{% endif %}">
                        <div class="five wide field">
                            <label for="id_form-{{ forloop.counter0 }}-reference_article">Référence Article</label>
                            <select id="id_form-{{ forloop.counter0 }}-reference_article"
                                    class="ui search fluid dropdown artilce"
                                    data-id="{{ forloop.counter0 }}"
                                    name="form-{{ forloop.counter0 }}-reference_article">
                                    <option value=""></option>
                            </select>
                        </div>
                        <div class="one wide field">
                            <label for="id_form-{{ forloop.counter0 }}-qty">Qté</label>
                            {{ formlines.qty }}
                        </div>
                        <div class="one wide field">
                            {{ formlines.net_unit_price }}
                            <input type="number"
                                   name="form-{{ forloop.counter0 }}-net_unit_price"
                                   id="id_form-{{ forloop.counter0 }}-net_unit_price"
                                   style="text-align: right;"
                                   value="0"
                                   step="0.01">
                        </div>
                        <div class="one wide field">
                            {{ formlines.vat.label }}
                            {{ formlines.vat }}
                        </div>
                        <div class="two wide field">
                            <input type="text"
                                 name="form-{{ forloop.counter0 }}-net_amount"
                                 maxlength="20"
                                 id="id_form-{{ forloop.counter0 }}-net_amount"
                                 readonly
                                 style="background-color: #efefff;text-align: right;"
                                 value="0">
                        </div>
                    </div>
                {% endfor %}
              </div>
            </div>
        </div>
    </div>
</div>
{#{{ formset.management_form }}#}
{#{% for form in formset %}#}
{#{{ form }}<br><br>#}
{#{% endfor %}#}