        <div id="id_segment_details_000" class="ui segment" style="display: none;">
            <div class="ui mini form" style="font-size: 12px;font-weight:bold;">
                <div class="fields formset" style="margin-bottom: 5px;">
                    <div class="eight wide field">
                        <label for="id_cct_uuid_identification">CCT X3</label>
                        <select id="id_cct_uuid_identification"
                                class="ui search fluid dropdown artilce"
                                name="cct_uuid_identification">
                                <option value=""></option>
                        </select>
                    </div>
                    <div class="eight wide field">
                        <label for="id_client_name">Client</label>
                        {{ form_details.client_name }}
                    </div>
                    <div class="sixteen wide field">
                        <label for="id_serial_number">N° Série</label>
                        <input type="text"
                             name="serial_number"
                             id="id_serial_number">
                    </div>
                </div>
                <div class="fields formset" style="margin-bottom: 5px;">
                    <div class="eight wide field">
                        <label for="id_reference_article">Référence Article</label>
                        <select id="id_reference_article"
                                class="ui search fluid dropdown artilce"
                                name="reference_article">
                                <option value=""></option>
                        </select>
                    </div>
                    <div class="eleven wide field">
                        <label for="id_libelle">Libellé</label>
                        {{ form_details.libelle }}
                    </div>
                    <div class="two wide field">
                        <label for="id_qty" style="text-align: right;margin-right: 14px">Qté</label>
                        {{ form_details.qty }}
                    </div>
                    <div class="two wide field">
                        <label for="id_unit_weight">Unité</label>
                        {{ form_details.unit_weight }}
                    </div>
                    <div class="three wide field">
                        <label for="id_net_unit_price" style="text-align: right;margin-right: 14px">PU Net</label>
                        {{ form_details.net_unit_price }}
                    </div>
                    <div class="three wide field">
                        <label for="id_vat">TVA X3</label>
                        {{ form_details.vat }}
                    </div>
                    <div class="three wide field">
                        <label for="id_net_amount" style="text-align: right;margin-right: 14px">Montant Net</label>
                        <input type="text"
                             name="net_amount"
                             maxlength="20"
                             id="id_net_amount"
                             readonly
                             style="background-color: #efefff;text-align: right;"
                             value="0">
                    </div>
                </div>
            </div>
        </div>