{% extends "heron/base_semantic.html" %}

{% load static %}
{% load filters_tags %}

{% block menu_principal %}
        {% include "heron/menu_principal.html" %}
{% endblock menu_principal %}

{% block content %}

{% if user.is_authenticated %}

        {% include 'edi/invoice_hand_empty_form.html' %}

{#        <form action="" method="post">#}
            {% csrf_token %}
            {% include "edi/invoice_handupdate_entete.html" %}

            {% if category == "marchandises" %}

                {% include "edi/invoice_update_marchandise_table.html" %}

            {% elif category == "formation"%}

                {% include "edi/invoice_update_formation_table.html" %}

            {% elif category == "personnel"%}

                {% include "edi/invoice_update_personnel_table.html" %}

            {% endif %}

{#        </form>#}

    {% else %}

        <br>
        <br>
        <hr>
        <br>
        <br>
        <p style="text-align: center;">Vous devez être connecté, pour pouvoir utiliser ce
            site</p>

{% endif %}


{% endblock content %}

{% block script %}

    <script type="text/javascript">

        $(document).ready(function () {
            $(`.datatable-chargement`).hide();

            let nbDisplay = {{ nb_display }};

            const vatRates = {{%  for vat, rate in vat_list %}
                '{{ vat }}': {{ rate|point }},
            {% endfor %}};

            function recalcAlls () {

                let sum_net_amount = 0;
                let sum_vat_amount = 0;
                let sum_amount_with_vat = 0;

                for (let i = 1; i < nbDisplay + 1; i++) {
                    let num = i.toString().padStart(3, '0');
                    let reference_article = $(`#id_reference_article_${num}`).val() || '';

                    if (reference_article !== '') {
                        let net_amount = Math.round(($(`#id_net_amount_${num}`).val() || 0) *100)/100;
                        let vat_amount = Math.round(($(`#id_vat_amount_${num}`).val() || 0) *100)/100;
                        let amount_with_vat = Math.round(($(`#id_amount_with_vat_${num}`).val() || 0) *100)/100;
                        console.log("dans la boucle : ", i, " - ", net_amount);
                        sum_net_amount += net_amount
                        sum_vat_amount += vat_amount
                        sum_amount_with_vat += amount_with_vat
                    }
                }

                console.log("à la fin : ", sum_net_amount.toFixed(2))
                $(`#id_net_amount`).val(sum_net_amount.toFixed(2))
                $(`#id_vat_amount`).val(sum_vat_amount.toFixed(2))
                $(`#id_amount_with_vat`).val(sum_amount_with_vat.toFixed(2))
            }

            // RECALCUL DES TOTAUX
            $(`.amount`).change(function (){

                let num = $(this).attr('id').slice(-3);
                let name = $(this).attr('name')
                let vat = $(`#id_vat_${num}`).dropdown('get value');
                let rate = vatRates[vat];
                let elementQty = $(`#id_qty_${num}`);
                let elementNet_amount = $(`#id_net_amount_${num}`);
                let elementNet_unit_price = $(`#id_net_unit_price_${num}`);
                let elementVat_amount = $(`#id_vat_amount_${num}`);
                let elementAmount_with_vat = $(`#id_amount_with_vat_${num}`);
                let Qty = Math.round((elementQty.val() || 0) *100)/100;
                let net_unit_price = Math.round((elementNet_unit_price.val() || 0) *100)/100;
                let net_amount = Math.round((elementNet_amount.val() || 0) *100)/100;
                let vat_amount = Math.round((elementVat_amount.val() || 0) *100)/100;
                let amount_with_vat = Math.round((elementAmount_with_vat.val() || 0) *100)/100;

                if (name === 'qty' || name === 'net_unit_price' || name === 'vat') {
                    net_amount =  Math.round(Qty * net_unit_price *100)/100;
                    vat_amount = Math.round(net_amount * rate * 100)/100;
                    amount_with_vat = net_amount + vat_amount;
                    elementNet_amount.val(net_amount.toFixed(2));
                    elementVat_amount.val(vat_amount.toFixed(2));
                    elementAmount_with_vat.val(amount_with_vat.toFixed(2));
                }

                if (name === 'vat_amount') {
                    amount_with_vat = net_amount + vat_amount;
                    elementAmount_with_vat.val(amount_with_vat.toFixed(2));
                }

                if (name === 'amount_with_vat') {
                    vat_amount = amount_with_vat - net_amount;
                    elementVat_amount.val(vat_amount.toFixed(2));
                }

                recalcAlls()
            })


            // ENVOI DE LA REQUETE POST A L'APPUI DU BOUTON VALIDER
            $("#id_create_invoice").click(function (event) {

                $(`.datatable-chargement`).show();

                let entete = {
                    'third_party_num':$(`#id_third_party_num`).dropdown('get value'),
                    'invoice_number':$(`#id_invoice_number`).val(),
                    'invoice_date':$(`#id_invoice_date`).val(),
                    'invoice_type':$(`#id_invoice_type`).dropdown('get value'),
                    'devise':$(`#id_devise`).dropdown('get value'),
                    'sens': $(`#id_sens`).dropdown('get value'),
                };
                let lignes = [];

                for (let i = 1; i < nbDisplay + 1; i++) {
                    let reference_article = $(`#id_reference_article_${i.toString().padStart(3, '0')}`).val() || '';

                    {#console.log("reference_article", $(`#id_reference_article_${i.toString().padStart(3, '0')}`).val())#}

                    if (reference_article !== '') {
                        lignes.push({
                            'num' : i,
                            'cct_uuid_identification' : $(`#id_cct_uuid_identification_${i.toString().padStart(3, '0')}`).dropdown('get value'),
                            'client_name' :  $(`#id_client_name_${i.toString().padStart(3, '0')}`).val(),
                            'serial_number' :  $(`#id_serial_number_${i.toString().padStart(3, '0')}`).val(),
                            'reference_article' : reference_article,
                            'libelle' :  $(`#id_libelle_${i.toString().padStart(3, '0')}`).val(),
                            'qty' :  $(`#id_qty_${i.toString().padStart(3, '0')}`).val(),
                            'unit_weight' :  $(`#id_unit_weight_${i.toString().padStart(3, '0')}`).dropdown('get value'),
                            'net_unit_price' :  $(`#id_net_unit_price_${i.toString().padStart(3, '0')}`).val(),
                            'vat' :  $(`#id_vat_${i.toString().padStart(3, '0')}`).dropdown('get value'),
                            'initial_date' : $(`#id_initial_date_${i.toString().padStart(3, '0')}`).val(),
                            'final_date' : $(`#id_final_date_${i.toString().padStart(3, '0')}`).val(),
                            'last_name' : $(`#id_last_name_${i.toString().padStart(3, '0')}`).val(),
                            'first_name' : $(`#id_first_name_${i.toString().padStart(3, '0')}`).val(),
                            'heures_formation' : $(`#id_heures_formation_${i.toString().padStart(3, '0')}`).val(),
                            'delivery_number' : $(`#id_delivery_number_${i.toString().padStart(3, '0')}`).val(),
                            'delivery_date' : $(`#id_delivery_date_${i.toString().padStart(3, '0')}`).val(),
                            'vat_amount' : $(`#id_vat_amount_${i.toString().padStart(3, '0')}`).val(),
                            'amount_with_vat' : $(`#id_amount_with_vat_${i.toString().padStart(3, '0')}`).val(),
                        });
                    }
                }
                let csrftoken = $(`input[name*='csrfmiddlewaretoken']`).val();
                let formData = {
                    'csrfmiddlewaretoken' : csrftoken,
                    'entete': entete,
                    'lignes': lignes
                };

                {#console.log({'data': JSON.stringify(formData)})#}

                $.ajax({
                    type: "POST",
                    url: "{{ url_saisie }}",
                    data: {'data': JSON.stringify(formData)},
                    encode: true,
                    headers: {'X-CSRFToken': csrftoken},
                    mode: 'same-origin',
                }).done(function (data) {
                    window.location.replace("{{ url_saisie }}");
                });

                event.preventDefault();

            });

        });

    </script>

{% endblock script %}

