{% load filters_tags %}

<div class="ui grid" style="padding: 10px 0;margin-top: 10px;margin-left: {% if margin_table %}{{ margin_table }}px{% else %}50px{% endif %};margin-right: {% if margin_table %}{{ margin_table }}px{% else %}50px{% endif %};">
    <div class="ui datatable-chargement active inverted dimmer">
        <div class="ui medium text loader">Chargement</div>
    </div>
    <div class="sixteen wide column" style="padding: 0;">

        <div class="ui segment" style="padding: 5px 14px 5px 5px;background-color: lavender;margin-bottom: 5px;">
            <h4 id="headerTiers" style="font-weight: bold;">Invoice</h4>
        </div>

        <div class="ui segment" style="padding: 5px 10px 0;margin: 0 0 10px;">
            <div class="ui mini form entete" style="font-size: 12px;font-weight:bold;">
                <div class="fields" style="">
                    <div class="five wide field">
                        <label for="id_third_party_num" style="text-align: left;">Fournisseur</label>
                        {{ form_base.third_party_num }}
                    </div>
                    <div class="two wide field">
                        <label for="id_invoice_date"
                               style="text-align: left;">Date Facture</label>
                        {{ form_base.invoice_date }}
                    </div>
                    <div class="one wide field">
                        <label for="id_invoice_type" style="text-align: left;">Type</label>
                        {{ form_base.invoice_type }}
                    </div>
                    <div class="one wide field">
                        <label for="id_devise" style="text-align: left;">Devise</label>
                        {{ form_base.devise }}
                    </div>
                    <div class="one wide field">
                    </div>
                    <div class="two wide field">
                        <label for="id_tot_net_amount" style="text-align: right;margin-right: 14px">TOTAL HT</label>
                        <input type="number"
                               class="amount"
                               name="tot_net_amount"
                               id="id_tot_net_amount"
                               readonly  tabindex="-1"
                               step="0.01"
                               style="background-color: #efefff;text-align: right;"
                               value="0">
                    </div>
                    <div class="two wide field">
                        <label for="id_tot_vat_amount" style="text-align: right;margin-right: 14px">TOTAL TVA</label>
                        <input type="number"
                               class="amount"
                               name="tot_vat_amount"
                               id="id_tot_vat_amount"
                               readonly  tabindex="-1"
                               step="0.01"
                               style="background-color: #efefff;text-align: right;"
                               value="0">
                    </div>
                    <div class="two wide field">
                        <label for="id_tot_amount_with_vat" style="text-align: right;margin-right: 14px">TOTAL TTC</label>
                        <input type="number"
                               class="amount"
                               name="tot_amount_with_vat"
                               id="id_tot_amount_with_vat"
                               readonly  tabindex="-1"
                               step="0.01"
                               style="background-color: #efefff;text-align: right;"
                               value="0">
                    </div>
                </div>
            </div>
        </div>

{#      ENTETE DETAILS ===========================================================================#}
        <div class="ui segment" style="padding: 5px 14px 5px 5px;background-color: lavender;margin-bottom: 5px;">
            <h4 id="headerTiers" style="font-weight: bold;">Détails de la Formation</h4>
        </div>
{#      DEBUT FORM_DETAILS =======================================================================#}
        <div id="" style="margin: 0;padding: 0">
            {% for i in range_display %}
                {% with i|stringformat:"03d" as num %}
                <div id="id_segment_details_{{ num }}" class="ui segment" style="{% cycle '' 'background-color: lavender;' %};margin: 0;padding: 5px 10px 10px;">
                    <div class="ui mini form lignes" style="font-size: 12px;font-weight:bold;">
                        <div class="fields" style="margin-bottom: 5px;">
                            <div class="six wide field">
                                <div class="field remote search">
                                    <label for="id_cct_uuid_identification_{{ num }}">Ligne {{ forloop.counter }} - CCT X3</label>
                                    <select name="cct_uuid_identification"
                                            class="ui search dropdown search-model"
                                            data-models="maisons_in_use"
                                            id="id_cct_uuid_identification_{{ num }}">
                                    </select>
                                </div>
                            </div>
                            <div class="two wide field">
                                <label for="id_initial_date_{{ num }}">Date Formation</label>
                                <input type="date"
                                     name="initial_date"
                                     id="id_initial_date_{{ num }}"
                                     required="">
                            </div>
                            <div class="two wide field">
                                <label for="id_final_date_{{ num }}">Date de Fin</label>
                                <input type="date"
                                     name="final_date"
                                     id="id_final_date_{{ num }}"
                                     required="">
                            </div>
                            <div class="three wide field">
                                <label for="id_last_name_{{ num }}" style="text-align: left;margin-right: 14px">Nom de Famille</label>
                                <input type="text"
                                       name="last_name"
                                       style="text-align: left;"
                                       required=""
                                       id="id_last_name_{{ num }}">
                            </div>
                            <div class="three wide field">
                                <label for="id_first_name_{{ num }}" style="text-align: left;margin-right: 14px">Prénom</label>
                                <input type="text"
                                       name="first_name"
                                       style="text-align: left;"
                                       required=""
                                       id="id_first_name_{{ num }}">
                            </div>
                        </div>
                        <div class="fields" style="margin-bottom: 5px;">
                            <div class="six wide field">
                                <label for="id_reference_article_{{ num }}">Formation</label>
                                <select name="invoice_type"
                                        class="ui search dropdown search-model"
                                        id="id_reference_article_{{ num }}">
                                    {% for article in query_articles %}
                                        <option value="{{ article.pk }}">{{ article.model }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="two wide field">
                                <label for="id_heures_formation_{{ num }}" style="text-align: right;margin-right: 14px">Heure Formation</label>
                                <input type="number"
                                       name="heures_formation"
                                       value="0"
                                       step="0.1"
                                       min="0"
                                       style="text-align: right;"
                                       required=""
                                       id="id_heures_formation_{{ num }}">
                            </div>
                            <div class="two wide field">
                                <label for="id_vat_{{ num }}" style="text-align: right">TVA X3</label>
                                <div class="ui fluid search dropdown selection">
                                    <select name="vat" class="amount" required="" id="id_vat_{{ num }}" style="text-align: right;">
                                    {% for vat, _, vat_regime in vat_list %}
                                        <option value="{{ vat }}" {% if vat == "001" %}selected=""{% endif %} >{{ vat }} - {{ vat_regime }}</option>
                                    {% endfor %}
                                </select>
                                    <i class="dropdown icon"></i>
                                    <label for="id_search" style="display: none;"></label>
                                    <input id="id_search" class="search" autocomplete="off" tabindex="0">
                                    <div class="text">001 - FRA</div>
                                    <div class="menu" tabindex="-1">
                                        <div class="item active selected" data-value="001">001 - FRA</div>
                                    {% for vat, _, vat_regime in vat_list %}
                                        <div class="item{% if vat == "001" %} active selected{% endif %}" data-value="{{ vat }}"  >{{ vat }} - {{ vat_regime }}</div>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <label for="id_qty_{{ num }}" style="display: none;text-align: right;margin-right: 14px">Qté</label>
                            <input type="number"
                                       class="amount"
                                       name="qty"
                                       value="1"
                                       step="1"
                                       style="display: none;text-align: right;"
                                       required=""
                                       id="id_qty_{{ num }}">
                            <div class="two wide field">
                                <label for="id_net_unit_price_{{ num }}" style="text-align: right;margin-right: 14px">Montant Net</label>
                                <input type="number"
                                       class="amount"
                                       name="net_unit_price"
                                       value="0"
                                       step="0.1"
                                       min="0"
                                       style="text-align: right;"
                                       required=""
                                       id="id_net_unit_price_{{ num }}">
                            </div>
                            <label for="id_net_amount_{{ num }}" style="display: none;text-align: right;margin-right: 14px">Montant HT</label>
                            <input type="number"
                                   name="net_amount"
                                   id="id_net_amount_{{ num }}"
                                   readonly  tabindex="-1"
                                   step="0.01"
                                   style="display: none;background-color: #efefff;text-align: right;"
                                   value="0">
                            <div class="two wide field">
                                <label for="id_vat_amount_{{ num }}" style="text-align: right;margin-right: 14px">Montant TVA</label>
                                <input type="text"
                                       class="amount"
                                       name="vat_amount"
                                       maxlength="20"
                                       id="id_vat_amount_{{ num }}"
                                       readonly  tabindex="-1"
                                       step="0.01"
                                       style="background-color: #efefff;text-align: right;"
                                       value="0">
                            </div>
                            <div class="two wide field">
                                <label for="id_amount_with_vat_{{ num }}" style="text-align: right;margin-right: 14px">Montant TTC</label>
                                <input type="text"
                                       class="amount"
                                       name="amount_with_vat"
                                       maxlength="20"
                                       id="id_amount_with_vat_{{ num }}"
                                       readonly  tabindex="-1"
                                       step="0.01"
                                       style="background-color: #efefff;text-align: right;"
                                       value="0">
                            </div>
                        </div>
                    </div>
                </div>
                {% endwith %}
            {% endfor %}
        </div>
    </div>
</div>
