{% extends "heron/base_semantic.html" %}

{% load static %}

{% block menu_principal %}
        {% include "heron/menu_principal.html" %}
{% endblock menu_principal %}

{% block content %}

{% if user.is_authenticated %}

        {% include 'edi/invoice_marchandise_empty_form.html' %}

        <form action="" method="post">
            {% csrf_token %}
            {% include "edi/invoice_marchandise_update_entete.html" %}
            {% include "edi/invoice_marchandise_update_table.html" %}
        </form>

    {% else %}

        <br>
        <br>
        <hr>
        <br>
        <br>
        <p style="text-align: center;">Vous devez être connecté, pour pouvoir utiliser ce
            site</p>

{% endif %}


{% endblock content %}

{% block script %}

    <script type="text/javascript">

        $(document).ready(function () {
            $(`.datatable-chargement`).hide();

            let nbDisplay = {{ nb_display }};

            $(`#idAjoutLigne`).on("click", function () {
                nbDisplay += 1
                if (nbDisplay <= {{ count_elements }}) {
                    $(`#formset${nbDisplay}`).show()
                    $(`#id_form-TOTAL_FORMS`).val(nbDisplay)
                } else {
                    alert("Vous avez atteind le nombre maximal de lignes")
                }
            })

            $(".button.submit").click(function (event) {

                const third_party_num = $(`#id_form-0-third_party_num`).dropdown('get value');
                const invoice_number = $(`#id_form-0-invoice_number`).val();
                const invoice_date = $(`#id_form-0-invoice_date`).val();
                const invoice_type = $(`#id_form-0-invoice_type`).dropdown('get value');
                const devise = $(`#id_form-0-devise`).dropdown('get value');

                let formData = {
                    'csrfmiddlewaretoken' : $(`input[name*='csrfmiddlewaretoken']`).val(),
                    'form-TOTAL_FORMS': $(`#id_form-TOTAL_FORMS`).val(),
                    'form-INITIAL_FORMS': $(`#id_form-INITIAL_FORMS`).val(),
                    'form-MIN_NUM_FORMS': $(`#id_form-MIN_NUM_FORMS`).val(),
                    'form-MAX_NUM_FORMS': $(`#id_form-MAX_NUM_FORMS`).val(),
                };

                for (let i = 0; i < nbDisplay; i++) {

                    let cct_uuid_identification = $(`#id_form-${i}-cct_uuid_identification`).dropdown('get value');
                    let client_name =  $(`#id_form-${i}-client_name`).val();
                    let serial_number =  $(`#id_form-${i}-serial_number`).val();
                    let reference_article =  $(`#id_form-${i}-reference_article`).val();
                    let libelle =  $(`#id_form-${i}-libelle`).val();
                    let qty =  $(`#id_form-${i}-qty`).val();
                    let unity =  $(`#id_form-${i}-unity`).dropdown('get value');
                    let net_unit_price =  $(`#id_form-${i}-net_unit_price`).val();
                    let vat =  $(`#id_form-${i}-vat`).dropdown('get value');
                    let j = i.toString();

                    let data = {
                        [`form-${j}-third_party_num`]: third_party_num,
                        [`form-${j}-invoice_number`]: invoice_number,
                        [`form-${j}-invoice_date`]: invoice_date,
                        [`form-${j}-invoice_type`]: invoice_type,
                        [`form-${j}-devise`]: devise,
                        [`form-${j}-cct_uuid_identification`]: cct_uuid_identification,
                        [`form-${j}-client_name`]: client_name,
                        [`form-${j}-serial_number`]: serial_number,
                        [`form-${j}-reference_article`]: reference_article,
                        [`form-${j}-libelle`]: libelle,
                        [`form-${j}-qty`]: qty,
                        [`form-${j}-unity`]: unity,
                        [`form-${j}-net_unit_price`]: net_unit_price,
                        [`form-${j}-vat`]: vat,
                    };
                     Object.assign(formData, data);
                     console.log(data);
                }

                $.ajax({
                    type: "POST",
                    url: "{{ url_saisie }}",
                    data: formData,
                    encode: true,
                }).done(function () {
                    console.log("RETOUR")
                });

                event.preventDefault();

            });

        });

    </script>

{% endblock script %}

