{% extends "heron/base_semantic.html" %}

{% load static %}

{% block menu_principal %}
        {% include "heron/menu_principal.html" %}
{% endblock menu_principal %}

{% block content %}

{% if user.is_authenticated %}

        {% include 'edi/invoice_hand_empty_form.html' %}

{#        <form action="" method="post">#}
            {% csrf_token %}
            {% include "edi/invoice_handupdate_entete.html" %}

            {% if category == "marchandises" %}

                {% include "edi/invoice_update_marchandise_table.html" %}

            {% elif category == "formation"%}

                {% include "edi/invoice_update_formation_table.html" %}

            {% elif category == "personnel"%}

                {% include "edi/invoice_update_personnel_table.html" %}

            {% endif %}

{#        </form>#}

    {% else %}

        <br>
        <br>
        <hr>
        <br>
        <br>
        <p style="text-align: center;">Vous devez être connecté, pour pouvoir utiliser ce
            site</p>

{% endif %}


{% endblock content %}

{% block script %}

    <script type="text/javascript">

        $(document).ready(function () {
            $(`.datatable-chargement`).hide();

            let nbDisplay = {{ nb_display }};

            $("#id_create_invoice").click(function (event) {

                {#$(`.datatable-chargement`).show();#}

                let entete = {
                    'third_party_num':$(`#id_third_party_num`).dropdown('get value'),
                    'invoice_number':$(`#id_invoice_number`).val(),
                    'invoice_date':$(`#id_invoice_date`).val(),
                    'invoice_type':$(`#id_invoice_type`).dropdown('get value'),
                    'devise':$(`#id_devise`).dropdown('get value'),
                    'sens': $(`#id_sens`).dropdown('get value'),
                };
                let lignes = [];

                for (let i = 1; i < nbDisplay + 1; i++) {
                    let reference_article = $(`#id_reference_article_${i.toString().padStart(3, '0')}`).val() || '';

                    {#console.log("reference_article", $(`#id_reference_article_${i.toString().padStart(3, '0')}`).val())#}

                    if (reference_article !== '') {
                        lignes.push({
                            'num' : i,
                            'cct_uuid_identification' : $(`#id_cct_uuid_identification_${i.toString().padStart(3, '0')}`).dropdown('get value'),
                            'client_name' :  $(`#id_client_name_${i.toString().padStart(3, '0')}`).val(),
                            'serial_number' :  $(`#id_serial_number_${i.toString().padStart(3, '0')}`).val(),
                            'reference_article' : reference_article,
                            'libelle' :  $(`#id_libelle_${i.toString().padStart(3, '0')}`).val(),
                            'qty' :  $(`#id_qty_${i.toString().padStart(3, '0')}`).val(),
                            'unit_weight' :  $(`#id_unit_weight_${i.toString().padStart(3, '0')}`).dropdown('get value'),
                            'net_unit_price' :  $(`#id_net_unit_price_${i.toString().padStart(3, '0')}`).val(),
                            'vat' :  $(`#id_vat_${i.toString().padStart(3, '0')}`).dropdown('get value'),
                            'initial_date' : $(`#id_initial_date_${i.toString().padStart(3, '0')}`).val(),
                            'final_date' : $(`#id_final_date_${i.toString().padStart(3, '0')}`).val(),
                            'last_name' : $(`#id_last_name_${i.toString().padStart(3, '0')}`).val(),
                            'first_name' : $(`#id_first_name_${i.toString().padStart(3, '0')}`).val(),
                            'heures_formation' : $(`#id_heures_formation_${i.toString().padStart(3, '0')}`).val(),
                        });
                    }
                }
                let csrftoken = $(`input[name*='csrfmiddlewaretoken']`).val();
                let formData = {
                    'csrfmiddlewaretoken' : csrftoken,
                    'entete': entete,
                    'lignes': lignes
                };

                {#console.log({'data': JSON.stringify(formData)})#}

                $.ajax({
                    type: "POST",
                    url: "{{ url_saisie }}",
                    data: {'data': JSON.stringify(formData)},
                    encode: true,
                    headers: {'X-CSRFToken': csrftoken},
                    mode: 'same-origin',
                }).done(function (data) {
                    window.location.replace("{{ url_saisie }}");
                });

                event.preventDefault();

            });

        });

    </script>

{% endblock script %}

