{% extends "heron/update_create_courant.html" %}

{% block table %}

    <div class="sixteen wide column" style="padding: 0;margin: 10px;">
        <div class="ui segments">
            <div class="ui segment" style="padding-bottom: 0;">
                <h4 class="ui floated header" style="margin-bottom: 5px;">Catégories - Rubriques Presta Associées</h4>
                <div class="ui clearing divider"></div>
                <div class="ui mini form" style="font-size: 12px;font-weight:bold;">
                    <div class="fields">
                        <div class="three wide field">
                            <label for="id_big_category" style="text-align: left;">Catégorie&nbsp;:</label>
                                {{form.big_category}}
                        </div>
                        <div class="one wide field">
                            <label for="id_sub_category" style="text-align: left;">Rubrique&nbsp;:</label>
                            <input type="text" id="id_sub_category" name="sub_category" value="{{ form.sub_category.value|default_if_none:'' }}">
                        </div>
                        <div class="twelve wide field" style="text-align: right;">

                            <a class="item" href="">
                                <button class="ui teal basic button" name="axe_articles_defaut" type="submit" style="padding: 7px 10px;margin: 10px;font-size: 11px">
                                    VALIDEZ
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui segment" style="padding-bottom: 0;">
                <h4 class="ui floated header" style="margin-bottom: 5px;">Axes</h4>
                <div class="ui clearing divider"></div>
                <div class="ui mini form" style="font-size: 12px;font-weight:bold;">
                    <div class="fields">
                        <div class="four wide field">
                            <label for="id_axe_bu" style="text-align: left;">Axe BU&nbsp;:</label>
                            {{form.axe_bu}}
                        </div>
                        <div class="four wide field">
                            <label for="id_axe_prj" style="text-align: left;">Axe PRJ&nbsp;:</label>
                            {{form.axe_prj}}
                        </div>
                        <div class="four wide field">
                            <label for="id_axe_pys" style="text-align: left;">Axe PYS&nbsp;:</label>
                            {{ form.axe_pys }}
                        </div>
                        <div class="four wide field">
                            <label for="id_axe_rfa" style="text-align: left;">Axe RFA&nbsp;:</label>
                            {{ form.axe_rfa }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock table %}
