{% extends "heron/table_courant.html" %}

{% block table %}

<div class="two wide column"></div>

<div class="twelve wide column">

    <table id="table_document"
       class="ui celled table"
       style="font-size: 12px !important;text-align: center;font-weight: 900;">
        <thead>
            <tr>
                <th class="no-sort" style="text-align: center;width: 6.87%">Modifier</th>
                <th style="width: 8.40%">Classement</th>
                <th style="width: 25.58%">Nom</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr id="id_{{ categorie.pk }}" class="hide_plans">

                <td data-value="{{ categorie.third_party_num }}"
                    style="text-align: center;">
                    <a href="{% url 'parameters:category_update' pk=categorie.pk %}">
                        <i class="edit icon modification"></i>
                    </a>
                </td>
                <td style="text-align: center;">
                  {% if categorie.ranking %}
                    {{ categorie.ranking }}
                  {% endif %}
                </td>
                <td>
                  {% if categorie.name %}
                    {{ categorie.name }}
                  {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

<div class="two wide column"></div>

{% endblock table %}