{% extends "heron/update_create_courant.html" %}

{% block table %}

    <div class="sixteen wide column" style="padding: 0;margin: 10px;">
        <div class="ui segments">
            <div class="ui segment" style="padding-bottom: 0;">
                <h3 class="ui floated header" style="margin-bottom: 5px;">Catégories</h3>
                <div class="ui clearing divider">
                </div>

                <form action="" method="post">
                    {% csrf_token %}
                        <div class="ui mini form" style="font-size: 12px;font-weight:bold;">
                            <div class="fields">
                                <div class="one wide field">
                                    <label for="id_ranking" style="text-align: left;">Classement&nbsp;:</label>
                                        {{form.ranking}}
                                </div>
                                <div class="one wide field">
                                    <label for="id_name" style="text-align: left;">Code&nbsp;:</label>
                                    {{ form.code }}
                                </div>
                                <div class="six wide field">
                                    <label for="id_name" style="text-align: left;">Intitulé&nbsp;:</label>
                                    {{ form.name }}
                                </div>
                                <div class="eight wide field" style="text-align: right;">
                                    <a class="item" href="">
                                        <button class="ui teal basic button" name="create_centre_cout" type="submit" style="padding: 7px 10px;margin: 30px 10px 0;font-size: 11px">
                                            VALIDEZ
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
            {% if not create and object.big_sub_category.all %}
                <div class="ui segment" style="padding-bottom: 0;">
                    <div class="ui wide field">
                        <div class="eight wide field">
                            <h4 class="ui floated header" style="margin-bottom: 5px;">Rubriques Presta Associées</h4>
                        </div>
                        <div class="eight wide field" style="text-align: right;">
                            <a class="item" href="{% url 'parameters:sub_category_create' category_pk=object.pk %}">
                                <input class="ui teal basic button" name="create_sub_category" type="button" style="padding: 7px 10px;margin: 30px 10px 0;font-size: 11px" value="Ajouter">
                            </a>
                        </div>
                    </div>
                    <div class="ui clearing divider"></div>
                    <div class="ui mini form" style="font-size: 12px;font-weight:bold;">
                        {% for sub in object.big_sub_category.all %}
                            <div class="fields">
                                <div class="one wide field"></div>
                                <div class="two wide field">
                                    {% if forloop.counter0 == 0 %}
                                        <label for="id_ranking" style="text-align: left;">Classement&nbsp;:</label>
                                    {% endif %}
                                    {{sub.ranking}}
                                </div>
                                <div class="one wide field">
                                    {% if forloop.counter0 == 0 %}
                                        <label for="id_code" style="text-align: left;">Code&nbsp;:</label>
                                    {% endif %}
                                        {{sub.code}}
                                </div>
                                <div class="six wide field">
                                    {% if forloop.counter0 == 0 %}
                                        <label for="id_name" style="text-align: left;">Intitulé&nbsp;:</label>
                                    {% endif %}
                                    {{ sub.name }}
                                </div>

                                {% if sub_category_formset.can_delete %}
                                    <div class="one wide field">
                                        {% if forloop.counter0 == 0 %}
                                            <label for="id_big_sub_category-{{ forloop.counter0 }}-DELETE" style="text-align: center;">Supprimer</label>
                                        {% endif %}
                                        <input type="checkbox" name="big_sub_category-{{ forloop.counter0 }}-DELETE" id="id_big_sub_category-{{ forloop.counter0 }}-DELETE" style="font-weight: bold;width: 25px;height: 25px;margin-top: 3px;">
                                    </div>
                                {% endif %}

                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock table %}
