{% extends "heron/table_courant.html" %}
{% load filters_tags %}

{% block table %}

    <div class="five wide column"></div>
    <div class="six wide column" style="padding: 0;margin: 10px;">
      <div class="ui segment" style="padding-bottom: 0;">

          <div style="display: none;">
            <label for="id_rate_month">Mois&nbsp;:</label>
            {{ form.rate_month }}
            <label for="id_currency_base" style="text-align: left;">BASE&nbsp;:</label>
            {{ form.curency_base }}
          </div>
        <div class="ui mini form" style="font-size: 12px;font-weight:bold;">
          <div class="fields">
              <div class="eight wide field">
                <label for="id_currency_change" style="text-align: left;">Monaie&nbsp;:</label>
                  {{ form.currency_change }}
              </div>
              <div class="eight wide field">
                  <label for="id_rate" style="text-align: left;">Taux&nbsp;:</label>
                  {{ form.rate }}
              </div>
          </div>
        </div>
      </div>
    </div>

{% endblock table %}