{% extends "heron/update_create_courant.html" %}
{% load filters_tags %}

{% block table %}
    <div class="three wide column"></div>
    <div class="ten wide column" style="padding: 0;margin: 10px;">
      <div class="ui segment" style="padding-bottom: 0;">
        <div class="ui mini form" style="font-size: 12px;font-weight:bold;">

          <div class="fields">
              <div class="seven wide computer wide field">
                <label for="id_name" style="text-align: left;">Nom&nbsp;:</label>
                <input type="text"
                       name="name"
                       value="{{ form.name.value|default_if_none:'' }}"
                       maxlength="255"
                       {% if not create %}
                            readonly
                            style="background-color: #efefff;font-weight: bold;"
                       {% endif %}
                       id="id_name">
              </div>
              <div class="six wide field">
                <label for="id_to_display" style="text-align: left;">Affichage&nbsp;:</label>
                <input type="text"
                       name="to_display"
                       value="{{ form.to_display.value|default_if_none:'' }}"
                       maxlength="35"
                       id="id_to_display">
              </div>
              <div class="one wide field">
                  <label for="id_for_contact" style="text-align: center;">Contact&nbsp;:</label>
                  <input id="id_for_contact" type="checkbox" name="for_contact" style="width: 25px;height: 25px;margin-top: 5px;" {% if form.for_contact.value %}checked{% endif %}>
              </div>
              <div class="one wide field">
                  <label for="id_for_personnel" style="text-align: center;">Personnel&nbsp;:</label>
                  <input id="id_for_personnel" type="checkbox" name="for_personnel" style="width: 25px;height: 25px;margin-top: 5px;" {% if form.for_personnel.value %}checked{% endif %}>
              </div>
              <div class="one wide field">
                  <label for="id_for_formation" style="text-align: center;">Formation&nbsp;:</label>
                  <input id="id_for_formation" type="checkbox" name="for_formation" style="width: 25px;height: 25px;margin-top: 5px;" {% if form.for_formation.value %}checked{% endif %}>
              </div>
          </div>
        </div>
      </div>
    </div>

{% endblock table %}