{% extends "heron/update_create_courant.html" %}
{% load filters_tags %}

{% block table %}
    <div class="sixteen wide column" style="padding: 0;margin: 10px;">
      <div class="ui segment" style="padding-bottom: 0;">
        <div class="ui mini form" style="font-size: 12px;font-weight:bold;">

          <div class="fields">
              <div class="four wide computer wide field">
                <label for="id_name" style="text-align: left;">Nom&nbsp;:</label>
                <input type="text"
                       name="name"
                       value="{{ form.name.value|default_if_none:'' }}"
                       maxlength="255"
                       {% if not create %}
                            readonly
                            style="background-color: #efefff;font-weight: bold;"
                       {% endif %}
                       id="id_name">
              </div>
              <div class="two wide field">
                <label for="id_prefix" style="text-align: left;">Préfix&nbsp;:</label>
                <input type="text" name="prefix" maxlength="35" id="id_prefix" value="{{ form.prefix.value|default_if_none:'' }}">
              </div>
              <div class="two wide field">
                <label for="id_suffix" style="text-align: left;">Suffixe&nbsp;:</label>
                <input type="text" name="suffix" maxlength="35" id="id_suffix" value="{{ form.suffix.value|default_if_none:'' }}">
              </div>
              <div class="eight wide field">
                <label for="id_description" style="text-align: left;">Description&nbsp;:</label>
                <input type="text" name="description" maxlength="255" id="id_description" value="{{ form.description.value|default_if_none:'' }}">
              </div>
          </div>
            <div class="fields">
              <div class="four wide field">
                <label for="id_descriptionfonction" style="text-align: left;">Fonction&nbsp;:</label>
                {{ form.fonction }}
              </div>
              <div class="one wide field">
                <label for="id_lpad_num" style="text-align: left;">LPAD&nbsp;:</label>
                <input type="number"
                     name="lpad_num"
                     value="{{ form.lpad_num.value|numbers:0 }}"
                     step="1"
                     id="id_lpad_num"
                     style="text-align: right;">
              </div>

              <div class="one wide field">
                <label for="id_separateur" style="text-align: left;">Séparateur&nbsp;:</label>
                <input type="text" name="separateur" maxlength="1" id="id_separateur" value="{{ form.separateur.value|default_if_none:'' }}" min="1" max="35">
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sixteen wide column" style="padding: 0;margin: 10px;">
        <div class="ui segment">
            <h4 class="ui floated header">Préfix/Suffixes avec automatisme</h4>
            <div class="ui clearing divider"></div>
            <div class="ui list">
                <div class="item" style="text-align: left">
                    {{ sep_li }}AAAAMM : année sur 4 chiffres et mois sur deux chiffres
                </div>
                <div class="item" style="text-align: left">
                    {{ sep_li }}AAAA-MM : année sur 4 chiffres et mois sur deux chiffres, avec séparateur "-"
                </div>
                <div class="item" style="text-align: left">
                    {{ sep_li }}AAAA_MM : année sur 4 chiffres et mois sur deux chiffres, avec séparateur "_"
                </div>
                <div class="item" style="text-align: left">
                    {{ sep_li }}AAAAMMDD : année sur 4 chiffres, mois sur deux chiffres et jours sur deux chiffres
                </div>
                <div class="item" style="text-align: left">
                    {{ sep_li }}AAAA-MM-DD : année sur 4 chiffres, mois sur deux chiffres et jours sur deux chiffres, avec séparateur "-"
                </div>
                <div class="item" style="text-align: left">
                    {{ sep_li }}AAAA_MM_DD : année sur 4 chiffres, mois sur deux chiffres et jours sur deux chiffres, avec séparateur "_"
                </div>
                <div class="item" style="text-align: left">
                    {{ sep_li }}TIERS : TIERS X3
                </div>
                <div class="item" style="text-align: left">
                    {{ sep_li }}TIERS_TEXTE  : TIERS X3 et Texte libre
                </div>
                <div class="item" style="text-align: left">
                    {{ sep_li }}TEXTE_TIERS  : Texte libre et TIERS X3
                </div>
                <div class="item" style="text-align: left">
                    {{ sep_li }}CCT : CCT X3
                </div>
                <div class="item" style="text-align: left">
                    {{ sep_li }}CCT_TEXTE : CCT X3 et Texte libre
                </div>
                <div class="item" style="text-align: left">
                    {{ sep_li }}TEXTE_CCT  : Texte libre et CCT X3
                </div>
            </div>
        </div>
        <div class="ui segment">
            <h4 class="ui floated header">légende</h4>
            <div class="ui clearing divider"></div>
            <div class="ui list">
                <div class="item" style="text-align: left;">
                    {{ sep_li }}<span>LDAP : Formatage de la numérotation automatique.</span>
                    <br>
                    <span style="margin-left: 52px;">Doit être > 0 et inférieur à 35.</span>
                    <br>
                    <span style="margin-left: 52px;">Si 0 pas de numérotation.</span>
                    <br>
                    <span style="margin-left: 52px;">Si lpad > 0, alors cela remplira avec autant de 0 que de nombres de caractères que demandé dans LPAD.</span>
                    <br>
                    <span style="margin-left: 52px;">Ex. : LDAP = 5 et la numérotation automatique en est à 14 : 00014</span>
                </div>
                <div class="item" style="text-align: left;">
                    {{ sep_li }}Le séparateur ne prend qu'un seul caractère
                </div>
                <div class="item" style="text-align: left;color: red;font-weight: bold;">
                    {{ sep_li }}Faites attention, à ce que votre formatage ne dépasse pas 20 caractères si vous l'utisez pour les imports dans X3, ou 35 caractères si c'est une utilisation interne
                </div>
            </div>
        </div>
    </div>

{% endblock table %}