{% load static %}

<style>

@page {
    size: 21cm 29.7cm;
    margin: 0 0 5mm 0;
}

@font-face {
    font-family: "ClanMedium";
    src: url('{{ domain }}/static/ClanMedium.otf');
}

@font-face {
    font-family: "ClanBook";
    src: url('{{ domain }}/static/ClanBook.otf');
}

@font-face {
    font-family: "ClanThin";
    src: url('{{ domain }}/static/ClanThin.otf');
}

table, p {
	border-collapse: collapse;
	font-family:'ClanBook',sans-serif;
	font-size:11px;
	border-spacing: 0;
}

table {
	width:100%;
}

.entete {
	background-color:black;
	color:white;
	font-family:'ClanMedium', sans-serif;
    border-spacing: 0;
}

.entete td:first-child {
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    padding-left:5px;
}

.entete td:last-child {
    border-bottom-right-radius: 14px;
    border-top-right-radius: 14px;
}


tr.bordures > td {
	border:1px solid #dadada;
    font-size: 0.9em;
}

.tableauFacturation {
	width:100%;
}

.merci {
	text-align:center;
}

.mentionsLegales {
	font-size:0.6em;
}

.fournisseur td:first-child {
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    padding: 5px;
}

.fournisseur td:last-child {
    border-bottom-right-radius: 14px;
    border-top-right-radius: 14px;
    padding: 5px;
}

.fournisseur > td {
    background-color:black;
    text-align: center;
	color:white;
    font-size: 1.2em;
	font-family:'ClanMedium', sans-serif;
    border-spacing: 0;
    text-transform: uppercase;
    padding: 5px;
}

.detailsFacture > td {
	background-color:#ededed;
	color:black;
	font-family:'ClanMedium', sans-serif;
    padding: 5px;
}

.detailsFacture td:first-child {
    border-top-left-radius: 14px;
    padding: 5px;
}

.detailsFacture td:last-child {
    border-top-right-radius: 14px;
    padding: 5px;
}

.sousEntete td{
	font-family:'ClanMedium', sans-serif;
    border-spacing: 0;
    text-align: center;
}

.sousEntete > td:nth-child(-n+3) {
	text-align: left;
}

.borduresBL td {
	background: #f5f5f5;
	font-family:'ClanMedium', sans-serif;
    padding-top: 5px;
}


tr.bordures > td:nth-child(n+4), tr.borduresBL > td:nth-child(n+2), tr.sousTotaux > td, tr.totaux > td {
	text-align: right;
}

tr.bordures > td:first-child{
	width:12%;
}

tr.bordures > td:nth-child(2){
	width:18%;
}

tr.bordures > td:nth-child(3){
	width:35%;
}

tr.bordures > td:nth-child(4){
	width:5%;
}

tr.bordures > td:nth-child(n+5){
	width:10%;
}

.sousTotaux > TD {
    background: #dbdbdb;
}

.totaux > TD {
    background-color: #bebdbd;
}

.sousTotaux > TD, .totaux > TD {
    font-size: 0.8em;
    font-weight: bold;
    color: black;
    padding: 3px 5px 3px 0;
}

.bordures {
    page-break-inside: avoid !important;
}

.footer {
    position: running(footer);
    display:block;
    width:100%;
    padding-bottom:30px;
}

.fin-doc {
    page-break-after: always;
}

</style>