{% load static %}
<style>

@page {
    size: 29.7cm 21cm;
    margin: 0 0 5mm 0;
}

@font-face {
    font-family: "ClanMedium";
    src: url('{{ domain }}/static/ClanMedium.otf');
}

@font-face {
    font-family: "ClanBook";
    src: url('{{ domain }}/static/ClanBook.otf');
}

@font-face {
    font-family: "ClanThin";
    src: url('{{ domain }}/static/ClanThin.otf');
}

table, p {
	border-collapse: collapse;
	font-family:'ClanBook',sans-serif;
	font-size:9px;
	border-spacing: 0;
}

table {
	width:100%;
}

{#.header {#}
{#    height: 30px;#}
{#    position: fixed;#}
{#    top: 0;#}
{#}#}

.groupe {
	text-align: center;
	font-size:1.2em;
	padding:5px;
}
.entete {
	background-color:black;
	color:white;
	font-family:'ClanMedium', sans-serif;
    border-spacing: 0;
}

.entete {
	background-color:black;
	color:white;
	font-family:'ClanMedium', sans-serif;
    border-spacing: 0;
}

.entete td:first-child {
    {#border-left-style: solid;#}
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    padding-left:5px;
}

.entete td:last-child {
    {#border-right-style: solid;#}
    border-bottom-right-radius: 14px;
    border-top-right-radius: 14px;
}

.fournisseur {
	text-align: center;
	font-size: 1.2em;
	background-color:#dbdbdb;
	color:black;
	text-transform: uppercase;
	font-family:'ClanMedium', sans-serif;
	border:1px solid #d4d4d4;
}

.sousEntete {
	background-color:#ededed;
	color:black;
	font-family:'ClanMedium', sans-serif;
    border-spacing: 0;
    text-transform: uppercase;
    text-align: center;
   	font-size:0.9em;
}

.sousEntete > td {
   	border:1px solid #d4d4d4;
}

.totaux, .totalGeneral {
	background-color:#ededed;
	font-family:'ClanMedium', sans-serif;
    border-spacing: 0;
    text-transform: uppercase;
    text-align: right;
   	border:1px solid #d4d4d4;
}

.space {
	margin-top:20px;
}

tr.bordures > td, .totalGeneral > td {
	border:1px solid #dadada;
	text-align: right;
}

tr.bordures > td:first-child {
	text-align: left;
	width:17%;
}

tr.bordures > td:nth-child(2) {
	text-align: left;
	width:4.5%;
}

tr.bordures > td:nth-child(n+3), .totalGeneral > td:nth-child(n+2) {
	width:6.5%;
}

tr.bordures:last-child > td {
	text-align: right;
}

tr.bordures > td:nth-last-child(-n+2) {
	background:#ededed;
}

.totalGeneral > td:first-child {
	width:15%;
}

tr.bordures > td, tr.lignes > td, tr.lignes-light > td {
	border-left:1px solid #dadada;
	border-right:1px solid #dadada;
}

tr.bordures > td:first-child, tr.bordures > td:last-child, tr.lignes > td:first-child, tr.lignes > td:last-child, tr.lignes-light > td:first-child, tr.lignes-light > td:last-child {
	border-left:none;
	border-right:none;
}

tr.entete > td, td.entete > td {
    padding: 5px;
}

tr.lignes > td {
    padding: 2px 5px;
}

tr.lignes-light > td {
    padding: 5px 5px 3px;
}

.facture {
    width: 7.94%;
}

.date-facture {
    width: 4.47%;
}

.regroup {
    width: 7.01%;
}

.montant {
    width: 5.24%;
}

.footer {
	position: fixed;
	bottom: 0;
	width:100%;
}

.fin-doc {
    page-break-after: always;
}

</style>