{% extends "heron/base_semantic.html" %}

{% load static %}
{% load filters_tags %}

{% block menu_principal %}
        {% include "heron/menu_principal.html" %}
{% endblock menu_principal %}

{% block content %}

    {% if user.is_authenticated %}
        <form action="" method="post">
            {% csrf_token %}
            {% include "invoices/generate_pdf_invoices_entete.html" %}
            {% include "invoices/generate_pdf_invoices_table.html" %}
        </form>
        <div class="ui equal width grid center"></div>

    {% else %}

        <br>
        <br>
        <hr>
        <br>
        <br>
        <p style="text-align: center;">Vous devez être connecté, pour pouvoir utiliser ce
            site</p>

{% endif %}


{% endblock content %}

{% block script %}

    <script>

        $(document).ready(function () {

            {% include "heron/base_data_table.html" %}

            {% if en_cours %}
                setTimeout(function() {
                        location.href = "{% url 'invoices:generate_pdf_invoice' %}"
                    },
                    10000
                )
            {% endif %}

            $(`.datatable-chargement`).hide();
        });

    </script>

{% endblock script %}
