{% load static %}

<style>

@page {
    size: 21cm 29.7cm;
    margin: 10mm 10mm 10mm 10mm;
}

@font-face {
    font-family: "ClanMedium";
    src: url('{{ domain }}/static/ClanMedium.otf');
}

@font-face {
    font-family: "ClanBook";
    src: url('{{ domain }}/static/ClanBook.otf');
}

@font-face {
    font-family: "ClanThin";
    src: url('{{ domain }}/static/ClanThin.otf');
}

table, p {
	border-collapse: collapse;
	font-family:'ClanBook',sans-serif;
	font-size:11px;
	border-spacing: 0;
}

table {
	width:100%;
}

.entete {
	background-color:black;
	color:white;
	font-family:'ClanMedium', sans-serif;
    border-spacing: 0;
}

.entete td:first-child {
    border-left-style: solid;
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px;
    padding-left:5px;
}

.entete td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 5px; 
    border-top-right-radius: 5px; 
}


tr.bordures > td {
	border:1px solid #dadada;
}

.tableauFacturation {
	width:100%;
}

.merci {
	text-align:center;
}

.mentionsLegales {
	font-size:0.6em;
}

.footer {
	position: fixed;
	bottom: 0;
	width:100%;
}

.fournisseur {
	text-align: center;
	font-size: 1.2em;
	background-color:#dbdbdb;
	color:black;
	text-transform: uppercase;
	font-family:'ClanMedium', sans-serif;
	border:1px solid #d4d4d4;
}

.detailsFacture {
	background-color:#ededed;
	color:black;
	font-family:'ClanMedium', sans-serif;
    border-spacing: 0;
}

.detailsFacture > td {
   	border:1px solid #d4d4d4;
}

.sousEntete {
	font-family:'ClanMedium', sans-serif;
    border-spacing: 0;
    text-align: center;
}

.sousEntete > td:nth-child(-n+3) {
	text-align: left;
}

.sousEntete > td {
   	border:1px solid #d4d4d4;
}

.borduresBL {
	background: #f5f5f5;
	font-family:'ClanMedium', sans-serif;
}

tr.borduresBL > td {
	border:1px solid #dadada;
}

tr.bordures > td:nth-child(n+4), tr.borduresBL > td:nth-child(n+2), tr.sousTotaux > td, tr.totaux > td {
	text-align: right;
}


tr.bordures > td:first-child{
	width:12%;
}

tr.bordures > td:nth-child(2){
	width:18%;
}

tr.bordures > td:nth-child(3){
	width:35%;
}

tr.bordures > td:nth-child(4){
	width:5%;
}

tr.bordures > td:nth-child(n+5){
	width:10%;
}


</style>