{% load static %}

<style>
@page {
    size: 21cm 29.7cm;
    margin: 10mm 10mm 10mm 10mm;
}

@font-face {
    font-family: "ClanMedium";
    src: url('{{ domain }}/static/ClanMedium.otf');
}

@font-face {
    font-family: "ClanBook";
    src: url('{{ domain }}/static/ClanBook.otf');
}

@font-face {
    font-family: "ClanThin";
    src: url('{{ domain }}/static/ClanThin.otf');
}

table, p {
	border-collapse: collapse;
	font-family:'ClanBook',sans-serif;
	font-size:11px;
	border-spacing: 0;
}

.entete {
	background-color:black;
	color:white;
	font-family:'ClanMedium', sans-serif;
    border-spacing: 0;
}

.entete td:first-child {
    {#border-left-style: solid;#}
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    padding-left:5px;
}

.entete td:last-child {
    {#border-right-style: solid;#}
    border-bottom-right-radius: 14px;
    border-top-right-radius: 14px;
}

tr.bordures > td, tr.lignes > td, tr.lignes-light > td {
	border-left:1px solid #dadada;
	border-right:1px solid #dadada;
}

tr.bordures > td:first-child, tr.bordures > td:last-child, tr.lignes > td:first-child, tr.lignes > td:last-child, tr.lignes-light > td:first-child, tr.lignes-light > td:last-child {
	border-left:none;
	border-right:none;
}

tr.entete > td, td.entete > td {
    padding: 5px;
}

tr.lignes > td {
    padding: 2px 5px;
}

tr.lignes-light > td {
    padding: 5px 5px 3px;
}

.tableauFacturation {
	width:100%;
}

.merci {
	text-align:center;
}

.mentionsLegales {
	font-size:0.6em;
}

.footer {
    position: running(footer);
    display:block;
    width:100%;
    padding-bottom:30px;
}

.fin-doc {
    page-break-after: always;
}

</style>