{% load static %}
{% load filters_tags %}

{% include "invoices/general_style_invoices.html" %}

<table  class="tableauFacturation" style="margin:20px 0 10px 0;">
    <tr>
        <td><img src="{{ domain }}/static/logo_heron_01.png" alt="logo-heron" style="width:250px;height:auto;margin: 0;"></td> <!-- Logo Héron fixe -->
        <td><img src="{% if invoices.0.signboard.logo_signboard %}{{ domain }}/static/{{ logo }}{% endif %}" alt="logo-enseigne" style="width:250px;height:auto;margin: 0;"></td> <!-- Logo du facturé -->
    </tr>
    <tr style="	vertical-align: top;">
        <td style="width:60%">Livré à :
            <br>
            <strong>{{ invoices.0.parties.name_cct }}</strong>
            <br>
            {{ invoices.0.parties.immeuble_cct }}
            <br>
            {{invoices.0.parties.adresse_cct }}
            <br>
            {{ invoices.0.parties.code_postal_cct }} {{ invoices.0.parties.ville_cct}}
            <br>
            N° TVA Intra. : {{ invoices.0.parties.vat_cee_number_cct }}
        </td>
        <td style="width:40%">Facturé à :
            <br>
            <strong>{{ invoices.0.parties.name_third_party }}</strong>
            <br>
            {{ invoices.0.parties.immeuble_third_party }}
            <br>
            {{invoices.0.parties.adresse_third_party }}
            <br>
            {{ invoices.0.parties.code_postal_third_party }} {{ invoices.0.parties.ville_third_party}}
            <br>
            N° TVA Intra. : {{ invoices.0.parties.vat_cee_number_client }}
        </td>
    </tr>
    <tr>
        <td style="padding-top:10px;">
            <table>
                <tr>
                    <td>Code Centrale</td>
                    <td> : {{ invoices.0.code_center}}</td>
                </tr>
                <tr>
                    <td>N° Compte client</td>
                    <td> : {{ invoices.0.third_party_num.third_party_num }}</td>
                </tr>
                <tr>
                    <td>N° CCT X3</td>
                    <td> : {{ invoices.0.cct }}</td>
                </tr>
                <tr>
                    <td>N° Facture</td>
                    <td> : {{ invoices.0.invoice_number }}</td>
                </tr>
                <tr>
                    <td>Date facture</td>
                    <td> : {{ invoices.0.invoice_date|date:"d/m/Y"  }}</td>
                </tr>
            </table>
        </td>
    </tr>

</table>
<br>

{#  ENTETE GENERALE======================================== #}
<table class="tableauFacturation">
    <tr class="entete">
        <td colspan="4" style="text-align: center;padding: 5px 10px;">RECAPITULATIF PAR FOURNISSEURS</td>
    </tr>
</table>
<br>
{#  TABLE ========================================== #}
<table class="tableauFacturation">
    <tr class="entete">
        <td style="text-align: left;padding: 5px 10px;width: 40%">FOURNISSEUR</td>
        <td style="text-align: right;padding: 5px 10px;width: 20%">TOTAL HT</td>
        <td style="text-align: right;padding: 5px 10px;width: 20%">TOTAL TVA</td>
        <td style="text-align: right;padding: 5px 10px;width: 20%">TOTAL TTC</td>

    {% for supplier in suppliers %}
        <tr class="bordures">
            <td style="text-align: left;padding-left: 5px;">{{ supplier.supplier_name }}</td>
            <td style="text-align: right;padding-right: 10px;">{% if supplier.net_amount %}{{ supplier.net_amount|numbers_format:2 }}{% endif %}</td>
            <td style="text-align: right;padding-right: 10px;">{% if supplier.vat_amount %}{{ supplier.vat_amount|numbers_format:2 }}{% endif %}</td>
            <td style="text-align: right;padding-right: 10px;">{% if supplier.amount_with_vat %}{{ supplier.amount_with_vat|numbers_format:2 }}{% endif %}</td>
        </tr>
    {% endfor %}

    <tr class="entete">
        <td style="text-align: right;padding: 5px 10px !important;">Totaux</td>
        <td style="text-align: right;padding: 5px 10px;">{{ suppliers|regroup_sum:"net_amount"|numbers_format:2 }}</td>
        <td style="text-align: right;padding: 5px 10px;">{{ suppliers|regroup_sum:"vat_amount"|numbers_format:2 }}</td>
        <td style="text-align: right;padding: 5px 10px;">{{ suppliers|regroup_sum:"amount_with_vat"|numbers_format:2 }}</td>
    </tr>

</table>

{% include "invoices/general_footer_invoices.html" %}
