{% load static %}
<table  class="tableauFacturation" style="margin:20px 0 10px 0;">
    <tr>
        <td><img src="{% static 'logo_heron_01.png' %}" alt="logo-heron" style="width:300px;height:auto;margin:0 10px 40px 0;"></td> <!-- Logo Héron fixe -->
        <td><img src="{% if invoice.0.signboard.invoice.0.signboard.logo_signboard %}{% static invoice.0.signboard.invoice.0.signboard.logo_signboard %}{% endif %}" alt="logo-enseigne" style="width:300px;height:auto;margin:0 10px 40px 0;"></td> <!-- Logo du facturé -->
    </tr>
    <tr style="	vertical-align: top;">
        <td style="width:60%">Livré à :
            <br>
            <strong>{{ invoice.0.parties.parties.name_cct }}</strong>
            <br>
            {{ invoice.0.parties.immeuble_cct }}
            <br>
            {{invoice.0.parties.adresse_cct }}
            <br>
            {{ invoice.0.parties.code_postal_cct }} {{ invoice.0.parties.ville_cct}}
        </td>
        <td style="width:40%">Facturé à :
            <br>
            <strong>{{ invoice.0.parties.parties.name_third_party }}</strong>
            <br>
            {{ invoice.0.parties.immeuble_third_party }}
            <br>
            {{invoice.0.parties.adresse_third_party }}
            <br>
            {{ invoice.0.parties.code_postal_third_party }} {{ invoice.0.parties.ville_third_party}}
        </td>
    </tr>
    <tr>
        <td style="padding-top:10px;">{{ invoice.0.code_center}}<br>
            {{ invoice.0.third_party_num }}<br>
            {{ invoice.0.cct }}<br>
            {{ invoice.0.invoice_date }}<br><br>
        </td>
    </tr>

</table>

<table style="width:100%;margin-bottom:10px;">
    <tr class="entete">
        <td style="text-align: center;font-size: 1.1em;padding:3px;">Récapitulatif de facturation</td>
    </tr>
</table>


<table class="tableauFacturation">
        <tr class="entete">
            <td>Rubrique</td>
            <td>N° de facture</td>
            <td>Montant HT</td>
            <td>Montant TTC</td>
        </tr>

<!-- LES LIGNES APPARAISSENT SI NECESSAIRE (montant >0€) -->
    {% for invoice in invoices %}
        <tr class="bordures">
            <td>{{ invoice.big_category }}</td>
            <td>{{ invoice.invoice_number }}</td>
            <td>{{ invoice.invoice_amount_without_tax }}</td>
            <td>{{ invoice.invoice_amount_with_tax }}</td>
        </tr>
    {% endfor %}

    <tr class="entete">
        <td></td>
        <td>Total du mois</td>
        <td></td>
        <td>{{ invoice_amount_without_tax }}
        </td>
        <td>{{ invoice_amount_with_tax }}
        </td>

</table>


<p>
    <strong>Mode de paiement</strong> : {{ invoice.0.parties.payment_condition_client }}
    <br>
    <strong>Echéance</strong> : {{ invoice.0.parties.echeance }}
</p>



<table class="tableauFacturation" style="margin-top:10px;">
    <tr class="entete">
        <td>Nos références bancaires</td>
    </tr>
</table>

<p>{{ invoice.0.centers.bank_center }}<br>
    IBAN : {{ invoice.0.centers.iban_center }}
    <br>
    BIC : {{ invoice.0.centers.code_swift_center }}
</p>

<p class="mentionsLegales">{{ invoice.0.centers.legal_notice_center }}</p>


<hr>
<p class="merci">Message remerciement {{ invoice.0.signboard.message }}</p>
<hr>

<div class="footer">
<hr>
<p style="text-align:center;font-size:0.5em;">SAS Acuitis France - SAS au Capital de 1.510.000 € - Siège Social : 55 Avenue Victor Hugo - 75116 Paris<br>
Code APE 4778A - RCS PARIS 517 780 870 - N° Siret : 51778087000096 - N° Siren : 517780870 - N° Intracom : FR45517780870 - www.acuitis.com{{ invoice.0.centers.legal_notice_center }}</p>
<p style="text-align:center;">Email de contact pour tout renseignement sur cette facture : <strong>comptabilite@acuitis.com</strong></p>
</div>
