{% load static %}
{% load filters_tags %}

{% include "invoices/general_style_invoices.html" %}

{% include "invoices/pdf_generic_entete.html" %}

<br>

<table style="width:100%;">
    <tr class="entete">
        <td style="text-align: center;font-size: 1.1em;padding: 5px 5px;">{{ invoices.0.invoice_type_name }} N° {{ invoices.0.invoice_number }}</td>
    </tr>
</table>

<br>

<table class="tableauFacturation" style="margin-top: -7px;">
    <tr class="entete">
        <td style="text-align: left;padding-left: 10px;width: 28%;">Article</td>
        <td style="text-align: left;width: 40%">Informations</td>
        <td style="text-align: right;width: 8%;">BASE TVA 0%</td>
        <td style="text-align: right;width: 8%;">BASE TVA 5,5%</td>
        <td style="text-align: right;width: 8%;">BASE TVA 20%</td>
        <td style="text-align: right;padding-right: 10px;width: 8%;">TOTAL HT</td>
    </tr>

    {% for header in headers %}
        <tr class="lignes-light" {% if forloop.counter > 1 %}style="border-top:1px solid #dadada;" {% endif %}>
            <td style="text-align: left;padding-left: 10px;vertical-align: top;">{{ header.libelle }}</td>
            <td style="text-align: left">{{ header.serial_number }}</td>
            <td style="text-align: right;">{% if header.mont_00 %}{{ header.mont_00|numbers_format:2 }}{% endif %}</td>
            <td style="text-align: right;">{% if header.mont_05 %}{{ header.mont_00|numbers_format:2 }}{% endif %}</td>
            <td style="text-align: right;">{% if header.mont_20 %}{{ header.mont_20|numbers_format:2 }}{% endif %}</td>
            <td style="text-align: right;padding-right: 10px;">{% if header.net_amount %}{{ header.net_amount|numbers_format:2 }}{% endif %}</td>
        </tr>
    {% endfor %}

    <tr class="entete">
        <td style="text-align: right;padding-right: 10px" colspan="2">Total HT</td>
        <td style="text-align: right;">{% if resume.net_mont_00 %}{{ resume.net_mont_00|numbers_format:2 }}{% endif %}</td>
        <td style="text-align: right;">{% if resume.net_mont_05 %}{{ resume.net_mont_05|numbers_format:2 }}{% endif %}</td>
        <td style="text-align: right;">{% if resume.net_mont_20 %}{{ resume.net_mont_20|numbers_format:2 }}{% endif %}</td>
        <td style="text-align: right;padding-right: 10px;">{% if resume.net_amount %}{{ resume.net_amount|numbers_format:2 }}{% endif %}</td>
    </tr>

    <tr class="entete" style="background-color: #404040;">
        <td style="text-align: right;padding-right: 10px" colspan="2">Total TVA</td>
        <td style="text-align: right;">{% if resume.vat_00 %}{{ resume.vat_00|numbers_format:2 }}{% endif %}</td>
        <td style="text-align: right;">{% if resume.vat_05 %}{{ resume.vat_05|numbers_format:2 }}{% endif %}</td>
        <td style="text-align: right;">{% if resume.vat_20 %}{{ resume.vat_20|numbers_format:2 }}{% endif %}</td>
        <td style="text-align: right;padding-right: 10px">{% if resume.vat_amount %}{{ resume.vat_amount|numbers_format:2 }}{% endif %}</td>
    </tr>

    <tr class="entete">
        <td style="text-align: right;padding-right: 10px" colspan="2">Total TTC</td>
        <td style="text-align: right;">{% if resume.ttc_vat_00 %}{{ resume.ttc_vat_00|numbers_format:2 }}{% endif %}</td>
        <td style="text-align: right;">{% if resume.ttc_vat_05 %}{{ resume.ttc_vat_05|numbers_format:2 }}{% endif %}</td>
        <td style="text-align: right;">{% if resume.ttc_vat_20 %}{{ resume.ttc_vat_20|numbers_format:2 }}{% endif %}</td>
        <td style="text-align: right;padding-right: 10px">{% if resume.amount_with_vat %}{{ resume.amount_with_vat|numbers_format:2 }}{% endif %}</td>
    </tr>

</table>
<br>

{% include "invoices/pdf_generic_paiement.html" %}

{% include "invoices/pdf_generic_bank.html" %}

{% include "invoices/pdf_generic_mentions_legales.html" %}

{% include "invoices/pdf_generic_footer_invoices.html" %}