{% load static %}
{% load filters_tags %}

{% include "invoices/general_style_invoices.html" %}

{% include "invoices/pdf_generic_entete.html" %}

<table class="tableauFacturation">
    <tr class="entete">
        <td colspan="2" style="text-align: center;">BASE</td>
        <td style="text-align: right;padding: 5px 5px;">TVA 0%</td>
        <td style="text-align: right;padding: 5px 5px;">TVA 5,5%</td>
        <td style="text-align: right;padding: 5px 5px;">TVA 20%</td>
        <td style="text-align: right;padding: 5px 5px;">TOTAL HT</td>

    {% for header in headers %}
        <tr class="bordures">
            <td style="text-align: left;padding-left: 5px;">{% ifchanged header.base %}<strong>{{ header.base }}</strong>{% endifchanged %}</td>
            <td style="text-align: left;padding-left: 5px;">{{ header.grouping_goods }}</td>
            <td style="text-align: right;padding-right: 5px;">{% if header.net_amount_00 %}{{ header.net_amount_00|numbers_format:2 }}{% endif %}</td>
            <td style="text-align: right;padding-right: 5px;">{% if header.net_amount_01 %}{{ header.net_amount_01|numbers_format:2 }}{% endif %}</td>
            <td style="text-align: right;padding-right: 5px;">{% if header.net_amount_02 %}{{ header.net_amount_02|numbers_format:2 }}{% endif %}</td>
            <td style="text-align: right;padding-right: 5px;">{% if header.net_amount %}{{ header.net_amount|numbers_format:2 }}{% endif %}</td>
        </tr>
    {% endfor %}

    <tr class="entete">
        <td></td>
        <td style="text-align: right;padding: 5px 5px !important;">Total HT</td>
        <td style="text-align: right;padding: 5px 5px;">{% if resume.net_amount_00 %}{{ resume.net_amount_00|numbers_format:2 }}{% endif %}</td>
        <td style="text-align: right;padding: 5px 5px;">{% if resume.net_amount_01 %}{{ resume.net_amount_01|numbers_format:2 }}{% endif %}</td>
        <td style="text-align: right;padding: 5px 5px;">{% if resume.net_amount_02 %}{{ resume.net_amount_02|numbers_format:2 }}{% endif %}</td>
        <td style="text-align: right;padding: 5px 5px;">{% if resume.net_amount %}{{ resume.net_amount|numbers_format:2 }}{% endif %}</td>
    </tr>

    <tr class="entete">
        <td></td>
        <td style="text-align: right;padding: 5px 5px !important;">Total TVA</td>
        <td style="text-align: right;padding: 5px 5px;">{% if resume.vat_amount_00 %}{{ resume.vat_amount_00|numbers_format:2 }}{% endif %}</td>
        <td style="text-align: right;padding: 5px 5px;">{% if resume.vat_amount_01 %}{{ resume.vat_amount_01|numbers_format:2 }}{% endif %}</td>
        <td style="text-align: right;padding: 5px 5px;">{% if resume.vat_amount_02 %}{{ resume.vat_amount_02|numbers_format:2 }}{% endif %}</td>
        <td style="text-align: right;padding: 5px 5px;">{% if resume.vat_amount %}{{ resume.vat_amount|numbers_format:2 }}{% endif %}</td>
    </tr>

    <tr class="entete">
        <td></td>
        <td style="text-align: right;padding: 5px 5px !important;">Total TTC</td>
        <td style="text-align: right;padding: 5px 5px;">{% if resume.ttc_amount_00 %}{{ resume.ttc_amount_00|numbers_format:2 }}{% endif %}</td>
        <td style="text-align: right;padding: 5px 5px;">{% if resume.ttc_amount_01 %}{{ resume.ttc_amount_01|numbers_format:2 }}{% endif %}</td>
        <td style="text-align: right;padding: 5px 5px;">{% if resume.ttc_amount_02 %}{{ resume.ttc_amount_02|numbers_format:2 }}{% endif %}</td>
        <td style="text-align: right;padding: 5px 5px;">{% if resume.amount_with_vat %}{{ resume.amount_with_vat|numbers_format:2 }}{% endif %}</td>
    </tr>

</table>
<br>

{% include "invoices/pdf_generic_paiement.html" %}

{% include "invoices/pdf_generic_bank.html" %}

{% include "invoices/pdf_generic_mentions_legales.html" %}

{% include "invoices/pdf_generic_footer_invoices.html" %}

<div class="fin-doc"></div>