{% load static %}
{% load filters_tags %}

{% include "invoices/general_style_invoices.html" %}

{% include "invoices/pdf_generic_entete.html" %}

<br>

{#  ENTETE GENERALE======================================== #}
<table style="width:100%;">
    <tr class="entete">
        <td colspan="4" style="text-align: center;padding: 5px 5px;">Récapitulatif par fournisseurs" - Facture N°  {{ invoices.0.invoice_number }}</td>
    </tr>
</table>

<br>

{#  TABLE ========================================== #}
<table class="tableauFacturation" style="margin-top: -7px;">
    <tr class="entete">
        <td style="text-align: left;padding-left: 10px;width: 58%">FOURNISSEUR</td>
        <td style="text-align: right;width: 14%">TOTAL HT</td>
        <td style="text-align: right;width: 14%">TOTAL TVA</td>
        <td style="text-align: right;padding-right: 10px;width: 14%">TOTAL TTC</td>
    </tr>

    {% for supplier in suppliers %}
        <tr class="lignes">
            <td style="text-align: left;padding-left: 10px;">{{ supplier.supplier_name }}</td>
            <td style="text-align: right;">{% if supplier.net_amount %}{{ supplier.net_amount|numbers_format:2 }}{% endif %}</td>
            <td style="text-align: right;">{% if supplier.vat_amount %}{{ supplier.vat_amount|numbers_format:2 }}{% endif %}</td>
            <td style="text-align: right;padding-right: 10px;">{% if supplier.amount_with_vat %}{{ supplier.amount_with_vat|numbers_format:2 }}{% endif %}</td>
        </tr>
    {% endfor %}

    <tr class="entete">
        <td style="text-align: right;padding-right: 10px !important;">TOTAUX</td>
        <td style="text-align: right;">{{ suppliers|regroup_sum:"net_amount"|numbers_format:2 }}</td>
        <td style="text-align: right;">{{ suppliers|regroup_sum:"vat_amount"|numbers_format:2 }}</td>
        <td style="text-align: right;padding-right: 10px;">{{ suppliers|regroup_sum:"amount_with_vat"|numbers_format:2 }}</td>
    </tr>

</table>

{% include "invoices/pdf_generic_footer_invoices.html" %}

<div class="fin-doc"></div>
