{% load static %}
{% load filters_tags %}

{% include "invoices/general_style_counter_pages.html" %}

{% include "invoices/general_style_sub_details.html" %}

{% include "invoices/pdf_generic_entete.html" %}

<br>

<table style="width:100%;">
    <tbody>
        <tr class="entete">
            <td style="text-align: center;font-size: 1.1em;padding: 5px 5px;">
                Sous Détails {{ invoices.0.invoice_type_name }} n° : {{ invoices.0.invoice_number }}
            </td>
        </tr>
    </tbody>
</table>

<br>

{# REGROUPEMENT PAR FOURNISSEURS ================================================================ #}
{% regroup sub_details by supplier_name as sub_details_list %}

{% for supplier_name in sub_details_list %}
    <table class="space">
        <tr class="fournisseur">
            <td colspan="5" >{{ supplier_name.grouper }}</td>
        </tr>

        {# REGROUPEMENT PAR FACTURES DU FOURNISSEUR ========================================== #}
        {% regroup supplier_name.list by invoice_number as invoice_list %}

        {% for invoice in invoice_list %}
            <tr><td style="padding-top: 5px;"></td></tr>
            <tr class="detailsFacture">
                <td style="padding-left: 10px;background-color: #dbdbdb;width: 100%;" colspan="5">{{ invoices.0.invoice_type_name }} n° : {{ invoice.grouper }} - du {{ invoice.list.0.invoice_date|date:"d/m/y" }}</td>
            </tr>
            <tr class="sousEntete" style="background-color: #dbdbdb;font-size: 0.9em;;">
                <td style="padding-left: 10px;width: 12%;">Collection</td>
                <td style="padding-left: 5px;width: 59%;">Article</td>
                <td style="text-align: right;padding-right: 5px;width: 7%;">Qté</td>
                <td style="text-align: right;padding-right: 5px;width: 10%;">PU</td>
                <td style="text-align: right;padding-right: 5px;width: 12%;">Total HT</td>
            </tr>


            {# REGROUPEMENT PAR BL DE LA FACTURE ============================================ #}
            {% regroup invoice.list by delivery_number as delivery_list %}

            {% for delivery in delivery_list %}
                {% if delivery.grouper %}
                    <tr class="borduresBL" style="font-size: 0.9em;">
                        <td style="padding-left: 10px;background-color: #dbdbdb;width: 100%;" colspan="5">BL n° : {{ delivery.grouper }}{% if delivery.delivery_date %} - du {{ delivery.delivery_date|date:"d/m/y" }}{% endif %}</td>
                    </tr>
                {% endif %}
                {% for line in delivery.list %}
                    <tr class="bordures" style="font-size: 0.9em;">
                        <td style="vertical-align: top;padding-left: 3px;width: 14%;">{{ line.grouping_goods|default_if_none:"" }}</td>
                        <td style="vertical-align: top;padding-left: 3px;width: 57%;">
                            {{ line.article|default_if_none:"" }}
                            {% if line.client_name %}
                                <br>
                                Client : {{ line.client_name }}
                            {% endif %}
                            {% if line.serial_number %}
                                <br>
                                N° de série {{ line.serial_number }}
                            {% endif %}
                        </td>
                        <td style="vertical-align: bottom;text-align: right;padding-right: 3px;width: 7%;">{{ line.qty|numbers_format:0 }}</td>
                        <td style="vertical-align: bottom;text-align: right;padding-right: 3px;width: 10%;">{{ line.net_unit_price|numbers_format:2 }}</td>
                        <td style="vertical-align: bottom;text-align: right;padding-right: 3px;width: 12%;">{{ line.net_amount|numbers_format:2 }}</td>
                    </tr>
                {% endfor %}

            {% endfor %}

            <tr class="sousTotaux">
                <td style="padding-right: 3px;width: 86%;" colspan="4">Sous-total - Facture n° : {{ invoice.grouper }}</td>
                <td style="text-align: right;padding-right: 3px;width: 10%;">{{ invoice.list|regroup_sum:"net_amount"|numbers_format:2 }}</td>
            </tr>


        {% endfor %}

        <tr class="totaux">
            <td style="padding-right: 3px;width: 86%;" colspan="4">Total - {{ supplier_name.grouper }}</td>
            <td style="text-align: right;padding-right: 3px;width: 10%;">{{ supplier_name.list|regroup_sum:"net_amount"|numbers_format:2 }}</td>
        </tr>
    </table>
    <br>
{% endfor %}

<div class="fin-doc"></div>
