{% extends "heron/list_table_courant.html" %}

{% block right_side %}
    {% if not not_finalize %}
        {% if not en_cours  and news %}
            <button class="ui blue basic button" name="send_email_invoices" type="submit" style="padding: 7px 10px;margin: 10px;font-size: 11px">
                ENVOYER
            </button>
        {% endif %}
    {% endif %}
    {% if user.email == "paulo@alves.ovh" %}
        <a class="item" href="{% url 'invoices:send_email_essais' %}">
            <button class="ui blue basic button" name="email_essais" style="padding: 7px 10px;margin: 10px;font-size: 11px">
                TEST MAIL
            </button>
        </a>
    {% endif %}
{% endblock right_side %}