{% load static %}
{% load filters_tags %}

{% include "invoices/general_style_invoices.html" %}

<table  class="tableauFacturation" style="margin:20px 0 10px 0;">
    <tr>
        <td><img src="http://10.185.51.9/{% static "logo_heron_01.png" %}" alt="logo-heron" style="width:250px;height:auto;margin: 0;"></td> <!-- Logo Héron fixe -->
        <td><img src="{% if invoices.0.signboard.logo_signboard %}http://10.185.51.9/media/{{ invoices.0.signboard.logo_signboard }}{% endif %}" alt="logo-enseigne" style="width:250px;height:auto;margin: 0;"></td> <!-- Logo du facturé -->
    </tr>
    <tr style="	vertical-align: top;">
        <td style="width:60%">Livré à :
            <br>
            <strong>{{ invoices.0.parties.name_cct }}</strong>
            <br>
            {{ invoices.0.parties.immeuble_cct }}
            <br>
            {{invoices.0.parties.adresse_cct }}
            <br>
            {{ invoices.0.parties.code_postal_cct }} {{ invoices.0.parties.ville_cct}}
            <br>
            N° TVA Intra. : {{ invoices.0.parties.vat_cee_number_cct }}
        </td>
        <td style="width:40%">Facturé à :
            <br>
            <strong>{{ invoices.0.parties.name_third_party }}</strong>
            <br>
            {{ invoices.0.parties.immeuble_third_party }}
            <br>
            {{invoices.0.parties.adresse_third_party }}
            <br>
            {{ invoices.0.parties.code_postal_third_party }} {{ invoices.0.parties.ville_third_party}}
            <br>
            N° TVA Intra. : {{ invoices.0.parties.vat_cee_number_client }}
        </td>
    </tr>
    <tr>
        <td style="padding-top:10px;">
            <table>
                <tr>
                    <td>Code Centrale</td>
                    <td> : {{ invoices.0.code_center}}</td>
                </tr>
                <tr>
                    <td>N° Compte client</td>
                    <td> : {{ invoices.0.third_party_num.third_party_num }}</td>
                </tr>
                <tr>
                    <td>N° CCT X3</td>
                    <td> : {{ invoices.0.cct }}</td>
                </tr>
            </table>
        </td>
    </tr>

</table>
<br><br>
<table style="width:100%;margin-bottom:10px;">
    <tr class="entete">
        <td style="text-align: center;font-size: 1.1em;padding: 5px 10px;">Récapitulatif de facturation</td>
    </tr>
</table>

<table class="tableauFacturation">
        <tr class="entete">
            <td>Rubrique</td>
            <td style="text-align: center;padding: 5px 10px;">N° de facture</td>
            <td style="text-align: center;padding: 5px 10px;">Date Facture</td>
            <td style="text-align: right;padding: 5px 10px;">Montant HT</td>
            <td style="text-align: right;padding: 5px 10px;">Montant TTC</td>
        </tr>

<!-- LES LIGNES APPARAISSENT SI NECESSAIRE (montant >0€) -->

    {% for invoice in invoices %}
        <tr class="bordures">
            <td>{{ invoice.big_category }}</td>
            <td style="text-align: center;">{{ invoice.invoice_number }}</td>
            <td style="text-align: center;">{{ invoice.invoice_date|date:"d/m/Y" }}</td>
            <td style="text-align: right;padding-right: 10px;">{{ invoice.invoice_amount_without_tax|numbers_format:2 }}</td>
            <td style="text-align: right;padding-right: 10px;">{{ invoice.invoice_amount_with_tax|numbers_format:2 }}</td>
        </tr>
    {% endfor %}

    <tr class="entete">
        <td></td>
        <td></td>
        <td style="text-align: right;padding: 5px 10px;">Total du mois</td>
        <td style="text-align: right;padding: 5px 10px;">{{ invoices|regroup_sum:"invoice_amount_without_tax"|numbers_format:2 }}</td>
        <td style="text-align: right;padding: 5px 10px;">{{ invoices|regroup_sum:"invoice_amount_with_tax"|numbers_format:2 }}</td>
    </tr>

</table>
<br>

<p>
    <strong>Mode de paiement</strong> : {{ invoices.0.parties.payment_condition_client|default_if_none:"" }}
    <br>
    {% if invoices.0.date_echeance %}<strong>Echéance</strong> : {{ invoices.0.date_echeance|date:"d/m/Y" }}{% endif %}
</p>


{% if invoices.0.centers.bank_center %}
    <table class="tableauFacturation" style="margin-top:10px;">
        <tr class="entete">
            <td>Nos références bancaires</td>
        </tr>
    </table>

    <p>{{ invoices.0.centers.bank_center|default_if_none:"" }}<br>
        IBAN : {{ invoices.0.centers.iban_center|default_if_none:"" }}
        <br>
        BIC : {{ invoices.0.centers.code_swift_center|default_if_none:"" }}
    </p>
{% endif %}

<p class="mentionsLegales" style="color: red;">{{ invoices.0.centers.legal_notice_center|default_if_none:""|safe|escape }}</p>

{% if invoices.0.signboard.message %}
    <hr>
    <p class="merci">Message remerciement {{ invoices.0.signboard.message }}</p>
    <hr>
{% endif %}

{% include "invoices/general_footer_invoices.html" %}
