body {
    overflow-x: scroll;
}
.ui.inverted.bottom.attached.tab.segment {
    width: 99%;
    margin: auto;
    border-radius: 5px;
    border-color: transparent;
}

.dropdown_pa {
    height: 30px;
    padding: 14px;
    margin: auto;
    font-size: .9rem;
    font-weight: bold;
}

.item.dropdown_pa {
    margin: 0 !important;
    height: 30px !important;
    padding: 8px 16px !important;
    font-size: 16px !important;
    text-align: left;
}

.label_item {
    color: white !important;
}

.traitement {
    text-align: center !important;
    margin: auto !important;
    padding: 5px !important;
}

.trash {
    margin: 0 !important;
}

.groupes {
    width: 1.12rem;
    height: 1.12rem;
}

.dataTables_filter {
    color: #FFFFFF !important;
}

.dataTables_scrollBody {
    background-color: white !important;
}

.ui.link.list:hover{
    color: black;
    font-weight: bold;
    font-size: 1em;
}

.django-ckeditor-widget {
    width: 100%;
}

#cke_id_email_body {
    width: 100% !important;
}

#cke_id_legal_notice {
    width: 100% !important;
}

#cke_id_footer {
    width: 100% !important;
}

#cke_id_message {
    width: 100% !important;
}


.scrollToTop {
    width: 30px;
    height: 40px;
    /*background:lightgrey;*/
    border-radius: 5px;
    border: solid 1px lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 10px;
    bottom: 20px;
    cursor: pointer;
}
