{% extends "heron/table_courant.html" %}

{% block table %}

<div class="two wide column"></div>
<div class="twelve wide column">

    <table id="table_document"
           class="ui celled table"
           style="font-size: 12px !important;text-align: center;font-weight: 900;">
            <thead>
                <tr>
                    <th style="width: 6%;">Edit</th>
                    <th style="width: 20%;">Centrale Fille</th>
                    <th style="width: 26%;">Grande Catégorie</th>
                    <th style="width: 11%;">Axe Pro</th>
                    <th style="width: 7%;">TVA X3</th>
                    <th style="width: 12%;">Achats</th>
                    <th style="width: 12%;">Ventes</th>
                    <th style="width: 6%;">delete</th>
                </tr>
            </thead>
            <tbody>
            {% for axe in accounts_axes %}
                <tr id="id_{{ forloop.counter }}" class="hide_plans">
                    <td>
                        <a href="{% url 'centers_purchasing:account_axe_update' pk=axe.pk%}">
                            <i class="edit icon modification"></i>
                        </a>
                    </td>
                    <td>{{axe.child_center}}</td>
                    <td>{{axe.big_category}}</td>
                    <td>{{axe.axe_pro}}</td>
                    <td>{{axe.vat}}</td>
                    <td>{{axe.purchase_account}}</td>
                    <td>{{axe.sale_account}}</td>
                    <td class="tdDelete" style="text-align: center;">
                        <div style="cursor: pointer;">
                          <i class="red trash icon" onclick="deletePk({{ forloop.counter }}, {{ axe.pk }}, `{{ axe.axe_pro }} - {{ axe.vat }} - {{ axe.purchase_account }} - {{ axe.sale_account }}`, `{% url 'centers_purchasing:account_axe_delete' %}`, `le dictionnaire `)"></i>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>

{% endblock table %}