{% extends "heron/update_create_courant.html" %}

{% block table %}
    <div class="four wide column"></div>
    <div class="eight wide column" style="padding: 0;margin: 10px;">
      <div class="ui segment" style="padding-bottom: 0;">
        <div class="ui mini form" style="font-size: 12px;font-weight:bold;">

          <div class="fields">
              <div class="seven wide field">
                <label for="id_axe_pro" style="text-align: left;">Axe PRO&nbsp;:</label>
                {{ form.axe_pro }}
              </div>
              <div class="nine wide computer wide field">
                <label for="id_grouping_goods" style="text-align: left;">Regroupement Facturation&nbsp;:</label>
                {{ form.grouping_goods }}
              </div>
          </div>
        </div>
      </div>
    </div>

{% endblock table %}
