{% extends "heron/update_create_courant.html" %}

{% block table %}
    <div class="five wide column"></div>
    <div class="six wide column" style="padding: 0;margin: 10px;">
      <div class="ui segment" style="padding-bottom: 0;">
        <div class="ui mini form" style="font-size: 12px;font-weight:bold;">

          <div class="fields">
              <div class="eight wide computer wide field">
                <label for="id_code_famille_cosium" style="text-align: left;">Famille Cosium&nbsp;:</label>
                {{ form.code_famille_cosium }}
              </div>
              <div class="eight wide field">
                <label for="id_axe_pro" style="text-align: left;">Axe PRO&nbsp;:</label>
                {{ form.axe_pro }}
              </div>
          </div>
        </div>
      </div>
    </div>

{% endblock table %}
