{% extends "heron/update_create_courant.html" %}

{% load static %}

{% block table %}

    <div class="sixteen wide column" style="padding: 0;margin: 10px;">
      <div class="ui segment" style="padding-bottom: 0;">
        <h3 class="ui floated header" style="margin-bottom: 5px;">Centrale Fille</h3>
        <div class="ui clearing divider"></div>
        <div class="ui form" style="font-size: 12px;font-weight:bold;">

          <div class="fields">
              <div class="two wide field">
                <label for="id_code" style="text-align: left;">Code&nbsp;:</label>
                {% if create %}
                    {{form.code}}
                {% else %}
                    <input type="text"
                           name="code"
                           value="{{ form.code.value }}"
                           required=""
                           id="id_code"
                           readonly
                           style="background-color: lavender;font-weight: bold;">
                {% endif %}
              </div>
              <div class="four wide field">
                <label for="id_name" style="text-align: left;">Nom&nbsp;:</label>
                {{ form.name }}
              </div>
              <div class="three wide field">
                <label for="id_sale_price_category" style="text-align: left;">Catégorie de prix générique&nbsp;:</label>
                {{ form.sale_price_category }}
              </div>
              <div class="two wide field">
                <label for="id_generic_coefficient" style="text-align: left;">Coef. générique&nbsp;:</label>
                {{ form.generic_coefficient }}
              </div>

          </div>

          <div class="fields">

              <div class="two wide field">
              {% if enseigne.logo %}
                  <div id="logoDelete">
                    <label for="id_logo_display" style="text-align: left;{% if not form.logo %}display: none;{% endif %}">Logo&nbsp;:</label>
                    <img id="id_logo_display" class="ui small image" src="{{ enseigne.logo.url }}" alt="logo">
                  </div>
              {% endif %}
              </div>

              <div class="ten wide field">
                  <label for="id_logo" style="text-align: left;">
                    {% if form.logo %}Modifier&nbsp;le&nbsp;{% else %}Ajouter&nbsp;un&nbsp;{% endif %}logo&nbsp;:
                  </label>
                  <input type="file" name="logo" accept="image/*" id="id_logo">
              </div>

              <div class="one wide field">
                  {% if not create %}
                      <label for="id_img_delete" style="text-align: left;">Supprimer&nbsp;logo&nbsp;:</label>
                      <input id="id_img_delete" type="checkbox" name="img_delete" style="width: 25px;height: 25px;margin-top: 5px;">
                  {% endif %}
              </div>

          </div>

          <div class="fields">

              <div class="sixteen wide field">
                <label for="id_comment" style="text-align: left;">Commentaire&nbsp;:</label>
                {{ form.comment }}
              </div>

          </div>
        </div>
      </div>
    </div>

{% endblock table %}
