{% extends "heron/update_create_courant.html" %}

{% block table %}

    <div class="sixteen wide column" style="padding: 0;margin: 10px;">
      <div class="ui segment" style="padding-bottom: 0;">
        <h3 class="ui floated header" style="margin-bottom: 5px;">Centrale Fille</h3>
        <div class="ui clearing divider"></div>
        <div class="ui mini form" style="font-size: 12px;font-weight:bold;">

          <div class="fields">
              <div class="one wide field">
                <label for="id_code" style="text-align: left;">Code&nbsp;:</label>
                {% if create %}
                    {{form.code}}
                {% else %}
                    <input type="text"
                           name="code"
                           value="{{ form.code.value }}"
                           required=""
                           id="id_code"
                           readonly
                           style="background-color: #efefff;font-weight: bold;">
                {% endif %}
              </div>
              <div class="three wide field">
                <label for="id_name" style="text-align: left;">Nom&nbsp;:</label>
                {{ form.name }}
              </div>
              <div class="three wide field">
                <label for="id_base_center" style="text-align: left;">Centrale mère&nbsp;:</label>
                {{ form.base_center }}
              </div>
              <div class="one wide field">
                <label for="id_generic_coefficient" style="text-align: left;">Coef. centrale fille&nbsp;:</label>
                {{ form.generic_coefficient }}
              </div>

          </div>

            <div class="fields">
                <div class="four wide field">
                    <label for="id_name" style="text-align: left;">Email d'envoi&nbsp;:</label>
                    {{ form.sending_email }}
                </div>
                <div class="four wide field">
                    <label for="id_base_center" style="text-align: left;">Iban&nbsp;:</label>
                    {{ form.iban }}
                </div>
                <div class="two wide field">
                    <label for="id_name" style="text-align: left;">Swift&nbsp;:</label>
                    {{ form.code_swift }}
                </div>
            </div>

          <div class="fields">

              <div class="sixteen wide field">
                <label for="id_comment" style="text-align: left;">Mentions Légales&nbsp;:</label>
                {{ form.legal_notice }}
              </div>

          </div>

          <div class="fields">

              <div class="sixteen wide field">
                <label for="id_comment" style="text-align: left;">Commentaire&nbsp;:</label>
                {{ form.comment }}
              </div>

          </div>
        </div>
      </div>
    </div>

{% endblock table %}
