{#{% extends "heron/table_courant.html" %}#}

{% block table %}

    <table id="table_document"
       class="ui celled table"
       style="font-size: 12px !important;text-align: center;font-weight: 900;margin: 20px 50px;">
        <thead>
            <tr>
                <th>TIERS X3</th>
                <th>N° FACTURE</th>
                <th>DATE</th>
                <th>CLIENT</th>
                <th>NOM CLIENT</th>
                <th>REFERENCE</th>
                <th>LIBELLE ARTICLE</th>
                <th>AXE BU</th>
                <th>AXE PROJET</th>
                <th>AXE PRO</th>
                <th>AXE PAYS</th>
                <th>AXE RFA</th>
                <th>Quantité</th>
                <th>P.U</th>
                <th>MONTANT HT</th>
                <th>TVA</th>
                <th>MONTANT TVA</th>
                <th>MONTANT TTC<</th>
                <th>PERIODE</th>
            </tr>
        </thead>
        <tbody>
        {% for export in controles_exports %}
            <tr id="id_{{ export.pk }}" class="hide_plans">
                <td>{{ export.pays }}</td>
                <td>{{ export.pays }}</td>
                <td>{{ export.pays }}</td>
                <td>{{ export.pays }}</td>
                <td>{{ export.pays }}</td>
                <td>{{ export.pays }}</td>
                <td>{{ export.pays }}</td>
                <td>{{ export.pays }}</td>
                <td>{{ export.pays }}</td>
                <td>{{ export.pays }}</td>
                <td>{{ export.pays }}</td>
                <td>{{ export.pays }}</td>
                <td>{{ export.pays }}</td>
                <td>{{ export.pays }}</td>
                <td>{{ export.pays }}</td>
                <td>{{ export.pays }}</td>
                <td>{{ export.pays }}</td>
                <td>{{ export.pays }}</td>
                <td>{{ export.pays }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<div class="two wide column"></div>

{% endblock table %}