{% extends "heron/list_table_courant.html" %}

{% block left_side %}
    <div id="id_suppliers_validation"
         class="ui {% if suppliers_validation.suppliers %}green{% else %}red{% endif %} label"
         data-value="{% if suppliers_validation.suppliers %}false{% else %}true{% endif %}"
         style="padding: 7px 10px;margin: 10px;font-size: 11px;width: 80px;text-align: center;">
        {% if suppliers_validation.suppliers %}Validé{% else %}Invalide{% endif %}
    </div>
    <button class="ui {% if suppliers_validation.suppliers %}red{% else %}green{% endif %} basic button"
            onclick="suppliersValidation(`id_suppliers_validation`, `{{ suppliers_validation.uuid_identification }}`)"
            name="suppliers_validation"
            style="padding: 7px 10px;margin: 10px;font-size: 11px">
        {% if suppliers_validation.suppliers %}Invalidation{% else %}Validation{% endif %}
    </button>
{% endblock left_side %}

{% block right_side %}
    <a class="item" href="{% url 'validation_purchases:balance_suppliers_purchases_export' %}">
       <button class="ui green basic button" name="balance_suppliers_purchases_list" style="padding: 7px 10px;margin: 10px;font-size: 11px">
          EXPORT EXCEL
       </button>
    </a>

{% endblock right_side %}