{% extends "heron/table_courant.html" %}

{% load static %}
{% load filters_tags %}

{% block table %}
    <div class="sixteen wide column">

        <table id=""
           class="ui celled table"
           style="font-size: 12px !important;text-align: center;font-weight: 900;">

            <thead>
                <tr>
                    <th colspan="2" style="background: lavender;">CLIENTS : {{ clients.0.signboard }} - {{ clients.0.country_name }}</th>
                    <th colspan="1" style="background: lavender;">AXE PRO</th>
                    <th colspan="3" style="background: lavender;">{{ mois_dict.M0 }}</th>
                    <th colspan="3" style="background: lavender;">{{ mois_dict.M1 }}</th>
                    <th colspan="3" style="background: lavender;">TRIMESTRE GLISSANT</th>
                    <th colspan="3" style="background: lavender;">12 MOIS GLISSANTS</th>
                </tr>
            </thead>

            <thead>
                <tr>
                    <th style="width: 5.00%;">CCT</th>
                    <th style="width: 14.00%;">CLIENT</th>
                    <th style="width: 11.00%;">FAMILLE</th>
                    <th style="width: 6.00%;">CA COSIUM HT</th>
                    <th style="width: 6.00%;">VENTES HERON HT</th>
                    <th style="width: 4.00%;background-color: lavender;">TAUX D'ACHAT</th>
                    <th style="width: 6.00%;">CA COSIUM HT</th>
                    <th style="width: 6.00%;">VENTES HERON HT</th>
                    <th style="width: 4.00%;background-color: lavender;">TAUX D'ACHAT</th>
                    <th style="width: 7.50%;">CA COSIUM HT</th>
                    <th style="width: 7.50%;">VENTES HERON HT</th>
                    <th style="width: 4.00%;background-color: lavender;">TAUX D'ACHAT</th>
                    <th style="width: 7.50%;">CA COSIUM HT</th>
                    <th style="width: 7.50%;">VENTES HERON HT</th>
                    <th style="width: 4.00%;background-color: lavender;">TAUX D'ACHAT</th>
                </tr>
            </thead>

            <tbody>
                {% for client in clients %}
                    <tr class="hide_plans">
                        <td>{{ client.cct}}</td>
                        <td style="text-align: left;">{{ client.intitule }}</td>
                        <td style="text-align: left;font-size: 11px;">{{ client.axe_pro }}</td>
                        <td style="text-align: right;">{{ client.MC|numbers_format:2|default_if_zero }}</td>
                        <td style="text-align: right;">{{ client.M|numbers_format:2|default_if_zero }}</td>
                        <td style="text-align: right;background-color: lavender;">{% if client.PM %}{{ client.PM|percentage }}{% endif %}</td>
                        <td style="text-align: right;">{{ client.M0C|numbers_format:2|default_if_zero }}</td>
                        <td style="text-align: right;">{{ client.M0|numbers_format:2|default_if_zero }}</td>
                        <td style="text-align: right;background-color: lavender;">{% if client.POM %}{{ client.POM|percentage }}{% endif %}</td>
                        <td style="text-align: right;">{{ client.TRIC|numbers_format:2|default_if_zero }}</td>
                        <td style="text-align: right;">{{ client.TRI|numbers_format:2|default_if_zero }}</td>
                        <td style="text-align: right;background-color: lavender;">{% if client.PTM %}{{ client.PTM|percentage }}{% endif %}</td>
                        <td style="text-align: right;">{{ client.ANC|numbers_format:2|default_if_zero }}</td>
                        <td style="text-align: right;">{{ client.AN|numbers_format:2|default_if_zero }}</td>
                        <td style="text-align: right;background-color: lavender;">{% if client.PAM %}{{ client.PAM|percentage }}{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>

{% endblock table %}
