{% extends "heron/table_courant_rep.html" %}
{% load filters_tags %}



{% block table %}

    {% if rfa %}
    <div class="one wide column" style="padding: 5px;"></div>

    <div class="sixteen wide column">
        <table id="table_document"
           class="ui celled table"
           style="font-size: 12px !important;text-align: center;font-weight: 900;">
            <thead>
                <tr>
{#                    <th class="no-sort" style="width: 3px;"></th>#}
                    <th style="width: 9px;-webkit-writing-mode: vertical-rl;">Source</th>
                    <th style="">Tiers X3</th>
                    <th style="">Type</th>
                    <th style="">Fournisseur</th>
                    <th style="">Mois Fact.</th>
                    <th style="">Factures</th>
                    <th style="">Référence Article</th>
                    <th style="">Axe RFA</th>
                </tr>
            </thead>
            <tbody>
            {% for element in rfa %}
                <tr class="hide_plans even" id="id_{{ forloop.counter0 }}">
{#                    <td style="text-align: center;">#}
{#                        <a href="{% url 'validation_purchases:integration_elements' element.enc_param|encode_b64_str %}">#}
{#                            <i class="eye icon modification"></i>#}
{#                        </a>#}
{#                    </td>#}
                    <td style="text-align: center;padding: 0 0 0 11px;margin: auto;">
                        <i class="{{ element.icon }} icon" data-content="{{ element.data_content }}" data-variation="tiny"></i>
                        <span style="color: #FFFFFF">{{ element.origin }}</span>
                    </td>
                    <td style="">{{ element.third_party_num }}</td>
                    <td style="">{{ element.achat_vente }}</td>
                    <td style="text-align: left;">{{ element.supplier }}</td>
                    <td style="">{{ element.invoice_month|date:"F Y" }}</td>
                    <td style="text-align: left;">{{ element.invoice_number }}</td>
                    <td style="">{{ element.reference_article }}</td>
                    <td style="">{{ element.section }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="ui segment">
            <h4 class="ui floated header">Légende</h4>
            <div class="ui clearing divider"></div>
            <div class="ui list">
                {% for leg in legende %}
                    <div class="item" style="text-align: left">
                    <i class="{{ leg.icon }} icon"></i> - {{ leg.origin_name }}
                  </div>
                {% endfor %}


            </div>
        </div>

    </div>

{% endif %}
{% endblock table %}
