{% extends "heron/table_courant.html" %}
{% load filters_tags %}
{% block table %}

<div class="two wide column"></div>

<div class="sixteen wide column">

    <table id="table_document"
       class="ui celled table"
       style="font-size: 12px !important;text-align: center;font-weight: 900;">
        <thead>
            <tr>
                <th>Ligne</th>
                <th>Code fournisseur</th>
                <th>Maison</th>
                <th>Libelle maison</th>
                <th>Date facture</th>
                <th>Type</th>
                <th>Référence</th>
                <th>Libellé</th>
                <th>Qté</th>
                <th>Prix U Net</th>
                <th>Montant Net</th>
                <th>Taux TVA</th>
                <th>BU</th>
                <th>CCT</th>
                <th>PRJ</th>
                <th>PRO</th>
                <th>PYS</th>
                <th>RFA</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for export in controles_exports %}
            <tr id="id_{{ forloop.counter }}" class="hide_plans">
                <td>{{ forloop.counter }}</td>
                <td>{{ export.code_fournisseur }}</td>
                <td>{{ export.code_maison }}</td>
                <td>{{ export.maison }}</td>
                <td>{{ export.invoice_date|date:"d/m/Y" }}</td>
                <td>{{ export.invoice_type }}</td>
                <td>{{ export.reference_article }}</td>
                <td>{{ export.libelle }}</td>
                <td style="text-align: right;">{{ export.qty|int_formats }}</td>
                <td style="text-align: right;">{{ export.net_unit_price|numbers_format:2 }}</td>
                <td style="text-align: right;">{{ export.net_amount|numbers_format:2 }}</td>
                <td style="text-align: right;">{{ export.vat_rate|numbers_format:2 }}</td>
                <td>{{ export.axe_bu|default_if_none:'' }}</td>
                <td>{{ export.axe_cct|default_if_none:'' }}</td>
                <td>{{ export.axe_prj|default_if_none:'' }}</td>
                <td>{{ export.axe_pro|default_if_none:'' }}</td>
                <td>{{ export.axe_pys|default_if_none:'' }}</td>
                <td>{{ export.axe_rfa|default_if_none:'' }}</td>
                <td class="tdDelete" style="text-align: center;">
                    <div style="cursor: pointer;">
                      <i class="red trash icon" onclick="deletePk({{ forloop.counter }}, '{{ export.str_json }}', `{{ forloop.counter }}`, `{% url 'validation_purchases:delete_line_details_purchase' %}`, `{{ nature }}`)"></i>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

<div class="two wide column"></div>

{% endblock table %}