{% extends "heron/table_courant.html" %}
{% load filters_tags %}
{% block table %}

<div class="two wide column"></div>

<div class="sixteen wide column">

    <table id="table_document"
       class="ui celled table"
       style="font-size: 12px !important;text-align: center;font-weight: 900;">
        <thead>
            <tr>
                <th>Modifier</th>
                <th>Fournisseur</th>
                <th>N° Facture</th>
                <th>Ligne</th>
                <th>Montant HT</th>
                <th>Taux TVA</th>
                <th>Montant TVA</th>
                <th>Montant TTC</th>
                <th>Date de la facture</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for export in controles_exports %}
            <tr id="id_{{ export.pk }}" class="hide_plans">
                <td>
                    <a href="">
                        <i class="eye icon modification"></i>
                    </a>
                </td>
                <td>{{ export.supplier }}</td>
                <td>{{ export.invoice_number }}</td>
                <td>{{ forloop.counter }}</td>
                <td style="text-align: right;">{{ export.invoice_amount_without_tax|numbers_format:2 }}</td>
                <td style="text-align: right;">{{ export.vat_rate|numbers_format:2 }}</td>
                <td style="text-align: right;">{{ export.invoice_amount_tax|numbers_format:2 }}</td>
                <td style="text-align: right;">{{ export.invoice_amount_with_tax|numbers_format:2 }}</td>
                <td>{{ export.invoice_date|date:"d/m/Y" }}</td>
                <td><i class="red trash icon"></i></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

<div class="two wide column"></div>

{% endblock table %}