{% extends "heron/table_courant_rep.html" %}
{% load filters_tags %}



{% block table %}

{% if integration_purchases %}
    <div class="one wide column" style="padding: 5px;"></div>

    <div class="sixteen wide column">
        <table id="table_document"
           class="ui celled table"
           style="font-size: 12px !important;text-align: center;font-weight: 900;">
            <thead>
                <tr>
                    <th colspan="11" style="background-color: hwb(240deg 90% 6%);font-weight: bold;">INTEGRATIONS</th>
                    <th colspan="3" style="background-color: hwb(240deg 90% 6%);border: 1px solid darkgray;">RELEVES</th>
                    <th colspan="6" style="background-color: hwb(240deg 90% 6%);font-weight: bold;">CONTROLES</th>
                </tr>
                <tr>
                    <th class="no-sort" style="width: 3px;"></th>
                    <th style="width: 9px;-webkit-writing-mode: vertical-rl;">Source</th>
                    <th style="width: 9px;-webkit-writing-mode: vertical-rl;">Détails</th>
                    <th style="width: 15px;display: none;">Categorie</th>
                    <th style="width: 15px;">CCT</th>
                    <th style="width: 20px;">Tiers X3</th>
                    <th style="width: 7px;">Type</th>
                    <th style="width: 234px;">Fournisseur</th>
                    <th style="width: 60px;">Total HT</th>
                    <th style="width: 60px;">Total TTC</th>
                    <th style="width: 20px;">Nbre</th>
                    <th style="width: 80px;">Mois Fact.</th>
                    <th style="width: 2px;border-left: 1px solid darkgray;border-bottom: 1px solid darkgray;"></th>
                    <th style="width: 60px;border-bottom: 1px solid darkgray;">Total HT</th>
                    <th style="width: 60px;border-right: 1px solid darkgray;border-bottom: 1px solid darkgray;">Total TTC</th>
                    <th style="width: 60px;">Ecart HT</th>
                    <th style="width: 60px;">Ecart TTC</th>
                    <th style="width: 9px;-webkit-writing-mode: vertical-rl;">Valider</th>
                    <th style=""></th>
                    <th>Commentaire</th>
                    <th style="width: 2px;"></th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th colspan="7" style="text-align: right;background-color: hwb(240deg 90% 6%);font-weight: bold">TOTAL GENERAL</th>
                    <th id="supplierHt" style="text-align: right;background-color: hwb(240deg 90% 6%);font-weight: 900;">0</th>
                    <th id="SupplierTtc" style="text-align: right;background-color: hwb(240deg 90% 6%);font-weight: 900;">0</th>
                    <th id="nbreFac" style="text-align: right;background-color: hwb(240deg 90% 6%);font-weight: 900;">0</th>
                    <th style="background-color: hwb(240deg 90% 6%);"></th>
                    <th style="background-color: hwb(240deg 90% 6%);border-left: 1px solid darkgray;border-bottom: 1px solid darkgray;"></th>
                    <th id="statementHt" style="text-align: right;background-color: hwb(240deg 90% 6%);font-weight: 900;border-bottom: 1px solid darkgray;">0</th>
                    <th id="statementTtc" style="text-align: right;background-color: hwb(240deg 90% 6%);font-weight: 900;border-right: 1px solid darkgray;border-bottom: 1px solid darkgray;">0</th>
                    <th id="deltaHt" style="text-align: right;background-color: hwb(240deg 90% 6%);font-weight: 900;color: darkgray;"></th>
                    <th id="deltaTtc" style="text-align: right;background-color: hwb(240deg 90% 6%);font-weight: 900;color: darkgray;"></th>
                    <th style="background-color: hwb(240deg 90% 6%);"></th>
                    <th style="background-color: hwb(240deg 90% 6%);"></th>
                    <th style="background-color: hwb(240deg 90% 6%);"></th>
                    <th style="background-color: hwb(240deg 90% 6%);"></th>
                </tr>
            </thead>
            <tbody>
            {% for supplier_purchase in integration_purchases %}
                <tr class="hide_plans even" id="id_{{ forloop.counter0 }}">
                    <td style="text-align: center;">
                        <a href="{% url 'validation_purchases:integration_supplier_purchases' supplier_purchase.enc_param|encode_b64_str %}">
                            <i class="eye icon modification"></i>
                        </a>
                    </td>
                    <td style="text-align: center;padding: 0;margin: auto;">
                        <i class="{{ supplier_purchase.icon }} icon" data-content="{{ supplier_purchase.data_content }}" data-variation="tiny"></i>
                        <span style="color: #FFFFFF">{{ supplier_purchase.origin }}</span>
                    </td>
                    <td style="text-align: center;">
                        <a href="{% url 'validation_purchases:alls_details_purchases_export' supplier_purchase.enc_param|encode_b64_str %}">
                            <i class="file excel icon modification" data-content="Export Excel" data-variation="tiny" style="color: green;"></i>
                        </a>
                    </td>
                    <td class="category"
                        data-value="{{ supplier_purchase.uuid_category }}|{{ supplier_purchase.big_category }}|{{ supplier_purchase.third_party_num }}|{{ supplier_purchase.invoice_month.isoformat }}"
                        data-category="{{ supplier_purchase.uuid_category }}"
                        style="background-color: {% if supplier_purchase.error %}#ffdae0{% else %}#efefff{% endif %};display: none;">{{ supplier_purchase.big_category }}</td>
                    <td style="{% if supplier_purchase.cct_error or supplier_purchase.error %}background-color: #ffdae0;color: #ffdae0;{% else %}color: white;{% endif %};">{{ supplier_purchase.cct_error }}</td>
                    <td style="{% if supplier_purchase.error %}background-color: #ffdae0;{% endif %}">{{ supplier_purchase.third_party_num }}</td>
                    <td style="{% if supplier_purchase.error %}background-color: #ffdae0;{% endif %}">{{ supplier_purchase.achat_vente }}</td>
                    <td style="text-align: left;{% if supplier_purchase.error %}background-color: #ffdae0;{% endif %}">{{ supplier_purchase.supplier }}</td>
                    <td id="supplierHt{{ forloop.counter0 }}" class="supplierHt" style="text-align: right;{% if supplier_purchase.error %}background-color: #ffdae0;{% endif %}">{{ supplier_purchase.invoice_amount_without_tax|numbers_format:2 }}</td>
                    <td id="SupplierTtc{{ forloop.counter0 }}" class="SupplierTtc" style="text-align: right;{% if supplier_purchase.error %}background-color: #ffdae0;{% endif %}">{{ supplier_purchase.invoice_amount_with_tax|numbers_format:2 }}</td>
                    <td id="nbreFac{{ forloop.counter0 }}" class="nbreFac" style="text-align: right;{% if supplier_purchase.error %}background-color: #ffdae0;{% endif %}">{{ supplier_purchase.qty_invoices|int_formats }}</td>
                    <td style="{% if supplier_purchase.error %}background-color: #ffdae0;{% endif %}">{{ supplier_purchase.invoice_month|date:"F Y" }}</td>
                    <td style="text-align: center;border-left: 1px solid darkgray;{% if forloop.last %}border-bottom: 1px solid darkgray;{% endif %}">
                        {% if supplier_purchase.uuid_identification is None %}
                            <a href="{% url 'validation_purchases:create_control' supplier_purchase.enc_param|encode_b64_str %}">
                        {% else %}
                            <a href="{% url 'validation_purchases:update_control' supplier_purchase.enc_param|encode_b64_str supplier_purchase.pk %}">
                        {% endif %}
                            <i class="edit icon modification"></i>
                        </a>
                    </td>
                    <td id="statementHt{{ forloop.counter0 }}" class="statementHt" style="text-align: right;{% if forloop.last %}border-bottom: 1px solid darkgray;{% endif %}{% if supplier_purchase.have_control == 0 %}background-color: #ffdae0;{% endif %}">{% if supplier_purchase.amount_invoice_ht != 0 %}{{ supplier_purchase.amount_invoice_ht|numbers_format:2 }}{% endif %}</td>
                    <td id="statementTtc{{ forloop.counter0 }}" class="statementTtc" style="text-align: right;border-right: 1px solid darkgray;{% if supplier_purchase.have_control == 0 %}background-color: #ffdae0;{% endif %}{% if forloop.last %}border-bottom: 1px solid darkgray;{% endif %}">{% if supplier_purchase.amount_invoice_ttc != 0 %}{{ supplier_purchase.amount_invoice_ttc|numbers_format:2 }}{% endif %}</td>
                    <td id="deltaHt{{ forloop.counter0 }}" style="text-align: right;font-weight: bold;color: red;">{% if supplier_purchase.delta_ht != 0 %}{{ supplier_purchase.delta_ht|numbers_format:2 }}{% endif %}</td>
                    <td id="deltaTtc{{ forloop.counter0 }}" style="text-align: right;font-weight: bold;color: red;">{% if supplier_purchase.delta_ttc != 0 %}{{ supplier_purchase.delta_ttc|numbers_format:2 }}{% endif %}</td>
                    <td style="text-align: left;">
                        {% if supplier_purchase.uuid_control %}
                            <label>
                                <input type="checkbox" name="validation" id="id_validation_{{ forloop.counter0 }}" onclick="supplierValidation(`id_validation_{{ forloop.counter0 }}`, `{{ supplier_purchase.uuid_control }}`)" {% if supplier_purchase.validation %}checked=""{% endif %} style="font-weight: bold;width: 20px;height: 20px;margin-left: 5px;">
                            </label>
                        {% endif %}
                    </td>
                    <td style="text-align: center;color: #FFFFFF;font-weight: bold">{% if supplier_purchase.uuid_control %}{% if supplier_purchase.validation %}!{% endif %}{% endif %}</td>
                    <td style="text-align: left;">{{ supplier_purchase.comment|default_if_none:'' }}</td>
                    <td class="tdDelete" style="text-align: center;">
                        <div style="cursor: pointer;">
                          <i class="red trash icon" onclick="deletePk({{ forloop.counter0 }}, {{ supplier_purchase.str_json }}, `{{ supplier_purchase.supplier }} - {{ supplier_purchase.invoice_month|date:'F Y' }}`, `{% url 'validation_purchases:delete_supplier_edi_import' %}`, `{{ nature }}`, true)"></i>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="ui segment">
            <h4 class="ui floated header">Légende</h4>
            <div class="ui clearing divider"></div>
            <div class="ui list">
                {% for leg in legende %}
                    <div class="item" style="text-align: left">
                    <i class="{{ leg.icon }} icon"></i> - {{ leg.origin_name }}
                  </div>
                {% endfor %}


            </div>
        </div>
        
    </div>

{% endif %}
{% endblock table %}