{% extends "heron/base_semantic.html" %}

{% load static %}
{% load filters_tags %}

{% block menu_principal %}
        {% include "heron/menu_principal.html" %}
{% endblock menu_principal %}

{% block head_js %}
    <script type="text/javascript">
        function supplierValidation(idButton, uuid_control) {
            $(`.datatable-chargement`).show();
            let formData = {
                uuid_identification: uuid_control,
                valid: $(`#${idButton}`).is(':checked'),
            };
            $.ajax({
                type: "POST",
                url: "{% url 'validation_purchases:integration_supplier_validation' %}",
                data: formData,
                encode: true,
            }).done(function (data) {
                $(`.datatable-chargement`).hide();
            });
        }

        function allsValidation(uuid_validation) {
            $(`.datatable-chargement`).show();
            let formData = {
                uuid_identification: uuid_validation,
            };
            $.ajax({
                type: "POST",
                url: "{% url 'validation_purchases:integration_supplier_validation' %}",
                data: formData,
                encode: true,
            }).done(function (data) {
                $(`.datatable-chargement`).hide();
            });
        }

    </script>
{% endblock head_js %}

{% block content %}

    {% if user.is_authenticated %}

            {% include "validation_purchases/integration_purchases_entete.html" %}

            {% if not en_cours %}
                <div style="padding: 10px 0;margin-top: 10px;margin-left: {% if margin_rep %}{{ margin_rep }}{% else %}50{% endif %}px;margin-right: {% if margin_rep %}{{ margin_rep }}{% else %}50{% endif %}px;">
                    <div class="ui top attached tabular menu">
                      <a class="active item" data-tab="integration">Intégrations/Relevés</a>
                      <a class="item" data-tab="trace">Trace des Imports</a>
                    </div>
                    <div class="ui bottom attached active tab segment"
                         data-tab="integration"
                         style="">
                        {% include "validation_purchases/integration_purchases_table.html" %}
                    </div>
                    <div class="ui bottom attached tab segment" data-tab="trace">
                        {% include "data_flux/data_flux_trace.html" %}
                    </div>
                </div>
                {% include "heron/change_category.html" %}
            {% endif %}

    {% else %}

        <br>
        <br>
        <hr>
        <br>
        <br>
        <p style="text-align: center;">Vous devez être connecté, pour pouvoir utiliser ce
            site</p>


{% endif %}


{% endblock content %}

{% block script %}

    <script>

        $(document).ready(function () {
            {% include "heron/base_data_table.html" %}
            {% include "heron/change_category_js.html" %}

            $('.menu .item').tab();

            makeAddition()

            $('.ui.error.checkbox')
              .checkbox()
              .first().checkbox({
                onChecked: function() {
                  $('.ui.segment.success').hide();
                },
                onUnchecked: function() {
                  $('.ui.segment.success').show();
                },
            });

            {% if en_cours %}
                setTimeout(function() {
                        window.location.reload()
                    },
                    30000
                )
            {% endif %}

            {% if not integration_purchases %}
                $(`.datatable-chargement`).hide();
            {% endif %}

            // FONCTION SEMANTIC UI POUR INITIALISATION DES POPUP
            setTimeout(function() {
                    $('.icon').each(function() {
                        $(this).popup({
                            position: 'top left',
                        });
                    });
                },
                1000
            )
        });

    </script>

{% endblock script %}
