{% extends "heron/base_semantic.html" %}

{% load static %}
{% load filters_tags %}

{% block menu_principal %}
        {% include "heron/menu_principal.html" %}
{% endblock menu_principal %}

{% block content %}

    {% if user.is_authenticated %}

            {% include "validation_purchases/integration_purchases_entete.html" %}
            {% include "validation_purchases/integration_purchases_table.html" %}

        <div class="ui equal width grid center"></div>

    {% else %}

        <br>
        <br>
        <hr>
        <br>
        <br>
        <p style="text-align: center;">Vous devez être connecté, pour pouvoir utiliser ce
            site</p>

{% endif %}


{% endblock content %}

{% block script %}

    <script>

        $(document).ready(function () {

            {% include "heron/base_data_table.html" %}

            setDelta("deltaHt", "supplierHt", "statementHt")
            setDelta("deltaTtc", "SupplierTtc", "statementTtc")
            setSum("supplierHt")
            setSum("SupplierTtc")
            setSum("statementHt")
            setSum("statementTtc")
            setDeltaSum("deltaHt", "supplierHt", "statementHt")
            setDeltaSum("deltaTtc", "SupplierTtc", "statementTtc")
        });

    </script>

{% endblock script %}
