{% extends "heron/list_table_courant.html" %}

{% block left_side %}
    <a class="item" href="{% url 'edi:import_edi_invoices' %}">
        <button class="ui blue button" name="" style="padding: 7px 10px;margin: 10px;font-size: 11px">
          Import factures EDI
       </button>
    </a>
{% endblock %}

{% block right_side %}
    {% if integration_purchases %}
        <a class="item" href="{% url 'validation_purchases:integration_purchases_export' %}">
           <button class="ui green button" name="maisons_export_list" style="padding: 7px 10px;margin: 10px;font-size: 11px">
              EXPORT EXCEL
           </button>
        </a>
    {% endif %}
{% endblock right_side %}