{% extends "heron/table_courant.html" %}
{% load filters_tags %}
{% block table %}

<div class="two wide column"></div>

<div class="sixteen wide column">

    <table id="table_document"
       class="ui celled table"
       style="font-size: 12px !important;text-align: center;font-weight: 900;">
        <thead>
            <tr>
                <th colspan="8" style="background-color: #c4e1ea;font-weight: bold;">INTEGRATIONS</th>
                <th colspan="3" style="background-color: #c4e1ea;border-left: 1px solid teal;border-right: 1px solid teal;">RELEVES</th>
                <th colspan="3" style="background-color: #c4e1ea;font-weight: bold;">CONTROLES</th>
            </tr>
            <tr>
                <th class="no-sort" style="width: 3px;"></th>
                <th style="width: 15px;">Catégorie</th>
                <th style="width: 20px;">Tiers X3</th>
                <th style="width: 230px;">Fournisseur</th>
                <th style="width: 70px;">Total HT</th>
                <th style="width: 70px;">Total TTC</th>
                <th style="width: 30px;">Nbre</th>
                <th style="width: 80px;">Mois Fact.</th>
                <th style="width: 3px;border-left: 1px solid teal;"></th>
                <th style="width: 70px;">Total HT</th>
                <th style="width: 70px;border-right: 1px solid teal;">Total TTC</th>
                <th style="width: 70px;">Ecart HT</th>
                <th style="width: 70px;">Ecart TTC</th>
                <th>Commentaire</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th colspan="4" style="text-align: right;background-color: #c4e1ea;font-weight: bold">TOTAL GENERAL</th>
                <th id="supplierHt" style="text-align: right;background-color: #c4e1ea;font-weight: bold;">0</th>
                <th id="SupplierTtc" style="text-align: right;background-color: #c4e1ea;font-weight: bold;">0</th>
                <th colspan="2" style="text-align: right;background-color: #c4e1ea;font-weight: bold;"></th>
                <th style="text-align: right;background-color: #c4e1ea;font-weight: bold;border-left: 1px solid teal;"></th>
                <th id="statementHt" style="text-align: right;background-color: #c4e1ea;font-weight: bold;">0</th>
                <th id="statementTtc" style="text-align: right;background-color: #c4e1ea;font-weight: bold;border-right: 1px solid teal;">0</th>
                <th id="deltaHt" style="text-align: right;background-color: #c4e1ea;font-weight: bold;color: teal;"></th>
                <th id="deltaTtc" style="text-align: right;background-color: #c4e1ea;font-weight: bold;color: teal;"></th>
                <th style="text-align: right;background-color: #c4e1ea;font-weight: bold;"></th>
            </tr>
        </thead>
        <tbody>
        {% for supplier_purchase in integration_purchases %}
            <tr class="hide_plans">
                <td style="text-align: center;">
                    <a href="{% url 'validation_purchases:integration_supplier_purchases' supplier_purchase.third_party_num supplier_purchase.big_category supplier_purchase.date_month%}">
                        <i class="eye icon modification"></i>
                    </a>
                </td>
                <td>{{ supplier_purchase.big_category }}</td>
                <td style="{% if supplier_purchase.error %}background-color: red;{% endif %}">{{ supplier_purchase.third_party_num }}</td>
                <td style="text-align: left;{% if supplier_purchase.error %}background-color: red;{% endif %}">{{ supplier_purchase.supplier }}</td>
                <td id="supplierHt{{ forloop.counter0 }}" class="supplierHt" style="text-align: right;{% if supplier_purchase.error %}background-color: red;{% endif %}">{{ supplier_purchase.invoice_amount_without_tax|numbers_format:2 }}</td>
                <td id="SupplierTtc{{ forloop.counter0 }}" class="SupplierTtc" style="text-align: right;{% if supplier_purchase.error %}background-color: red;{% endif %}">{{ supplier_purchase.invoice_amount_with_tax|numbers_format:2 }}</td>
                <td style="text-align: right;{% if supplier_purchase.error %}background-color: red;{% endif %}">{{ supplier_purchase.qty_invoices|int_formats }}</td>
                <td style="{% if supplier_purchase.error %}background-color: red;{% endif %}">{{ supplier_purchase.date_month|date:"F Y" }}</td>
                <td style="text-align: center;border-left: 1px solid teal;">
                    <a href="{% url 'validation_purchases:integration_supplier_purchases' supplier_purchase.third_party_num supplier_purchase.big_category supplier_purchase.date_month%}">
                        <i class="edit icon modification"></i>
                    </a>
                </td>
                <td id="statementHt{{ forloop.counter0 }}" class="statementHt" style="text-align: right;">0{{ supplier_purchase.statement_without_tax|default_if_none:"0" }}</td>
                <td id="statementTtc{{ forloop.counter0 }}" class="statementTtc" style="text-align: right;border-right: 1px solid teal;">0{{ supplier_purchase.statement_amount_with_tax|default_if_none:"0" }}</td>
                <td id="deltaHt{{ forloop.counter0 }}" style="text-align: right;font-weight: bold;color: teal;"></td>
                <td id="deltaTtc{{ forloop.counter0 }}" style="text-align: right;font-weight: bold;color: teal;"></td>
                <td>{{ supplier_purchase.comment }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

<div class="two wide column"></div>

{% endblock table %}