{% extends "heron/base_semantic.html" %}

{% load static %}
{% load filters_tags %}

{% block menu_principal %}
        {% include "heron/menu_principal.html" %}
{% endblock menu_principal %}

{% block content %}

    {% if user.is_authenticated %}

        {% include "validation_purchases/listing_invoices_suppliers_entete.html" %}
        {% include "validation_purchases/listing_invoices_suppliers_table.html" %}

        {# Fenêtre modale pour changer les code maison ========================================== #}
        <form id="cctFormChange" action="" method="post">
            {% csrf_token %}
            <div id="modalCct" class="ui large modal transition" style="display: none;">
                <i class="close icon"></i>
                <div class="header">
                  CHANGEMENT DE CCT
                </div>
                <div class="content">
                  <div class="ui form">
                    <h4 id="headerTiers" class="ui dividing header"></h4>
                      <div class="fields">
                            <div class="one wide field" style="display: none;">
                                {{ form.id }}
                                {{ form.uuid_identification }}
                                {{ form.third_party_num }}
                                {{ form.invoice_number }}
                                {{ form.invoice_year }}
                            </div>
                            <div class="fourteen wide field">
                                <label for="id_cct"
                                       style="text-align: left;">CCT X3</label>
                                <select id="id_cct"
                                        name="cct"
                                        class="ui fluid search dropdown">
                                    {% for value, label in form.CCT_CHOICES %}
                                        <option value="{{ value }}" name="{{ value }}">{{ label }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                      </div>
                  </div>
                </div>
                <div class="actions" style="text-align: center !important;">
                  <div class="ui red cancel button">
                    <i class="remove icon"></i>
                    Annuler
                  </div>
                  <div class="ui green ok button">
                    <i class="checkmark icon"></i>
                    Valider
                  </div>
                </div>
            </div>
        </form>
        {# ====================================================================================== #}
    {% else %}

        <br>
        <br>
        <hr>
        <br>
        <br>
        <p style="text-align: center;">Vous devez être connecté, pour pouvoir utiliser ce
            site</p>

{% endif %}


{% endblock content %}



{% block script %}

    <script>

        $(document).ready(function () {

            {% include "heron/base_data_table.html" %}

            $(".cct_sage").dblclick(function () {
                let cct = $(this).data("cct");
                let [uuid_identification, third_party_num, invoice_number, invoice_year, code_maison, maison] = $(this).data("value").split("|");
                $(`#id_cct`).dropdown('set selected', cct);
                $(`#headerTiers`).html(`Tiers : ${third_party_num} - N° Facture : ${invoice_number} - CCT venant du fournisseur : ${code_maison} - ${maison}`);
                $(`#id_uuid_identification`).val(uuid_identification);
                $(`#id_third_party_num`).val(third_party_num);
                $(`#id_invoice_number`).val(invoice_number);
                $(`#id_invoice_year`).val(invoice_year);
                let modale = $('#modalCct');

                modale
                    .modal({
                        closable: false,
                        onApprove: function() {
                            $(`#cctFormChange`).submit();
                            $(`.datatable-chargement`).show();
                        }
                    })
                    .modal(`show`)
                })

            });

          $(`#cctFormChange`).submit(function (event) {
                let formData = {
                  uuid_identification: $("#id_uuid_identification").val(),
                  third_party_num: $("#id_third_party_num").val(),
                  invoice_number: $("#id_invoice_number").val(),
                  invoice_year: $("#id_invoice_year").val(),
                  cct: $("#id_cct").val(),
                };

                $.ajax({
                  type: "POST",
                  url: "{% url 'validation_purchases:cct_change' %}",
                  data: formData,
                  encode: true,
                }).done(function (data) {
                    window.location.reload()
                });

                event.preventDefault();
          });

    </script>

{% endblock script %}
