{% extends "heron/table_courant.html" %}

{% block table %}

<div class="two wide column"></div>

<div class="sixteen wide column">

    <table id="table_document"
       class="ui celled table"
       style="font-size: 12px !important;text-align: center;font-weight: 900;">
        <thead>
            <tr>
                <th class="no-sort" style="text-align: center">Visualiser</th>
                <th>Client</th>
                <th>Code</th>

                {% if details %}
                    <th>N° Facture</th>
                {% else %}
                    <th>Nbre de Facture</th>
                {% endif %}

                {% if details_familles %}
                    <th>Famille Article</th>
                    <th>Code Article</th>
                    <th>N° Article</th>
                {% endif %}

                <th>Montant HT</th>
                <th>Montant TVA</th>
                <th>Montant TTC</th>

                {% for compte in comptes %}
                    <th>{{ compte }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for export in controles_exports %}
            <tr id="id_{{ export.pk }}" class="hide_plans">

                <td data-value="{{ export.third_party_num }}"
                    style="text-align: center;">
                    <a href="">
                        <i class="eye icon"></i>
                    </a>
                </td>
                <td>{{ export.cct }}</td>
                <td>{{ export.cct }}</td>

                {% if details %}
                    <td>{{ export.intitule }}</td>
                {% else %}
                    <td>{{ export.intitule }}</td>
                {% endif %}

                {% if details_familles %}
                    <td>{{ export.center_purchase }}</td>
                    <td>{{ export.sign_board }}</td>
                    <td>{{ export.currency }}</td>
                {% endif %}

                <td>{{ export.language }}</td>
                <td>{{ export.pays }}</td>
                <td>{{ export.pays }}</td>
                {% for valeur in valeurs_comptes %}
                    <td>{{ valeur }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

<div class="two wide column"></div>

{% endblock table %}