{% extends "heron/table_courant.html" %}

{% load static %}
{% load filters_tags %}

{% block table %}

<div class="sixteen wide column">

    <table id="table_document"
       class="ui celled table"
       style="font-size: 12px !important;text-align: center;font-weight: 900;">
        <thead>
            <tr>
                <th>Ajout Codes</th>
                <th>Tiers X3</th>
                <th>Fournisseur</th>
                <th>CCT<br>Sage X3</th>
                <th>Code Foun.</th>
                <th style="text-align: left;">Libellé CCT Fournisseur</th>
                <th>N° Facture</th>
                <th>Date de la facture</th>
                <th>Montant HT</th>
                <th>Montant TTC</th>
            </tr>
        </thead>
        <tbody>
        {% for invoice in invoices_without_cct %}
            <tr id="id_{{ export.pk }}" class="hide_plans">
                <td style="text-align: center;">
                    <a href="{% url 'book:supplier_cct_identifier' third_party_num=invoice.third_party_num %}">
                        <i class="edit icon modification"></i>
                    </a>
                </td>
                <td>{{ invoice.third_party_num }}</td>
                <td>{{ invoice.supplier }}</td>
                <td class="cct_sage"
                    data-value="{{ invoice.uuid_identification }}|{{ invoice.third_party_num }}|{{ invoice.invoice_number }}|{{ invoice.invoice_year }}|{{ invoice.code_maison }}|{{ invoice.maison }}"
                    data-cct="{{ invoice.axe_cct }}"
                    style="background-color: lightpink;">{{ invoice.axe_cct }}</td>
                <td>{{ invoice.code_maison|default_if_none:'' }}</td>
                <td style="text-align: left;">{{ invoice.maison|default_if_none:'' }}</td>
                <td>{{ invoice.invoice_number }}</td>
                <td>{{ invoice.invoice_date|date:"d/m/Y" }}</td>
                <td style="text-align: right;">{{ invoice.invoice_amount_without_tax|numbers_format:2 }}</td>
                <td style="text-align: right;">{{ invoice.invoice_amount_with_tax|numbers_format:2 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock table %}