{% extends "heron/base_semantic.html" %}

{% load static %}
{% load filters_tags %}

{% block menu_principal %}
        {% include "heron/menu_principal.html" %}
{% endblock menu_principal %}

{% block head_js %}
    <script type="text/javascript">
        drop_not_clearable = true
    </script>
{% endblock head_js %}

{% block content %}

    {% if user.is_authenticated %}
        <form action="" method="post">
            {% csrf_token %}
            {% include "rfa/rfa_generation_list_entete.html" %}
            {% include "rfa/rfa_generation_list_table.html" %}
        </form>

        <div class="ui equal width grid center"></div>

    {% else %}

        <br>
        <br>
        <hr>
        <br>
        <br>
        <p style="text-align: center;">Vous devez être connecté, pour pouvoir utiliser ce
            site</p>

{% endif %}


{% endblock content %}

{% block script %}

    <script>

        $(document).ready(function () {
            {% include "heron/base_data_table.html" %}

            $(`#rfa_generation_launch`).click(function () {
                $(this).hide()
                $(`#generation_launch`).hide();
                $(`#id_titre_table`).text("GENERATION EN COURS, PATIENTEZ...").css("color", "teal")
            })

            {% if en_cours %}
                setTimeout(function() {
                        location.href = "{% url 'rfa:rfa_generation' %}"
                    },
                    5000
                )
            {% endif %}
            // slight update to account for browsers not supporting e.which
            function disableF5(e) { if ((e.which || e.keyCode) === 116) e.preventDefault(); }
            // To disable f5 jQuery >= 1.7
            $(document).on("keydown", disableF5);

            $(`.datatable-chargement`).hide();
        });

    </script>

{% endblock script %}