{% extends "heron/table_courant.html" %}

{% block table %}

<div class="four wide column"></div>

<div class="eight wide column">

    <table id="table_document"
           class="ui celled table"
           style="font-size: 12px !important;text-align: center;font-weight: 900;">
        <thead>
            <tr>
                <th style="width: 5%">Edit</th>
                <th style="width: 90%">Axe RFA</th>
                <th style="width: 5%">delete</th>
            </tr>
        </thead>
        <tbody>
        {% for parameter in rfa_parameters %}
            <tr id="id_{{ forloop.counter }}" class="hide_plans">
                <td>
                    <a href="{% url 'rfa:section_rfa_update' pk=parameter.pk%}">
                        <i class="edit icon modification"></i>
                    </a>
                </td>
                <td>{{parameter.axe_rfa}}</td>
                <td class="tdDelete" style="text-align: center;">
                    <div style="cursor: pointer;">
                      <i class="red trash icon" onclick="deletePk({{ forloop.counter }}, {{ parameter.pk }}, `{{ parameter.axe_rfa }} - {{ parameter.axe_rfa.section }}`, `{% url 'rfa:section_rfa_delete' %}`, `l'axe RFA`)"></i>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

<div class="two wide column"></div>

{% endblock table %}