{% extends "heron/list_table_courant.html" %}

{% block right_side %}

    <a class="item" href="{% url 'rfa:section_pro_exclusion_create' %}">
        <button class="ui blue basic button" name="create_section_pro_exclusions" style="padding: 7px 10px;margin: 10px;font-size: 11px">
            CREATION
        </button>
    </a>

    <a class="item" href="{% url 'rfa:section_pro_exclusions_export_list' %}">
       <button class="ui green basic button" name="sections_pro_exclusions_list" style="padding: 7px 10px;margin: 10px;font-size: 11px">
          LISTING AXE PRO
       </button>
    </a>

{% endblock right_side %}