{% extends "heron/list_table_courant.html" %}

{% block right_side %}

    <a class="item" href="{% url 'rfa:signboard_exclusion_create' %}">
        <button class="ui blue basic button" name="create_centre_cout" style="padding: 7px 10px;margin: 10px;font-size: 11px">
            CREATION
        </button>
    </a>

    <a class="item" href="{% url 'rfa:signboard_exclusion_export_list' %}">
       <button class="ui green basic button" name="maisons_export_list" style="padding: 7px 10px;margin: 10px;font-size: 11px">
          LISTING EXCLUSIONS
       </button>
    </a>

{% endblock right_side %}