{% extends "heron/table_courant.html" %}

{% block table %}

<div class="three wide column"></div>

<div class="ten wide column">

    <table id="table_document"
           class="ui celled table"
           style="font-size: 12px !important;text-align: center;font-weight: 900;">
        <thead>
            <tr>
                <th style="width: 5%">Edit</th>
                <th style="width: 70%;text-align: left;">Fournisseur</th>
                <th style="width: 20%;">Taux</th>
                <th style="width: 5%">delete</th>
            </tr>
        </thead>
        <tbody>
        {% for parameter in rfa_parameters %}
            <tr id="id_{{ forloop.counter }}" class="hide_plans">
                <td>
                    <a href="{% url 'rfa:supplier_rate_update' pk=parameter.pk%}">
                        <i class="edit icon modification"></i>
                    </a>
                </td>
                <td style="text-align: left;">{{parameter.supplier}}</td>
                <td>{{parameter.rfa_rate}}</td>
                <td class="tdDelete" style="text-align: center;">
                    <div style="cursor: pointer;">
                      <i class="red trash icon" onclick="deletePk({{ forloop.counter }}, {{ parameter.pk }}, `{{ parameter.supplier }} - {{ parameter.rfa_rate }}`, `{% url 'rfa:supplier_rate_delete' %}`, `Le taux pour le fournisseur`)"></i>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

<div class="two wide column"></div>

{% endblock table %}