{% extends "heron/list_table_courant.html" %}

{% block right_side %}

    <a class="item" href="{% url 'rfa:supplier_rate_create' %}">
        <button class="ui blue basic button" name="create_clients_exclusions" style="padding: 7px 10px;margin: 10px;font-size: 11px">
            CREATION
        </button>
    </a>

    <a class="item" href="{% url 'rfa:suppliers_rate_export_list' %}">
       <button class="ui green basic button" name="clients_exclusions_list" style="padding: 7px 10px;margin: 10px;font-size: 11px">
          LISTING TAUX
       </button>
    </a>

{% endblock right_side %}