{% extends "heron/table_courant.html" %}

{% block table %}

<div class="two wide column"></div>

<div class="twelve wide column">

    <table id="table_document"
       class="ui celled table"
       style="font-size: 12px !important;text-align: center;font-weight: 900;">
        <thead>
            <tr>
                <th class="no-sort" style="text-align: center;width: 6.87%">Modifier</th>
                <th style="width: 8.40%;background-color: #A9D08E;">CCT</th>
                <th style="width: 25.58%">Intitulé</th>
                <th style="width: 15.27%">Centrale</th>
                <th style="width: 15.27%">Enseigne</th>
                <th style="width: 6.87%">Devise</th>
                <th style="width: 6.87%">Langue</th>
                <th style="width: 14.87%">Pays</th>
            </tr>
        </thead>
        <tbody>
        {% for export in controles_exports %}
            <tr id="id_{{ export.pk }}" class="hide_plans">

                <td data-value="{{ export.third_party_num }}"
                    style="text-align: center;">
                    <a href="{% url 'validation_purchases:maisons_update' pk=export.pk %}">
                        <i class="edit icon modification"></i>
                    </a>
                </td>
                <td style="text-align: center;">
                  {% if export.cct %}
                    {{ export.cct }}
                  {% endif %}
                </td>
                <td>
                  {% if export.intitule %}
                    {{ export.intitule }}
                  {% endif %}
                </td>
                <td>
                  {% if export.center_purchase %}
                    {{ export.center_purchase }}
                  {% endif %}
                </td>
                <td style="text-align: center;">
                  {% if export.sign_board %}
                    {{ export.sign_board }}
                  {% endif %}
                </td>
                <td style="text-align: center;">
                  {% if export.currency %}
                    {{ export.currency }}
                  {% endif %}
                </td>
                <td style="text-align: center;">
                  {% if export.language %}
                    {{ export.language }}
                  {% endif %}
                </td>
                <td style="text-align: center;">
                  {% if export.pays %}
                    {{ export.pays }}
                  {% endif %}
                </td>
            </tr>
        {% endfor %}controles
        </tbody>
    </table>

</div>

<div class="two wide column"></div>

{% endblock table %}