{% extends "ogsp/base_semantic.html" %}

{% load static %}

{% block logo %}
    {% include "ogsp/logo_entete.html" %}
{% endblock logo %}

  <br>
  <div class="ui stackable sixteen column grid" style="text-align: center;">

    <div class="two wide column menubas">
    </div>

    <div class="twelve wide column menubas">
      <div class="ui stackable container pointing menu">
        <a href="/" class="item color-button" style="color: #f39912;"><i class="home icon"></i></a>
        <div class="right menu">
        </div>
      </div>
    </div>

    <div class="two wide column"></div>

  </div>

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <div class="ui equal width grid">

        <div class="column"></div>

        <div class="column">
            <div class="ui vertical menu" style="width: 100%">
                <div class="active item color-input-ogsp" style="font-weight: bold !important;">Réactivation du compte "{{ user.username }}"</div>
                <div class="item">
                    <div class="ui segment">
                        <form class="ui form" method="POST" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                                <p>Votre compte a été déverrouillé !</p>
                            <br>
                            <br>
                            <button class="ui fluid large button color-button">
                                <a href="{% url 'accounts:login' %}" style="color: white;">Retour à la page de connexion</a>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="column"></div>

    </div>

{% endblock content %}