const firstPaging = {% if nb_paging %}{{ nb_paging }}{% else %}18{% endif %}
let tableCount = -1


$("tr").each(function() {
    tableCount += 1
});

function getPaging () {
    return tableCount > firstPaging
}
{#console.log(tableCount, firstPaging, getPaging())#}

let numberAlls = getPaging ()

$("tr").promise().done(function() {

    // FRAMEWORK DATA-TABLE POUR AVOIR UN SCROLL VERTICAL

    $('#table_document').DataTable({
        "language": {
            "url": "https:://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
        },
        "oLanguage": {
            "sSearch": ""
        },
        "lengthMenu": [[firstPaging, 50, -1], [firstPaging, 50, "Tous"]],
        "paging": getPaging(),
        "info": getPaging(),
        "initComplete": function () {
            $(`#table_document_filter`)
                .find(`label`)
                .find(`span`)
                .find(`input`)
                .css("width", "20rem");
            $(`#table_document_length`).css(`text-align`, `left`);
            if (getPaging()) {
                $(`#table_document_info`).css(`text-align`, `left`)
            } else {
                $(`#table_document_info`).css(`display`, `none`)
            };
            $(`.datatable-chargement`).hide();
        },
        {{ datatable_ordering|safe }}
    }).on('order.dt', function() {
        $('.icon').each(function() {
            $(this).popup({
                position: 'top left',
            });
        });
    });
});
