{% extends "heron/base_semantic.html" %}

{% load static %}
{% load filters_tags %}

{% block menu_principal %}
        {% include "heron/menu_principal.html" %}
{% endblock menu_principal %}

{% block content %}

    <!-- Messages ---------------------------------------------------------- -->
    {% include 'heron/messages_delete.html' %}
    {% include 'heron/messages_forms.html' %}
    {% include 'heron/messages_imports.html' %}
    {% include 'heron/messages_inline_forms.html' %}
    {% include 'heron/messages_messages.html' %}
    <!-- end --------------------------------------------------------------- -->
    <br>
    <br>
    <br>
    {% include "heron/logo_entete.html" %}

    {% if not user.is_authenticated %}

        <br>
        <br>
        <br>
        <br>
        <h4 class="colorheron" style="text-align: center;color: #010509;">Vous devez être connecté, pour pouvoir utiliser ce site</h4>
        <div class="ui row" style="text-align: center;color: #456ba5;">
        </div>

    {% endif %}

{% endblock content %}


{% block script %}

    <script type="text/javascript">

        $(document).ready(function () {

            $(`.datatable-chargement`).hide();

        });
    </script>

{% endblock script %}