{% extends "heron/base_semantic.html" %}

{% load static %}
{% load filters_tags %}

{% block menu_principal %}
    {% if user.is_authenticated %}
        {% include "heron/menu_principal.html" %}
    {% endif %}
{% endblock menu_principal %}

{% block content %}

        <a href="{% url 'import_edi' %}">
        <button class="ui inverted brown button button-menu" value=""
                style="height: 60px !important;width: 180px !important;font-size: 12px !important;text-align: center;">
            INSERT EDI FILES</button>
        </a>
        <br>
        <h1>{{ start_thread }}</h1>
        <br>
        <br>

        <a href="{% url 'book:societies_list' %}">
            <button class="ui inverted brown button button-menu" value=""
                style="height: 60px !important;width: 180px !important;font-size: 12px !important;text-align: center;">
            SUPPLIERS</button>
        </a>


    {% if not user.is_authenticated %}

        <br>
        <br>
        <br>
        <br>
        <h4 class="colorheron" style="text-align: center;color: #456ba5;">Vous devez être connecté, pour pouvoir utiliser ce site</h4>
        <div class="ui row" style="text-align: center;color: #456ba5;">
        </div>

    {% endif %}

{% endblock content %}