<div class="ui grid" style="padding: 0;margin: 5px 0 -5px;">
    <div class="sixteen wide column" style="padding: 0;margin: -15px 50px 5px;">
        <!-- Zone des messages d'uploads =================================================== -->
        <div id="ajaxMessage" class="row" style="display: none;">

          <div  id="okUpload" class="ui positive message" style="display: none;">
              <i class="close icon"></i>
            <div class="header">
            </div>
          </div>

          <div id="nopUpload" class="ui negative message" style="display: none;">
              <i class="close icon"></i>
            <div class="header">
            </div>
          </div>

        </div>
        {# MODAL DE SELECTION DES FICHIERS A TELECHARGER #}
        <input id="id_file"
               type="file"
               name="file"
               style="display: none;color: white">
        <!-- =============================================================================== -->
    </div>
</div>