<div class="ui segment" style="padding: 0;margin: 10px {% if margin_table %}{{ margin_table }}{% else %}50{% endif %}px 0;">
    <div class="ui datatable-chargement active inverted dimmer">
        <div class="ui text loader" style="margin-top: 6px;"></div>
    </div>
    <div class="ui three column grid">
        <div class="column" style="text-align: left;padding-right: 5px;">
            {% block left_side %}
            {% endblock left_side %}
        </div>

        <div class="column" style="text-align: center;padding-left: 5px;padding-right: 5px;">
            <h3 style="padding: 10px 0;">{{ titre_table }}</h3>
        </div>

        <div class="column" style="text-align: right;padding-left: 5px;">
            {% block right_side %}
            {% endblock right_side %}
        </div>
    </div>
</div>

<!-- Messages ---------------------------------------------------------- -->
{% include 'heron/messages_delete.html' %}
{% include 'heron/messages_forms.html' %}
{% include 'heron/messages_imports.html' %}
{% include 'heron/messages_inline_forms.html' %}
{% include 'heron/messages_messages.html' %}
<!-- end --------------------------------------------------------------- -->