{% load static %}

<div class="ui equal width grid center">
    <div class="three wide column" style="text-align: center;vertical-align: middle">
  </div>

    <div class="ten wide column" style="text-align: center;margin-top: 100px;">
        <div class="ui image">
            <img src="{% static 'logo_heron_01.png' %}" alt="logo-heron" style="width: 50%;margin: auto;display: block;">
        </div>
    </div>

    <div class="three wide column" style="text-align: center;vertical-align: middle">
    </div>
</div>