{% load static %}

<div class="ui dropdown item color-button a-menu">
  <i class="address book icon"></i>Paramétrage<i class="dropdown icon"></i>
    <div class="menu">
        {% if request.user.is_superuser %}
            <a href="{% url 'accounts:register' %}" class="ui item a-menu">Création User</a>
            <a href="{% url 'accounts:users_insertions' %}" class="ui item">Insertion Users</a>
        {% endif %}
        <a href="{% url 'projets:missions' %}" class="ui item a-menu">Missions</a>
        <a href="{% url 'projets:type_documents' %}" class="ui item a-menu">Type documents Projet</a>
        <a href="{% url 'projets:cogirissi_type_documents' %}" class="ui item a-menu">Type documents Cogrissi</a>
        <a href="{% url 'repertoires:repertoire' %}" class="ui item a-menu">Intervenants</a>
        <a href="{% url 'repertoires:apostrophes' %}" class="ui item a-menu">Apostrophes</a>
        <a href="{% url 'repertoires:categories' %}" class="ui item a-menu">Catégories</a>
    </div>
</div>
