<br>
<div class="ui grid" style="margin: -10px 0 0;">

  <div class="sixteen wide column" style="padding: 0;margin-left: 50px;margin-right: 50px;">
    <div class="ui stackable container pointing menu" style="width: auto;">

        <a href="/" class="ui item color-button a-menu"><i class="home icon"></i></a>
        {% if chevron_retour %}
          <a href="{{ chevron_retour }}" class="item color-button a-menu">
            <i class="home chevron left icon"></i>
          </a>
        {% endif %}
        {% if titre_menu %}
            <h4 style="padding: 0;margin: 11px 0 0 100px;vertical-align: middle;">{{ titre_menu }}</h4>
        {% endif %}

        <div class="right menu">
            {% block right_menu %}
            {% endblock right_menu %}
        </div>
    </div>
  </div>

</div>
