<br>
<div class="ui grid" style="margin: -10px 0 0;">

  <div class="sixteen wide column" style="padding: 0;margin-left: 50px;margin-right: 50px;">

    <div class="ui stackable container pointing menu" style="width: auto;">

        {% if user.is_authenticated %}

            <a href="/" class="ui item color-button a-menu"><i class="home icon"></i></a>

            {% if chevron_retour %}
              <a href="{{ chevron_retour }}" class="item color-button a-menu">
                <i class="home chevron left icon"></i>
              </a>
            {% endif %}

            <a class="browse item bold" data-target="#a" id="amenu">
                Paramétrage
                <i class="dropdown icon"></i>
            </a>

            <a class="browse item bold" data-target="#k" id="kmenu">
                Tiers
                <i class="dropdown icon"></i>
            </a>

            <a class="browse item bold" data-target="#b" id="bmenu">
                Articles
                <i class="dropdown icon"></i>
            </a>

            <a class="browse item bold" data-target="#g" id="gmenu">
                Chiffre d'affaires
                <i class="dropdown icon"></i>
            </a>

            <a class="browse item bold" data-target="#c" id="cmenu">
                Imports
                <i class="dropdown icon"></i>
            </a>

            <a class="browse item bold" data-target="#d" id="dmenu">
                Saisies
                <i class="dropdown icon"></i>
            </a>

            <a class="browse item bold" data-target="#e" id="emenu">
                Contôles Achats
                <i class="dropdown icon"></i>
            </a>

            <a class="browse item bold" data-target="#f" id="fmenu">
                Facturation
                <i class="dropdown icon"></i>
            </a>

{#            <a class="browse item bold" data-target="#h" id="hmenu">#}
{#                Contôles Sage#}
{#                <i class="dropdown icon"></i>#}
{#            </a>#}

{#            <a class="browse item bold" data-target="#i" id="imenu">#}
{#                Factures#}
{#                <i class="dropdown icon"></i>#}
{#            </a>#}

            <a class="browse item bold" data-target="#j" id="jmenu">
                Logs / Traces
                <i class="dropdown icon"></i>
            </a>

        {% endif %}

        <div class="right menu">
            {% include "heron/menu_utilisateurs.html" %}
        </div>


        {% if user.is_authenticated %}
            <div class="ui popup" id="a">
                <div class="ui {% if user.is_superuser %}five{% else %}four{% endif %} column relaxed equal divided grid" style="width: 80em;">

                    <div class="column" style="padding-left: 10px;padding-right: 5px;">
                        <h4 class="ui header" style="font-size: 1em;">CENTRALES</h4>
                        <div class="ui link list">
                            <a href="{% url 'centers_purchasing:meres_list' %}" class="item">Centrales Mère</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'centers_purchasing:filles_list' %}" class="item">Centrales Filles</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'centers_purchasing:enseignes_list' %}" class="item">Enseignes</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'centers_purchasing:type_facture_list' %}" class="item">Centrales/Type de Facture</a>
                        </div>
                    </div>

                    <div class="column" style="padding-left: 10px;padding-right: 5px;">
                        <h4 class="ui header" style="font-size: 1em;">FACTURATION</h4>
                        {% if user.email == "paulo@alves.ovh" %}
                        <div class="ui link list">
                            <a href="{% url 'parameters:axes_articles_defaut' slug_name='axes_articles' %}" class="item">Axes Par Défaut</a>
                        </div>
                        {% endif %}
                        <div class="ui link list">
                            <a href="{% url 'parameters:categories_list' %}" class="item">Catégories</a>
                        </div>
                        {% if user.email == "paulo@alves.ovh" %}
                            <div class="ui link list">
                                <a href="{% url 'centers_purchasing:grouping_goods_list' %}" class="item" style="color: red">Regroupements facturation</a>
                            </div>
                            <div class="ui link list">
                                <a href="{% url 'centers_purchasing:axe_grouping_list' %}" class="item" style="color: red">Axe PRO/Regroupements</a>
                            </div>
                        {% endif %}
                        <div class="ui link list">
                            <a href="{% url 'centers_purchasing:account_axe_list' %}" class="item">Axe PRO/Comptes</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'centers_purchasing:axe_pro_vat_list' %}" class="item">Axe PRO/TVA</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'invoices:entete_details_list' %}" class="item">Entêtes Détails</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'invoices:axes_details_list' %}" class="item">Axe PRO/Entêtes Détails</a>
                        </div>
                    </div>

                    <div class="column" style="padding-left: 10px;padding-right: 5px;">
                        <h4 class="ui header" style="font-size: 1em;">RFA</h4>
                        <div class="ui link list">
                            <a href="{% url 'rfa:signboards_exclusion_list' %}" class="item">Exclusion Enseignes</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'rfa:clients_exclusion_list' %}" class="item">Exclusion Clients/CCT</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'rfa:clients_suppliers_exclusion_list' %}" class="item">Exclusion Clients/Fournisseurs</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'rfa:sections_pro_exclusions_list' %}" class="item">Exclusion Axe PRO</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'rfa:sections_rfa_list' %}" class="item">Axes RFA</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'rfa:suppliers_rate_list' %}" class="item">Taux de RFA</a>
                        </div>
                    </div>

                    <div class="column" style="padding-left: 10px;padding-right: 5px;">
                        <h4 class="ui header" style="font-size: 1em;">DIVERS</h4>
                        <div class="ui link list">
                            <a href="{% url 'parameters:natures_list' %}" class="item">Natures/Genres</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'parameters:emails_list' %}" class="item">Emails</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'parameters:period_select_exchange' %}" class="item">Taux de Change Moyen</a>
                        </div>
                        {% if user.email == "paulo@alves.ovh" %}
                            <div class="ui link list">
                                <a href="{% url 'parameters:functions_list' %}" class="item" style="color: red">Fonctions</a>
                            </div>
                            <div class="ui link list">
                                <a href="{% url 'parameters:numberings_list' %}" class="item" style="color: red">Numérotations</a>
                            </div>
                            <div class="ui link list">
                                <a href="{% url 'data_flux:processing_files' function_name='ACCOUNTS' %}" class="item" style="color: red">Import Axe PRO/Comptes</a>
                            </div>
                        {% endif %}
                    </div>



                    {% if user.email == 'paulo@alves.ovh' %}
                        <div class="column">
                            <h4 class="ui header" style="font-size: 1em;">PERMISSIONS</h4>
                            <div class="ui link list">
                                <a class="item">Users</a>
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>

            <div class="ui popup" id="k">
                <div class="ui one column relaxed divided grid" style="width: 18em;">
                    <div class="column" style="padding-left: 10px;padding-right: 5px;">
                        <div class="ui link list">
                            <h4 class="ui header" style="font-size: 1em;margin-bottom: 5px;">CLIENTS</h4>
                            <a href="{% url 'centers_clients:maisons_list' %}" class="item">1.1 Clients</a>
                            <a href="{% url 'centers_clients:exclusions_list' %}" class="item">1.2 Exclusions Tiers/Clients</a>
                            <a href="{% url 'centers_clients:exclusions_country_list' %}" class="item">1.3 Exclusions Tiers/Pays Client</a>
                            <a href="{% url 'centers_clients:subscriptions_list' %}" class="item">1.4 Abonnements</a>
                            <div class="ui divider" style="margin: 5px 0"></div>
                            <h4 class="ui header" style="font-size: 1em;margin-top: 10px;margin-bottom: 5px;">TIERS</h4>
                            <a href="{% url 'book:societies_list_in_use' %}" class="item">2.1 Tiers X3 - Courants</a>
                            <a href="{% url 'book:societies_list' %}" class="item">2.2 Tiers X3</a>
                            <a href="{% url 'book:statistiques_list' %}" class="item">2.3 Familles/Axes</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui popup" id="b">
                <div class="ui one column relaxed divided grid" style="width: 18em;">

                    <div class="column">
                        <div class="ui link list">
                            <a href="{% url 'articles:new_articles_list' %}" class="item">00. Nouveaux Articles</a>
                            <a href="{% url 'articles:suppliers_articles_list' category='marchandises' %}" class="item">01. Marchandises</a>
                            <a href="{% url 'articles:suppliers_articles_list' category='rfa' %}" class="item">02. RFA</a>
                            <a href="{% url 'articles:suppliers_articles_list' category='redevances' %}" class="item">03. Redevances</a>
                            <a href="{% url 'articles:suppliers_articles_list' category='redevances-de-publicite' %}" class="item">04. Publicité</a>
                            <a href="{% url 'articles:suppliers_articles_list' category='formation' %}" class="item">05. Formations</a>
                            <a href="{% url 'articles:suppliers_articles_list' category='personnel' %}" class="item">06. Personnel</a>
                            <a href="{% url 'articles:suppliers_articles_list' category='materiel' %}" class="item">07. Matériel</a>
                            <a href="{% url 'articles:suppliers_articles_list' category='prestation' %}" class="item">08. Prestations/Abonnements</a>
                            <a href="{% url 'articles:suppliers_articles_list' category='divers' %}" class="item">09. Divers</a>
                            <a href="{% url 'articles:articles_search_list' %}" class="item">10. Recherches</a>
                            {% if user.email == 'paulo@alves.ovh' %}
                                <a href="{% url 'articles:articles_account_list' %}" class="item">11. Article / Comptes</a>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>


            <div class="ui popup" id="g">
                <div class="ui one column relaxed divided grid" style="width: 18em;">

                    <div class="column">
                        <h4 class="ui header" style="font-size: 1em;margin-bottom: 5px;">COSIUM</h4>
                        <div class="ui link list">
                            <a href="{% url 'compta:export_sales_cosium' %}" class="item">01. Ventes Cosium</a>
                            <a href="{% url 'compta:export_ca_cosium' %}" class="item">02. CA par familles</a>
                            <a href="{% url 'compta:reset_clients_in_sales' %}" class="item">03. Reset des CCT</a>
                            <a href="{% url 'compta:reset_exhange_rates_in_sales' %}" class="item">04. Reset des Taux de change</a>
                            <a href="{% url 'compta:reset_sales' %}" class="item">05. Reset des Ventes</a>
                            <a href="{% url 'compta:reset_ca' %}" class="item">06. Reset du CA</a>
                        </div>
                    </div>

{#                    <div class="column">#}
{#                        <h4 class="ui header">HERON</h4>#}
{#                        <div class="ui link list">#}
{#                            <a href="{% url 'validation_sales:compare_turnover_sales' %}" class="item">Ventes vs CA</a>#}
{#                            <a href="{% url 'validation_sales:controls_cct_sales' %}" class="item">Ventes par CCT</a>#}
{#                        </div>#}
{#                    </div>#}

                </div>
            </div>

            <div class="ui popup" id="c">
                <div class="ui one column relaxed divided grid" style="width: 18em;">

                    <div class="column">
                        <div class="ui link list">
                            <a href="{% url 'edi:import_edi_invoices' %}" class="item">01. Factures EDI</a>
                            <a href="{% url 'compta:royalties_launch' %}" class="item">02. Royalties</a>
                            <a href="{% url 'compta:meuleuse_launch' %}" class="item">03. Meuleuses</a>
                            <a href="{% url 'compta:publicity_launch' %}" class="item">04. Publicité</a>
                            <a href="{% url 'compta:services_launch' %}" class="item">05. Prestations</a>
                            <a href="{% url 'rfa:rfa_generation' %}" class="item">06. RFA</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui popup" id="d">
                <div class="ui one column relaxed equal divided grid" style="width: 18em;">

{#              1. Marchandises ================================================================  #}
                    <div class="column">
                        <div class="ui link list">
                            <a href="{% url 'edi:create_hand_invoices' category='marchandises' %}" class="item">01. Factures</a>
                            <a href="{% url 'edi:create_hand_invoices' category='formation' %}" class="item">02. Formation</a>
                            <a href="{% url 'edi:create_hand_invoices' category='personnel' %}" class="item">03. Personnel</a>
                            {% if user.email == 'paulo@alves.ovh' %}
                                <a href="{% url 'invoices:invoice_search_list' %}" class="item">04. Réaffectation</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui popup" id="e">
                <div class="ui one column relaxed divided grid" style="width: 21em;">

                    <div class="column">
                        <h4 class="ui header" style="font-size: 1em;margin-bottom: 5px;">Achats</h4>
                        <div class="ui link list">
                            <a href="{% url 'articles:new_articles_list' %}" class="item">1.1 &nbsp;&nbsp;&nbsp;&nbsp;Nouveaux Articles</a>
                            <a href="{% url 'articles:articles_without_account_list' %}" class="item">1.2 &nbsp;&nbsp;&nbsp;&nbsp;Articles sans Comptes</a>
                            <div class="ui divider" style="margin: 5px 0;"></div>
                            <a href="{% url 'validation_purchases:integration_purchases' %}" class="item">2.1 &nbsp;&nbsp;&nbsp;&nbsp;Intégrations</a>
                            <a href="{% url 'validation_purchases:without_cct_purchases' %}" class="item">2.2 &nbsp;&nbsp;&nbsp;&nbsp;Contrôle CCT</a>
                            <div class="ui divider" style="margin: 5px 0;"></div>
                            <a href="{% url 'validation_purchases:families_invoices_purchases' %}" class="item">3.1 &nbsp;&nbsp;&nbsp;&nbsp;Contrôle Familles</a>
                            <a href="{% url 'validation_purchases:cct_franchiseurs_purchases' %}" class="item">3.2 &nbsp;&nbsp;&nbsp;&nbsp;Contrôle CCT/Franchiseurs</a>
                            <a href="{% url 'validation_purchases:clients_news_purchases' %}" class="item">3.3 &nbsp;&nbsp;&nbsp;&nbsp;Contrôle Nouveaux Clients</a>
                            <a href="{% url 'validation_purchases:subscriptions_purchases' %}" class="item">3.5 &nbsp;&nbsp;&nbsp;&nbsp;Contrôle Abonnements</a>
                            <a href="{% url 'validation_purchases:control_rfa_period' %}" class="item">3.6 &nbsp;&nbsp;&nbsp;&nbsp;Contrôle période RFA</a>
                            <div class="ui divider" style="margin: 5px 0;"></div>
                            <a href="{% url 'validation_purchases:refac_cct_purchases' %}" class="item">5.0 &nbsp;&nbsp;&nbsp;&nbsp;Contrôle Refac M/M-1 CCT</a>
                            <a href="{% url 'validation_purchases:balance_suppliers_purchases' %}" class="item">5.1 &nbsp;&nbsp;&nbsp;&nbsp;Contrôle Fournisseurs M/M-1</a>
                            <a href="{% url 'validation_purchases:ca_cct' %}" class="item">5.3 &nbsp;&nbsp;&nbsp;&nbsp;Contrôle CA Cosium/Ventes Héron</a>
                            <div class="ui divider" style="margin: 5px 0;"></div>
                            <a href="{% url 'validation_purchases:suppliers_edi_purchases' %}" class="item">6.0&nbsp;&nbsp;&nbsp;&nbsp;Export achats fournisseurs</a>
                            <a href="{% url 'validation_purchases:rfa_mensuelles' %}" class="item">6.1&nbsp;&nbsp;&nbsp;&nbsp;Export RFA mensuelles</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="ui popup" id="f">
                <div class="ui one column relaxed divided grid" style="width: 21em;">
                    <div class="column">
                        <div class="ui link list">
                            <a href="{% url 'invoices:generate_invoices_insertions' %}" class="item">1.1 Génération écritures facturation</a>
                            <div class="ui divider" style="margin: 5px 0;"></div>
                            <a href="{% url 'validation_purchases:invoices_purchases_export_globals' %}" class="item">2.1 Achats en cours</a>
                            <a href="{% url 'validation_sales:invoices_sales_export_globals' %}" class="item">2.2 Ventes en cours</a>
                            <div class="ui divider" style="margin: 5px 0;"></div>
                            <a href="{% url 'invoices:generate_pdf_invoice' %}" class="item">3.1 Génération pdf factures de vente</a>
                            <a href="{% url 'invoices:invoices_pdf_files' %}" class="item">3.2 Factures pdf de vente</a>
                            <a href="{% url 'invoices:send_email_pdf_invoice' %}" class="item">3.4 Envoi global des factures de vente</a>
                            <div class="ui divider" style="margin: 5px 0;"></div>
                            <a href="{% url 'invoices:generate_exports_X3' %}" class="item">4.1 Génération écritures X3 facturation</a>
                            <a href="{% url 'invoices:export_x3_files' %}" class="item">4.2 Fichiers X3</a>
                            <div class="ui divider" style="margin: 5px 0;"></div>
                            <a href="{% url 'invoices:finalize_period' %}" class="item">5.0 Finalisation période facturation</a>
                            <div class="ui divider" style="margin: 5px 0;"></div>
                            {% if user.email == 'paulo@alves.ovh' %}
                                <a href="{% url 'invoices:valid_export_achats' %}" class="item">5.1 Export Achats (Eric)</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

{#            <div class="ui popup" id="h">#}
{#                <div class="ui two column relaxed divided grid" style="width: 18em;">#}
{#                    <div class="column">#}
{#                        <h4 class="ui header">Sage</h4>#}
{#                        <div class="ui link list">#}
{#                            <a href="{% url 'validation_purchases:sage_controls_globals_purchases' %}" class="item">5.5.A Achats Sage</a>#}
{#                            <a href="{% url 'validation_purchases:sage_controls_familles_purchases' %}" class="item">5.5.B Achats Famille</a>#}
{#                            <a href="{% url 'validation_sales:sage_controls_globals_sales' %}" class="item">5.5.C Ventes Sage</a>#}
{#                            <a href="{% url 'validation_sales:sage_controls_familles_sales' %}" class="item">5.5.D Ventes Famille</a>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                </div>#}
{#            </div>#}

{#            <div class="ui popup" id="i">#}
{#                <div class="ui two column relaxed divided grid" style="width: 18em;">#}
{##}
{#                    <div class="column">#}
{#                        <div class="ui link list">#}
{#                        </div>#}
{#                        <div class="ui link list">#}
{##}
{#                        </div>#}
{##}
{#                    </div>#}
{##}
{#                </div>#}
{#            </div>#}

            <div class="ui popup" id="j">
                <div class="ui one column relaxed divided grid" style="width: 18em;">

                    <div class="column">
                        <h4 class="ui header" style="font-size: 1em;"></h4>
                        <div class="ui link list">
                            <a href="{% url 'traces:edi_traces' %}" class="item">Traces EDI</a>
                        </div>
                    </div>

                </div>
            </div>
        {% endif %}
    </div>
  </div>
</div>

{# Dimmer avec loader pour la navigation #}
<div class="ui page dimmer" id="navigation-loader">
  <div class="ui text loader">Chargement en cours...</div>
</div>

<script>
(function() {
    // Fonction pour activer le loader et désactiver les liens
    function activateNavigationLoader(event) {
        const target = event.currentTarget;
        const href = target.getAttribute('href');
        // Ne rien faire pour les liens sans href, # ou javascript:
        if (!href || href === '#' || href.startsWith('javascript:')) {
            return;
        }

        // Ne rien faire si c'est un téléchargement ou un lien externe
        if (target.hasAttribute('download') || target.getAttribute('target') === '_blank') {
            return;
        }

        // Empêcher la navigation immédiate
        event.preventDefault();

        // Retirer les classes actives des items du menu
        $('.ui.menu .item').removeClass('active');

        // Fermer tous les popups instantanément (sans animation)
        $('.ui.popup').hide().removeClass('visible active');
        $('.ui.popup').popup('hide');

        // Forcer le navigateur à effectuer le rendu de la fermeture du menu
        // avant d'afficher le loader (synchronisation avec le cycle de rendu)
        requestAnimationFrame(function() {
            // Le menu est maintenant fermé visuellement
            // On peut afficher le loader

            // Activer le dimmer avec loader
            $('#navigation-loader').dimmer('show');

            // Désactiver tous les liens et boutons du menu
            $('.ui.menu a, .ui.popup a').addClass('disabled').css({
                'pointer-events': 'none',
                'opacity': '0.6',
                'cursor': 'not-allowed'
            });


            // Naviguer vers la destination
            globalThis.location.href = href;
        });
    }

    // Attacher l'événement à tous les liens du menu et des popups
    $(document).ready(function() {
        // Initialiser le dimmer
        $('#navigation-loader').dimmer({
            closable: false
        });

        // Attacher l'événement aux liens du menu principal
        $('.ui.menu a[href]:not([href="#"]):not([href^="javascript:"])').on('click', activateNavigationLoader);

        // Attacher l'événement aux liens des popups
        $('.ui.popup a[href]:not([href="#"]):not([href^="javascript:"])').on('click', activateNavigationLoader);

        // Au cas où la page se charge depuis le cache du navigateur
        $(globalThis).on('pageshow', function(event) {
            if (event.originalEvent.persisted) {
                // La page a été chargée depuis le cache, réinitialisé l'interface
                $('#navigation-loader').dimmer('hide');
                $('.ui.menu a, .ui.popup a').removeClass('disabled loading').css({
                    'pointer-events': '',
                    'opacity': '',
                    'cursor': ''
                });
            }
        });
    });
})();
</script>
