{% load static %}

<div class="ui dropdown item color-button a-menu">
  <i class="address book icon"></i>Paramétrage<i class="dropdown icon"></i>
    <div class="menu">
        {% if request.user.is_superuser %}
            <a href="{% url 'accounts:register' %}" class="ui item a-menu">Création User</a>
            <a href="{% url 'accounts:users_insertions' %}" class="ui item">Insertion Users</a>
        {% endif %}
        <a href="{% url 'book:societies_list' %}" class="ui item a-menu">Tiers</a>
        <a href="{% url 'centers_clients:maisons_list' %}" class="ui item">Maisons</a>
    </div>
</div>
