<br>
<div class="ui grid" style="margin: -10px 0 0;">

  <div class="sixteen wide column" style="padding: 0;margin-left: 50px;margin-right: 50px;">

    <div class="ui stackable container pointing menu" style="width: auto;">

        {% if user.is_authenticated %}

            <a href="/" class="ui item color-button a-menu"><i class="home icon"></i></a>

            {% if chevron_retour %}
              <a href="{{ chevron_retour }}" class="item color-button a-menu">
                <i class="home chevron left icon"></i>
              </a>
            {% endif %}

            <a class="browse item bold" data-target="#a" id="amenu">
                Paramétrage
                <i class="dropdown icon"></i>
            </a>

            <a class="browse item bold" data-target="#b" id="bmenu">
                Achats
                <i class="dropdown icon"></i>
            </a>

            <a class="browse item bold" data-target="#c" id="cmenu">
                Ventes
                <i class="dropdown icon"></i>
            </a>

            <a class="browse item bold" data-target="#d" id="dmenu">
                Contôles
                <i class="dropdown icon"></i>
            </a>

        {% endif %}

        <div class="right menu">
            {% include "heron/menu_utilisateurs.html" %}
        </div>


        {% if user.is_authenticated %}
            <div class="ui flowing transition popup" id="a">
                <div class="ui {% if user.is_superuser %}five{% else %}four{% endif %} column relaxed equal divided grid" style="width: 70em;">
                    {% if user.is_superuser %}
                        <div class="column">
                            <h4 class="ui header"style="font-size: 1em;">PERMISSIONS</h4>
                            <div class="ui link list">
                                <a class="item">Users</a>
                            </div>
                        </div>
                    {% endif %}
                    <div class="column">
                        <h4 class="ui header"style="font-size: 1em;">TIERS</h4>
                        <div class="ui link list">
                            <a href="{% url 'book:societies_list' %}" class="item">Tiers X3</a>
                        </div>
                    </div>

                    <div class="column">
                        <h4 class="ui header"style="font-size: 1em;">CLIENTS</h4>
                        <div class="ui link list">
                            <a href="{% url 'centers_clients:maisons_list' %}" class="item">Clients</a>
                        </div>
                    </div>

                    <div class="column">
                        <h4 class="ui header"style="font-size: 1em;">CENTRALES</h4>
                        <div class="ui link list">
                            <a href="{% url 'centers_purchasing:meres_list' %}" class="item">Centrales Mère</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'centers_purchasing:filles_list' %}" class="item">Centrales Filles</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'centers_purchasing:enseignes_list' %}" class="item">Enseignes</a>
                        </div>
                    </div>

                    <div class="column">
                        <h4 class="ui header"style="font-size: 1em;">ARTICLES</h4>
                        <div class="ui link list">
                            <a href="{% url 'parameters:categories_list' %}" class="item">Catégories</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'articles:suppliers_articles_list' %}" class="item">Fournisseur / Articles</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="ui flowing transition popup" id="b">
                <div class="ui two column relaxed divided grid" style="width: 24em;">

                    <div class="column">
                        <h4 class="ui header">Factures</h4>
                        <div class="ui link list">
                            <a href="" class="item">Par Tiers</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="ui flowing transition popup" id="c">
                <div class="ui two column relaxed divided grid" style="width: 24em;">

                    <div class="column">
                        <h4 class="ui header">Validations</h4>
                        <div class="ui link list">
                            <a href="" class="item"></a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="ui flowing transition popup" id="d">
                <div class="ui two column relaxed divided grid" style="width: 24em;">

                    <div class="column">
                        <h4 class="ui header">Achats</h4>
                        <div class="ui link list">
                            <a href="{% url 'validation_purchases:balance_suppliers_purchases' %}" class="item">Soldes Fournisseurs</a>
                            <a href="{% url 'validation_purchases:invoices_suppliers_purchases' %}" class="item">Factures Fournisseurs</a>
                        </div>
                    </div>

                    <div class="column">
                        <h4 class="ui header">Ventes</h4>
                        <div class="ui link list">
                            <a href="{% url 'validation_sales:compare_turnover_sales' %}" class="item">Ventes vs CA</a>
                            <a href="{% url 'validation_sales:controls_cct_sales' %}" class="item">Ventes par CCT</a>
                        </div>
                    </div>

                    <div class="column">
                        <h4 class="ui header">Sage</h4>
                        <div class="ui link list">
                            <a href="{% url 'validation_purchases:sage_controls_globals_purchases' %}" class="item">Achats Sage</a>
                            <a href="{% url 'validation_purchases:sage_controls_details_purchases' %}" class="item">Achats Détails</a>
                            <a href="{% url 'validation_purchases:sage_controls_familles_purchases' %}" class="item">Achats Famille</a>
                            <a href="{% url 'validation_sales:sage_controls_globals_sales' %}" class="item">Ventes Sage</a>
                            <a href="{% url 'validation_sales:sage_controls_details_sales' %}" class="item">Ventes Détails</a>
                            <a href="{% url 'validation_sales:sage_controls_familles_sales' %}" class="item">Ventes Famille</a>
                        </div>
                    </div>

                </div>
            </div>
        {% endif %}
    </div>
  </div>
</div>
