<br>
<div class="ui grid" style="margin: -10px 0 0;">

  <div class="sixteen wide column" style="padding: 0;margin-left: 50px;margin-right: 50px;">

    <div class="ui stackable container pointing menu" style="width: auto;">

        {% if user.is_authenticated %}

            <a href="/" class="ui item color-button a-menu"><i class="home icon"></i></a>

            {% if chevron_retour %}
              <a href="{{ chevron_retour }}" class="item color-button a-menu">
                <i class="home chevron left icon"></i>
              </a>
            {% endif %}

            <a class="browse item bold" data-target="#a" id="amenu">
                Paramétrage
                <i class="dropdown icon"></i>
            </a>

            <a class="browse item bold" data-target="#b" id="bmenu">
                Articles
                <i class="dropdown icon"></i>
            </a>

            <a class="browse item bold" data-target="#c" id="cmenu">
                Imports
                <i class="dropdown icon"></i>
            </a>

            <a class="browse item bold" data-target="#d" id="dmenu">
                Saisies
                <i class="dropdown icon"></i>
            </a>

            <a class="browse item bold" data-target="#e" id="emenu">
                Contôles Achats
                <i class="dropdown icon"></i>
            </a>

            <a class="browse item bold" data-target="#f" id="fmenu">
                Validations
                <i class="dropdown icon"></i>
            </a>

            <a class="browse item bold" data-target="#g" id="gmenu">
                Contôles Ventes
                <i class="dropdown icon"></i>
            </a>

            <a class="browse item bold" data-target="#h" id="hmenu">
                Contôles Sage
                <i class="dropdown icon"></i>
            </a>

            <a class="browse item bold" data-target="#i" id="imenu">
                Factures
                <i class="dropdown icon"></i>
            </a>

            <a class="browse item bold" data-target="#j" id="jmenu">
                Logs / Traces
                <i class="dropdown icon"></i>
            </a>

        {% endif %}

        <div class="right menu">
            {% include "heron/menu_utilisateurs.html" %}
        </div>


        {% if user.is_authenticated %}
            <div class="ui popup" id="a">
                <div class="ui {% if user.is_superuser %}five{% else %}four{% endif %} column relaxed equal divided grid" style="width: 80em;">

                    <div class="column">
                        <h4 class="ui header" style="font-size: 1em;">DIVERS</h4>
                        <div class="ui link list">
                            <a href="{% url 'parameters:natures_list' %}" class="item">Natures/Genres</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'parameters:emails_list' %}" class="item">Emails</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'parameters:period_select_exchange' %}" class="item">Taux de Change Moyen</a>
                        </div>
                        {% if user.email == "paulo@alves.ovh" %}
                            <div class="ui link list">
                                <a href="{% url 'parameters:functions_list' %}" class="item" style="color: red">Fonctions</a>
                            </div>
                            <div class="ui link list">
                                <a href="{% url 'parameters:numberings_list' %}" class="item" style="color: red">Numérotations</a>
                            </div>
                            <div class="ui link list">
                                <a href="{% url 'data_flux:processing_files' function_name='ACCOUNTS' %}" class="item" style="color: red">Import Axe PRO/Comptes</a>
                            </div>
                        {% endif %}
                    </div>

                    <div class="column">
                        <h4 class="ui header" style="font-size: 1em;">CENTRALES</h4>
                        <div class="ui link list">
                            <a href="{% url 'centers_purchasing:meres_list' %}" class="item">Centrales Mère</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'centers_purchasing:filles_list' %}" class="item">Centrales Filles</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'centers_purchasing:enseignes_list' %}" class="item">Enseignes</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'centers_purchasing:type_facture_list' %}" class="item">Centrales/Type de Facture</a>
                        </div>
                    </div>

                    <div class="column">
                        <h4 class="ui header" style="font-size: 1em;">FACTURATION</h4>
                        <div class="ui link list">
                            <a href="{% url 'parameters:axes_articles_defaut' slug_name='axes_articles' %}" class="item">Axes Par Défaut</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'parameters:categories_list' %}" class="item">Catégories</a>
                        </div>
                        {% if user.email == "paulo@alves.ovh" %}
                            <div class="ui link list">
                                <a href="{% url 'centers_purchasing:grouping_goods_list' %}" class="item" style="color: red">Regroupements facturation</a>
                            </div>
                            <div class="ui link list">
                                <a href="{% url 'centers_purchasing:axe_grouping_list' %}" class="item" style="color: red">Axe PRO/Regroupements</a>
                            </div>
                        {% endif %}
                        <div class="ui link list">
                            <a href="{% url 'centers_purchasing:account_axe_list' %}" class="item">Axe PRO/Comptes</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'centers_purchasing:axe_pro_vat_list' %}" class="item">Axe PRO/TVA</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'invoices:entete_details_list' %}" class="item">Entêtes Détails</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'invoices:axes_details_list' %}" class="item">Axe PRO/Entêtes Détails</a>
                        </div>
                    </div>

                    <div class="column">
                        <h4 class="ui header" style="font-size: 1em;">CLIENTS</h4>
                        <div class="ui link list">
                            <a href="{% url 'centers_clients:maisons_list' %}" class="item">Clients</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'centers_clients:exclusions_list' %}" class="item">Exclusions Tiers/Clients</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'centers_clients:exclusions_country_list' %}" class="item">Exclusions Tiers/Pays Client</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'centers_clients:subscriptions_list' %}" class="item">Abonnements</a>
                        </div>
                    </div>

                    <div class="column">
                        <h4 class="ui header" style="font-size: 1em;">TIERS</h4>
                        <div class="ui link list">
                            <a href="{% url 'book:societies_list_in_use' %}" class="item">Tiers X3 - Courants</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'book:societies_list' %}" class="item">Tiers X3</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'book:statistiques_list' %}" class="item">Familles/Axes</a>
                        </div>

                    </div>

{#                    {% if user.is_superuser %}#}
{#                        <div class="column">#}
{#                            <h4 class="ui header" style="font-size: 1em;">PERMISSIONS</h4>#}
{#                            <div class="ui link list">#}
{#                                <a class="item">Users</a>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endif %}#}

                </div>
            </div>

            <div class="ui popup" id="b">
                <div class="ui one column relaxed divided grid" style="width: 20em;">

                    <div class="column">
                        <div class="ui link list">
                            <a href="{% url 'articles:new_articles_list' %}" class="item">00. Nouveaux Articles</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'articles:suppliers_articles_list' category='marchandises' %}" class="item">01. Marchandises</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'articles:suppliers_articles_list' category='rfa' %}" class="item">02. RFA</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'articles:suppliers_articles_list' category='redevances' %}" class="item">03. Redevances</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'articles:suppliers_articles_list' category='redevances-de-publicite' %}" class="item">04. Publicité</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'articles:suppliers_articles_list' category='formation' %}" class="item">05. Formations</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'articles:suppliers_articles_list' category='personnel' %}" class="item">06. Personnel</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'articles:suppliers_articles_list' category='materiel' %}" class="item">07. Matériel</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'articles:suppliers_articles_list' category='prestation' %}" class="item">08. Prestations/Abonnements</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'articles:suppliers_articles_list' category='divers' %}" class="item">09. Divers</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'articles:articles_search_list' %}" class="item">11. Recherches</a>
                        </div>
                        <div class="ui link list">
                            <a href="{% url 'articles:articles_account_list' %}" class="item">12. Article / Comptes</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="ui popup" id="c">
                <div class="ui two column relaxed divided grid" style="width: 24em;">

                    <div class="column">
                        <div class="ui link list">
                            <a href="{% url 'edi:import_edi_invoices' %}" class="item">01. Factures EDI</a>
                            <a href="{% url 'compta:royalties_launch' %}" class="item">02. Royalties</a>
                            <a href="{% url 'compta:meuleuse_launch' %}" class="item">03. Meuleuses</a>
                            <a href="{% url 'compta:publicity_launch' %}" class="item">04. Publicité</a>
                            <a href="{% url 'compta:services_launch' %}" class="item">05. Prestations</a>
{#                            <a href="/" class="item">1. Marchandises</a>#}
{#                            <a href="/" class="item">2. RFA</a>#}
{#                            <a href="/" class="item">3. Redevances</a>#}
{#                            <a href="/" class="item">4. Publicité</a>#}
{#                            <a href="/" class="item">5. Formations</a>#}
{#                            <a href="/" class="item">6. Personnel</a>#}
{#                            <a href="/" class="item">7. Matériel</a>#}
{#                            <a href="/" class="item">8. Prestations</a>#}
{#                            <a href="/" class="item">9. Abonnements</a>#}
{#                            <a href="/" class="item">10. Divers</a>#}
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui popup" id="d">
                <div class="ui three column relaxed equal divided grid" style="width: 28em;">

{#              1. Marchandises ================================================================  #}
                    <div class="column">
                        <div class="ui link list">
                            <a href="{% url 'edi:create_hand_invoices' category='marchandises' %}" class="item">01. Factures</a>
                            <a href="{% url 'edi:create_hand_invoices' category='formation' %}" class="item">02. Formation</a>
                            <a href="{% url 'edi:create_hand_invoices' category='personnel' %}" class="item">03. Personnel</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui popup" id="e">
                <div class="ui one column relaxed divided grid" style="width: 30em;">

                    <div class="column">
                        <h4 class="ui header">Achats</h4>
                        <div class="ui link list">
                            <a href="{% url 'articles:new_articles_list' %}" class="item">1.1 &nbsp;&nbsp;&nbsp;&nbsp;Nouveaux Articles</a>
                            <a href="{% url 'articles:articles_without_account_list' %}" class="item">1.2 &nbsp;&nbsp;&nbsp;&nbsp;Articles sans Comptes</a>
                            <a href="{% url 'validation_purchases:integration_purchases' %}" class="item">2.1 &nbsp;&nbsp;&nbsp;&nbsp;Intégrations</a>
                            <a href="{% url 'validation_purchases:without_cct_purchases' %}" class="item">2.2 &nbsp;&nbsp;&nbsp;&nbsp;Contrôle CCT</a>
                            <a href="{% url 'validation_purchases:families_invoices_purchases' %}" class="item">3.1 &nbsp;&nbsp;&nbsp;&nbsp;Contrôle Familles</a>
{#                            <a href="{% url 'validation_purchases:articles_families_invoices_purchases' third_party_num='alls' %}" class="item">3.1.A Contrôle Articles</a>#}
{#                            <a href="{% url 'validation_purchases:balance_suppliers_purchases' %}" class="item">Soldes</a>#}
{#                            <a href="{% url 'validation_purchases:invoices_suppliers_purchases' %}" class="item">Factures</a>#}
                        </div>
                    </div>

                </div>
            </div>

            <div class="ui popup" id="f">
                <div class="ui one column relaxed divided grid" style="width: 30em;">

                    <div class="column">
                        <div class="ui link list">
                            <a href="{% url 'invoices:generate_invoices_insertions' %}" class="item">Validations factures</a>
                            <a href="{% url 'invoices:generate_pdf_invoice' %}" class="item">Génération de pdf de ventes</a>
                            <a href="{% url 'invoices:send_email_pdf_invoice' %}" class="item">Envoi email factures vente</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="ui popup" id="g">
                <div class="ui two column relaxed divided grid" style="width: 30em;">

                    <div class="column">
                        <h4 class="ui header">COSIUM</h4>
                        <div class="ui link list">
                            <a href="{% url 'compta:export_sales_cosium' %}" class="item">Ventes Cosium</a>
                            <a href="{% url 'compta:reset_clients_in_sales' %}" class="item">Set CCT Ventes</a>
                            <a href="{% url 'compta:export_ca_cosium' %}" class="item">CA Cosium</a>
                            <a href="{% url 'compta:reset_sales' %}" class="item">Reset des Ventes</a>
                            <a href="{% url 'compta:reset_ca' %}" class="item">Reset du CA</a>
                        </div>
                    </div>

                    <div class="column">
                        <h4 class="ui header">HERON</h4>
                        <div class="ui link list">
                            <a href="{% url 'validation_sales:compare_turnover_sales' %}" class="item">Ventes vs CA</a>
                            <a href="{% url 'validation_sales:controls_cct_sales' %}" class="item">Ventes par CCT</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="ui popup" id="h">
                <div class="ui two column relaxed divided grid" style="width: 30em;">
                    <div class="column">
                        <h4 class="ui header">Sage</h4>
                        <div class="ui link list">
                            <a href="{% url 'validation_purchases:sage_controls_globals_purchases' %}" class="item">5.5.A Achats Sage</a>
                            <a href="{% url 'validation_purchases:sage_controls_familles_purchases' %}" class="item">5.5.B Achats Famille</a>
                            <a href="{% url 'validation_sales:sage_controls_globals_sales' %}" class="item">5.5.C Ventes Sage</a>
                            <a href="{% url 'validation_sales:sage_controls_familles_sales' %}" class="item">5.5.D Ventes Famille</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="ui popup" id="i">
                <div class="ui two column relaxed divided grid" style="width: 24em;">

                    <div class="column">
                        <div class="ui link list">
                            <a href="/" class="item">01. Achats</a>
                        </div>
                        <div class="ui link list">
                            <a href="/" class="item">02. Ventes</a>
                        </div>

                    </div>

                </div>
            </div>

            <div class="ui popup" id="j">
                <div class="ui two column relaxed divided grid" style="width: 30em;">

                    <div class="column">
                        <h4 class="ui header" style="font-size: 1em;"></h4>
                        <div class="ui link list">
                            <a href="{% url 'traces:edi_traces' %}" class="item">Traces EDI</a>
                        </div>
                    </div>

                </div>
            </div>
        {% endif %}
    </div>
  </div>
</div>
