<div id="messages_delete" class="ui grid" style="padding: 0;margin: 10px {% if margin_table %}{{ margin_table }}{% else %}50{% endif %}px -20px;">
    <div class="sixteen wide column" style="padding: 0">
        <div class="row" style="text-align: center;">
            <div  id="sucess_delete" class="ui positive message" style="display: none;margin-bottom: 0;">
                <i class="close icon"></i>
                <div class="header">
                </div>
            </div>
            <div id="ko_delete" class="ui negative message" style="display: none;margin-bottom: 0;">
                <i class="close icon"></i>
                <div class="header">
                </div>
            </div>
        </div>
    </div>
</div>
