<div class="ui container">
    <div id="deleted" class="ui basic modal">
        <div class="ui icon header">
            <i class="warning sign red icon"></i>
            Etes vous sûr de vouloir supprimer :
        </div>
        <div class="content">
            <p id="ojectToDeleted"
               style="text-align: center;font-size: 20px;">
            </p>
        </div>
        <div class="actions">
            <div class="ui red cancel button">
              <i class="remove icon"></i>
              Non
            </div>
            <div class="ui green basic ok button">
              <i class="checkmark icon"></i>
              Oui
            </div>
        </div>
    </div>
</div>