{% autoescape off %}
Bonjour,

Vous avez demandé à réinitialiser votre mot de passe sur {{ domain }}.

Pour renouveler le mot de passe de votre compte "{{ user.get_username }}", veuillez vous rendre sur cette page :

    - {{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Cliquez sur le lien ou copiez/collez-le dans la barre d'adresse de votre navigateur.

Ce lien est valable 24h, passé ce délai il vous faudra effectuer une nouvelle demande de mot de passe.

Si vous n'êtes pas à l'origine de cette demande, veuillez nous contacter.

L'équipe OGSP
{% endautoescape %}
