{% extends "ogsp/base_semantic.html" %}

{% load static %}

{% block logo %}
    {% include "ogsp/logo_entete.html" %}
{% endblock logo %}

  <br>
  <div class="ui stackable sixteen column grid" style="text-align: center;">

    <div class="two wide column menubas">
    </div>

    <div class="twelve wide column menubas">
      <div class="ui stackable container pointing menu">
        <a href="/" class="item color-button" style="color: #f39912;"><i class="home icon"></i></a>
        <div class="right menu">
        </div>
      </div>
    </div>

    <div class="two wide column"></div>

  </div>

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <div class="ui equal width grid">

        <div class="column"></div>

        <div class="column">
            <div class="ui vertical menu" style="width: 100%">
                <div class="active item color-input-ogsp" style="font-weight: bold !important;">Réinitialisation du mot de passe</div>
                <div class="item">
                    <div class="ui segment">
                        <form class="ui form" method="POST" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            <p>
                                Entrez votre adresse email pour recevoir un lien de réinitialisation
                                du mot de passe.
                            </p>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="mail icon"></i>
                                    <input name="email" placeholder="Email" id="id_email" required />
                                </div>
                            </div>
                            <br>
                            <input type="submit" class="ui fluid large button color-button" value="Envoyer">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="column"></div>

    </div>

{% endblock content %}
