{% extends "ogsp/base_semantic.html" %}

{% load static %}

{% block logo %}
    {% include "ogsp/logo_entete.html" %}
{% endblock logo %}

  <br>
  <div class="ui stackable sixteen column grid" style="text-align: center;">

    <div class="two wide column menubas">
    </div>

    <div class="twelve wide column menubas">
      <div class="ui stackable container pointing menu">
        <a href="/" class="item color-button" style="color: #f39912;"><i class="home icon"></i></a>
        <div class="right menu">
        </div>
      </div>
    </div>

    <div class="two wide column"></div>

  </div>

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <div class="ui equal width grid center">

        <div class="four wide column"></div>

        <div class="eight wide column">
            <div class="ui vertical menu" style="width: 100%">
                <div class="active item color-input-ogsp" style="font-weight: bold !important;">Réinitialisation du mot de passe {% if validlink %}pour le compte {{ form.user.email }}{% endif %}</div>
                <div class="item">
                    <div class="ui segment">
                        {% if validlink %}
                            <form class="ui form" method="POST" action="" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="field">
                                    <label for="id_new_password1">Nouveau mot de passe&nbsp;:</label>
                                    <div class="ui left icon input">
                                        <i class="lock icon"></i>
                                        <input name="new_password1" placeholder="Mot de Passe" type="password"
                                               id="id_new_password1"
                                               required=""
                                               autocomplete="off"/>
                                    </div>
                                </div>
                                <div class="ui list" style="margin-left: 20px;font-weight: lighter;font-size: small">
                                    <div class="item" id="len">- Votre mot de passe doit contenir au minimum 12 caractères.</div>
                                    <div class="item" id="nums">- Votre mot de passe ne peut pas être entièrement numérique.</div>
                                </div>
                                <div class="field">
                                    <label for="id_new_password2">Confirmation du nouveau mot de passe&nbsp;:</label>
                                    <div class="ui left icon input">
                                        <i class="lock icon"></i>
                                        <input name="new_password2" placeholder="Mot de Passe" type="password"
                                               id="id_new_password2"
                                               required=""
                                               autocomplete="off"/>
                                    </div>
                                    <div class="ui list" style="margin-left: 20px;font-weight: lighter;font-size: small">
                                        <div class="item" id="mdp">- Les deux mots de passe doivent être identiques.</div>
                                    </div>
                                </div>

                                <br>
                                <input type="submit" class="ui fluid large button color-button" value="Envoyer">
                            </form>
                        {% else %}
                            <h3 class="card-title text-center">Réinitialisation du mot de passe</h3>
                            <div class="ui red message">
                              Le lien sur lequel vous avez cliqué est invalide. Merci de recommencer.
                            </div>
                            <a href="{% url 'password_reset' %}" class="ui fluid large button color-button">Nouvel envoi de mail de réinitialisation</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="four wide column"></div>

    </div>

    <script type="text/javascript">

        $(document).ready(function(){

            $(`#id_new_password1`).on('change paste keyup', function() {
                let str = this.value;
                let strThis = $(`#id_new_password2`).val()

                if (str.match( /^\d+$/g)) {
                    $(`#nums`).css("color", "red")
                } else {
                    $(`#nums`).css("color", "green")
                }

                if (str.length >= 12) {
                    $(`#len`).css("color", "green")
                } else {
                    $(`#len`).css("color", "red")
                }

                if (strThis !== str) {
                    $(`#mdp`).css("color", "red")
                } else {
                    $(`#mdp`).css("color", "green")
                }
            });
            $(`#id_new_password2`).on('change paste keyup', function() {
                let str = $(`#id_new_password1`).val()
                let strThis = this.value

                if (strThis !== str) {
                    $(`#mdp`).css("color", "red")
                } else {
                    $(`#mdp`).css("color", "green")
                }
            });

        });
    </script>

{% endblock content %}